{% if not is_setup_animation %}
from pykern import pkio
import sirepo.mpi
import subprocess

pkio.write_text(
    '{{ par_filename }}',
    """
{{ par }}
""",
)


{% if mpi_cores > 1 %}
sirepo.mpi.run_program(
{% else  %}
subprocess.check_call(
{% endif %}
    ['{{ exe_name }}', '{{ par_filename }}'],
)
{% endif %}
