@import 'variables.scss';

@mixin get-started-prev-next-arrows($btn_height, $btn_width, $btn_offset) {
  .get-started-next,
  .get-started-prev {
    position: absolute;
    top: 50%;
    margin-top: $btn_height * -.5;
    border-top: $btn_height * .5 solid transparent;
    border-bottom: $btn_height * .5 solid transparent;

    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      margin-top: $btn_height * -.5;
      border-top: $btn_height * .5 solid transparent;
      border-bottom: $btn_height * .5 solid transparent;
    }
  }

  .get-started-next {
    border-left: $btn_width solid $blue_line;
    right: $btn_offset * -1;

    &::after {
      left: $btn_width * -1 - 2;
      border-left: $btn_width solid $blue_medium;
    }
  }

  .get-started-prev {
    border-right: $btn_width solid $blue_line;
    left: $btn_offset * -1;

    &::after {
      right: $btn_width * -1 - 2;
      border-right: $btn_width solid $blue_medium;
    }
  }
}

.landing {
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 1px transparent;
  font-smooth: always;
  text-rendering: optimizeLegibility;

  background-image: linear-gradient(to right, $gradient_left 0%,$gradient_center 50%,$gradient_right 100%);
  background-position: center #{$header_strip_height};
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  font-family: 'Titillium Web', sans-serif;
    color: white;

  .max-width-container {
    padding: 0 60px 60px 60px;
  }

  /** General Styles */
  .text-bold {
    font-weight: bold;
    letter-spacing: 1px;
  }

  .text-italic {
    font-style: italic;
  }

  .text-green {
    color: $green;
  }

  .center-block {
    float: none;
  }

  h1 {
    color: $green;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 20px;
    font-weight: bold;
  }

  h2 {
    font-style: italic;
    font-weight: 300;
    font-size: 70px;
  }

  h3 {
    color: $blue_dark;
    font-weight: bold;
    font-size: 40px;

    &::before {
      content: '';
      display: block;
      height: 14px;
      width: 68px;
      margin-bottom: 5px;

      background-image: url('/img/heading-decoration.png');
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  h4 {
    color: $blue_medium;
    font-weight: bold;
    font-size: 25px;
  }

  h5 {
    color: $blue_dark;
    font-weight: bold;
    font-size: 25px;
  }

  h6 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
  }

  p, li {
    font-size: 16px;
  }

  ul {
    padding: 0;
  }

  a {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: $orange;

    &:hover {
      text-decoration: none;
      color: $blue_medium;
    }
  }

  .btn-link {
    position: relative;
    display: inline-block;
    color: white;
    background-color: $orange;
    padding: 10px 50px;
    font-size: 14px;
    overflow: hidden;

    &.full-width {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
    }

    &::after {
      display: none;
    }

    span {
      position: relative;

      &::after {
        content: '\00A0+';
        position: relative;
      }
    }

    $border_radius: 25px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: calc(100% + #{$border_radius});
      border-top-left-radius: $border_radius;
      border-bottom-left-radius: $border_radius;

      background-color: $blue_medium;
      transition: left 500ms;

      z-index: 0;
    }

    &:hover {
      color: white;

      &::before {
        left: $border_radius * -1;
      }
    }
  }

  code {
    font-family: "Courier New", Courier, monospace;
    color: black;
    background: none;
    padding: 0;
  }

  hr {
    border-top-color: $gray_medium;
  }

  /** End General Styles */

  .header-strip {
    height: $header_strip_height;
    background: linear-gradient(to right, $gradient_right 0%,$gradient_center 50%,$gradient_left 100%);
  }

  header {
    .main-nav {
      position: relative;
      display: flex;
      padding: 30px 0;
      align-items: center;
      transform: translateZ(0.1px);
      z-index: 1;

      img {
        max-width: 100%;
      }

      .home-link {
        &:hover {
          filter:  brightness(0) invert(1);
        }
      }

      .nav-items {
        flex-grow: 1;
        margin: 0;

        text-align: right;
        font-size: 16px;

        > li {
          display: inline-block;
          text-transform: uppercase;
          vertical-align: middle;

          > a {
            color: white;

            &:hover {
              color: $blue_nav;
            }

            &:not(.supported-codes)::after {
              content: none;
            }
          }
        }

        > li ~ li {
          margin-left: 25px;
        }
      }

      .supported-codes {
        position: relative;
        cursor: pointer;

        &:hover {
          .supported-codes-dropdown {
            visibility: visible;
            opacity: 1;
          }
        }

        > * {
          vertical-align: middle;
        }

        &:hover {
          > a {
            color: $blue_nav;
          }

          &::after {
            background-color: $blue_nav;
          }
        }

        &::after {
          content: '';
          display: inline-block;
          margin-left: 8px;
          height: 20px;
          width: 20px;
          border-radius: 10px;
          background-color: white;
          vertical-align: middle;
        }

        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          right: 5px;
          top: 11px;

          border-top: 7px solid $blue_medium;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
        }
      }

      .supported-codes-dropdown {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        top: 100%;
        right: 0;
        width: 100%;
        transition: height 500ms;

        transition: visibility 250ms, opacity 250ms;
        transition-delay: 100ms, 100ms;

        border-top: 5px solid transparent;

        > ul {
          padding: 10px 20px;
          background-color: white;

          box-shadow: 0 2px 5px rgba(0,0,0,0.8);

          > li {
            display: block;
            padding: 10px 0;
            text-align: center;
            margin: 0;

            a {
              color: $blue_medium;
            }
          }

          > li ~ li {
            border-top: 1px solid $gray_light;
          }
        }
      }
    }
  }

  .header-media-wrapper {
    position: absolute;
    top: $header_strip_height;
    left: 0;
    width: 100%;

    video, img {
      position: relative;
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10%;
      background-image: linear-gradient(to right, $gradient_left 0%,$gradient_center 50%,$gradient_right 100%);

      -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
    }
  }

  .nav-takeover {
    position: fixed;
    display: none; //Don't show on desktop size
    top: 0;
    left: 0;
    height: 0;
    width: 100vw;
    overflow: hidden;
    z-index: 9999;

    background: linear-gradient(to right, $gradient_right 0%,$gradient_center 50%,$gradient_left 100%);

    transition: height 500ms;

    &.active {
      height: 100vh;
    }

    .nav-takeover-close {
      position: absolute;
      top: 40px;
      right: 40px;
    }

    .nav-takeover-content {
      width: 100%;
      text-align: center;
      padding-top: 160px;

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        a {
          font-size: 56px;
          font-weight: normal;
          text-transform: none;
          color: $blue_nav;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .content-block {
    position: relative;
    padding: 64px 0 128px 0;
    color: black;
    text-align: center;

    > .row {
      display: inline-block;
      position: relative;
      width: 100%;
      max-width: 1300px;
      text-align: left;
    }

    a::after {
      content: '\00A0+';
    }

    .gradient-rule {
      height: 6px;
      margin-bottom: 40px;
      border: none;

      background: linear-gradient(to right, $gradient_right 0%,$gradient_center 50%,$gradient_left 100%);

      &.light {
        background: linear-gradient(to right, $gradient_left_light 0%,$gradient_center_light 50%,$gradient_right_light 100%);
      }
    }

    ul {
      list-style: none;
      padding-left: 20px;

      li::before {
        content: "\2022";
        color: $teal;
        display: inline-block;
        font-weight: bold;
        width: 20px;
        margin-left: -20px;
      }

      li ~ li {
        margin-top: 10px;
      }
    }
  }

  .intro {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 160px;
    transform: translateZ(0.1px);
    z-index: 1;

    &::before {
      content: '';

      display: block;

      height: 5px;
      width: 200px;

      margin: 0 auto;

      background-color: white;
    }

    .intro-content {
      text-align: center;
      color: white;
    }

    p {
      font-size: 24px;
    }

    .btn-link {
      margin-top: 25px;
      padding: 10px 75px;
      font-size: 17px;

      &::before {
        background-color: $teal;
      }
    }
  }

  .header-decoration {
    position: relative;
    display: flex;

    .curve-container {
      position: relative;

      // Fix most issues with Edge zoom
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 2px;
        background-color: white;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2px;
        background-color: white;
      }
    }

    .fill-white {
      background-color: white;
      flex-grow: 1;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url('/img/curve-header-left.png');
      background-size: cover;
      bottom: 2px;
      left: -60px;

      height: 302px;
      width: 385px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url('/img/curve-header-right.png');
      background-size: cover;
      bottom: 25px;
      right: -60px;

      height: 279px;
      width: 258px;
    }
  }

  .simulations {
    background-color: white;

    .simulation-items {
      display: flex;
      img {
        width: 100%;
      }
    }

    .simulation-item {
      display: flex;
      flex-direction: column;

      p {
        flex-grow: 1;
        margin-top: 5px;
        margin-bottom: 25px;
      }
    }

    .simulation-links {
      display: flex;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: calc(50% - 10px);
        padding: 10px;

        text-align: center;
      }
    }
  }

  .explore {
    background-color: $blue_light;

    &::after {
      content: '';
      position: absolute;
      background-image: url('/img/explore-curve-bottom.png');
      background-position: bottom right;

      bottom: -65px;
      right: 0;

      height: 315px;
      width: 1299px;
      max-width: 100%;

      z-index: 1;
    }

    .explore-items {
      position: relative;
      z-index: 2;
      & > article:nth-child(2n + 1) {
        clear: both;
      }

      article {
        margin-bottom: 25px;
      }
    }
  }

  .news-announcements {
    background-color: white;

    .news-announcements-items {
      & > article {
        background-color: $gray_light;
        padding: 35px;

        & ~ article {
          margin-top: 12px;
        }
      }
    }
  }

  .discover {
    background-color: white;
    background-position: left bottom;
    background-repeat: no-repeat;

    .discover-item {
      position: relative;
      img {
        width: 100%;
      }
    }

    .discover-item ~ .discover-item {
      margin-top: 40px;

      // Can't use border because of padding
      &::before {
        content: '';
        display: block;
        border-top: 2px solid $gray_medium;
        margin: 0 15px 40px 15px;
      }
    }
  }

  .perks {
    background-color: $blue_light;
    background-image: url('/img/perks-bg.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

    .perks-items {
      text-align: center;

      img {
        width: 80%;
        max-width: 186px;
      }
    }
  }

  .get-started {
    background-color: $blue_medium;
    color: white;
    z-index: 2;

    background-image: url('/img/get-started-curve-top.png');
    background-position: left -217px;
    background-repeat: no-repeat;

    &::after {
      content: '';
      position: absolute;
      background-image: url('/img/get-started-curve-bottom.png');
      background-position: bottom right;

      bottom: -65px;
      right: 0;

      height: 315px;
      width: 1299px;
      max-width: 100%;
    }

    h3, h4, p {
      color: white;
    }

    h3 {
      &::before {
        background-image: url('/img/heading-decoration-dark.png');
      }
    }

    .btn-link {
      &::before {
        background-color: $teal;
      }
    }

    .row {
      z-index: 2;
    }

    .get-started-intro {
      display: flex;
      position: relative;
    }

    @include get-started-prev-next-arrows(100px, 30px, 65px);

    .get-started-copy {
      display: flex;
      flex-direction: column;
    }

    .get-started-step-icons {
      display: flex;
      justify-content: space-between;
    }

    .get-started-steps {
      position: relative;
      flex-grow: 1;
    }

    .get-started-step {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 20px;

      transition: opacity 500ms;

      &.active {
        opacity: 1;
      }
    }

    .get-started-step-images-wrapper {
      overflow: hidden;
    }

    .get-started-step-images {
      font-size: 0;
      width: 400%;

      transition: transform 500ms;

      .get-started-step-image-wrapper {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        padding-bottom: 8px;
        padding-right: 8px;

        img {
          width: 100%;
          box-shadow: 8px 8px $blue_shadow;
        }

        img.double-image {
          width: 80%;
          display: block;
        }

        img.double-image ~ img.double-image {
          margin-top: 8px;
          float: right;
        }
      }
    }

    i {
      display: inline-block;
      font-style: normal;
      color: white;
      background-color: $teal;
      height: 60px;
      width: 60px;
      line-height: 60px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      border-radius: 30px;

      cursor: pointer;

      &.active {
        color: $blue_medium;
        background-color: white;
      }

      &:not(.active):hover {
        background-color: $orange;
      }
    }

    .simulation-demos-intro {
      margin-top: 60px;

      // Can't use border because of padding
      &::before {
        content: '';
        display: block;
        border-top: 2px solid $blue_line;
        margin: 0 15px 40px 15px;
      }
    }

    .simulation-demos {
      display: flex;
      margin-top: 20px;

      article {
        display: flex;
        flex-direction: column;
      }

      img {
        width: calc(100% - 8px);
        box-shadow: 8px 8px $blue_shadow;
      }

      a {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
      }
    }
  }

  .publications {
    background-color: white;
    padding-bottom: 40px;
  }

  .doe-footer {
    background-color: white;
    padding-bottom: 80px;

    .doe-footer-content{
      padding-top: 20px;
      display: flex;
      align-items: center;

      .doe-footer-image-container {
        flex-grow: 1;

        img {
          width: 100%;
          max-width: 281px;
        }
      }

      p {
        margin: 0 0 0 45px;
        font-size: 12px;
        color: $gray_medium;
      }
    }
  }

  .privacy, .terms {
    background-color: white;

    a {
      text-transform: none;
      letter-spacing: 0;
      font-weight: normal;
    }

    a::after {
      display: none;
    }

    ul {
      padding-left: 40px;
    }

    .upper {
      text-transform: uppercase;
    }

    ol {
      counter-reset: list;
      padding-left: 60px;

      & > li {
        list-style: none;

        &::before {
          display: inline-block;
          margin-left: -30px;
          width: 30px;
          content: counter(list, lower-alpha) ") ";
          counter-increment: list;
          font-weight: bold;
        }
      }
    }

    h4 {
      margin-top: 50px;
    }
  }

  footer {
    position: relative;
    z-index: 2; // To prevent explore curve lines from overlapping if there's no news articles

    background-color: $gray_dark;
    background-image: url('/img/footer-bg.jpg');
    background-size: cover;

    color: $gray_light;

    .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;

      * {
        margin: 0;
      }

    }

    padding: 55px;

    .footer-sirepo {
      margin-right: 25px;
    }

    .footer-nav {
      ul {
        padding: 0;
        text-align: center;
      }

      li {
        display: inline-block;

        a {
          color: $gray_light;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }

      li ~ li {
        margin-left: 10px;
      }
    }

    .footer-radiasoft {
      flex-grow: 1;
      text-align: right;
      color: $gray_medium;

      p {
        margin-top: 10px;
      }
    }
  }
}
