$green: #8fc741;
$blue_dark: #083157;
$blue_medium: #005eb4;
$blue_light: #d9f1f6;
$blue_nav: #4cdfff;
$blue_line: #74a7d6;
$blue_shadow: #004186;

$teal: #00a2c5;
$teal_shadow: #b7d7de;
$orange: #ff6000;
$gray_light: #e5e5e5;
$gray_medium: #9b9b9b;
$gray_dark: #666666;

$gradient_left: #003160;
$gradient_right: #00a6cb;
$gradient_center: #105dad;

$gradient_left_light: white;
$gradient_right_light: #0098c3;
$gradient_center_light: #7fd0e2;

$header_strip_height: 16px;
