{
    "data": {
      "forceRun": false,
      "report": "sourceIntensityReport",
      "models": {
        "arbitraryMagField": {
          "interpolationOrder": 1,
          "longitudinalPosition": 0,
          "magneticFile": "ivu21_srx_g6_2c.dat"
        }
    },
    "simulationType": "srw"
    },
    "jobCmd": "compute",
    "mpiCores": 1
}
