from pykern.pkcollections import PKDict
from xml.etree import ElementTree
import copy
import dagmc
import re
import sirepo.pkcli.openmc
import sirepo.simulation_db

{% if mcnpFilename %}
def materials_for_h5m(original_materials_file, h5m_file, output_materials_file):

    def h5m_volume_names(fn):
        r = []
        for g in dagmc.DAGModel(fn).groups_by_name.values():
            m = re.search(r"^mat:(Cell.*)$", g.name)
            if m:
                r.append(m.group(1))
        return r

    def nodes_by_material_id(fn):
        r = PKDict()
        for child in ElementTree.parse(fn).getroot():
            i = child.attrib.get("id")
            e = copy.deepcopy(child)
            del e.attrib["id"]
            r[int(i)] = e
        return r

    nodes = nodes_by_material_id(original_materials_file)
    r = ElementTree.Element("materials")
    for n in h5m_volume_names(h5m_file):
        m = re.search(r"^.*?\_(\d+)$", n)
        assert m
        i = int(m.group(1))
        if i in nodes:
            e = copy.deepcopy(nodes[i])
            e.set("name", n)
            r.append(e)
    ElementTree.ElementTree(r).write(
        output_materials_file, encoding="unicode", xml_declaration=True
    )
{% endif %}

{% if materialsFile %}
def _name(material_name):
    if material_name is not None:
        m = re.search("^mat:(.*)$", material_name)
        if m:
            return m.group(1)
    return material_name


def add_materials(volumes):
    e = ElementTree.parse("{{ materialsFile }}").getroot()
    if e.find("materials"):
        e = e.find("materials")
    for child in e:
        n = _name(child.attrib.get("name"))
        if not n or n not in volumes:
            i = child.attrib.get("id")
            if i is not None and str(i) in volumes:
                n = str(i)
            else:
                continue
        volumes[n].material = PKDict()
        volumes[n].key = n
        mat = volumes[n].material
        mat.name = n
        if "depletable" in child.attrib:
            mat.depletable = "1" if child.attrib["depletable"] == "true" else "0"
        if "volume" in child.attrib:
            mat.volume = float(child.attrib["volume"])
        if "temperature" in child.attrib:
            mat.temperature = float(child.attrib["temperature"])
        for m in child:
            if m.tag == "density":
                if (u := m.attrib["units"]) != "sum":
                    mat.density = float(m.attrib["value"])
                    mat.density_units = u
            elif m.tag == "nuclide":
                if "components" not in mat:
                    mat.components = []
                c = PKDict(
                    component="add_nuclide",
                    name=m.attrib["name"],
                )
                mat.components.append(c)
                if "ao" in m.attrib:
                    c.percent_type = "ao"
                    c.percent = float(m.attrib["ao"])
                elif "wo" in m.attrib:
                    c.percent_type = "wo"
                    c.percent = float(m.attrib["wo"])
{% endif %}

{% if mcnpFilename %}
sirepo.pkcli.openmc.geometry_xml_to_h5m("geometry.xml", "{{ dagmcFilename }}")
{% endif %}
{% if stepFilename %}
sirepo.pkcli.openmc.step_to_dagmc("{{ stepFilename }}", "{{ dagmcFilename }}")
{% endif %}
volumes = sirepo.pkcli.openmc.extract_dagmc("{{ dagmcFilename }}")

{% if mcnpFilename %}
materials_for_h5m("materials.xml", "{{ dagmcFilename }}", "{{ materialsFile }}")
{% endif %}
{% if materialsFile %}
add_materials(volumes)
{% endif %}
sirepo.simulation_db.write_json(
    "{{ volumeInfoFile }}",
    volumes,
)
