import subprocess
params = '''---
name: "{{ simulation.name }}"
breed: "{{ dog.breed }}"
gender: "{{ dog.gender }}"
height: {{ dog.height }}
weight: {{ dog.weight }}
'''

with open('{{ input_name }}', 'w') as f:
    f.write(params)

subprocess.check_call(
    ['hundli', '{{ input_name }}', '{{ output_name }}'],
)
