{%- macro rsOptFuctionSignature(addQuotes) -%}
{%- for e in rsOptElements -%}
{%- for p in rsOptParams -%}
{%- if p in e -%}
{%- for x in e[p].initial -%}
{%- if e[p].offsets[loop.index0] != 0 -%}
    {% if addQuotes %}"{% endif %}{{ fixSpaces(e.title) }}_{{ e[p].fieldNames[loop.index0] }}{% if addQuotes %}"{% endif %},
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
{%- endfor -%}
{%- endmacro -%}

{%- macro fixSpaces(t) -%}
{{ t | replace(" ", "_") }}
{%- endmacro -%}

def main():
    import h5py
    import numpy
    import skimage.transform

    MAX_SIZE = {{ maxOuputDimension }}
    beams = []
    param_vals = []
    for r in numpy.load("{{ fileBase }}.npy"):
        img = numpy.flipud(
            numpy.load(
                f"ensemble/worker{r['sim_worker']}/sim{r['sim_id']}/beam.npy"
            ).tolist()[0]
        )
        newshape = tuple(map(lambda x: MAX_SIZE if x > MAX_SIZE else x, img.shape))
        if newshape != img.shape:
            img = skimage.transform.resize(img, newshape)
        beams.append(img)
        param_vals.append(r["x"])
    with h5py.File("{{ resultsFileName }}", "w") as f:
        m = f.create_dataset("metadata", data=param_vals)
        m.attrs.create("parameters",  [{{ rsOptFuctionSignature(true) }}])
        f.create_dataset("images", data=beams)


if __name__ == "__main__":
    main()
