#!/bin/bash
{% if not runInSirepo %}
if [[ "$@" ]]; then
    echo usage: bash '{{ shFileName }}' 1>&2
    exit 0
fi
{% endif %}
set -euo pipefail
{% if not runInSirepo %}
run_dir=rsopt-srw-$(date +%Y%m%d%H%M%S)
mkdir "$run_dir"
cp '{{ ymlFileName }}' '{{ pyFileName }}' '{{ postProcFileName }}' {% for f in libFiles %}'{{ f }}' {% endfor %} "$run_dir"
cd "$run_dir"
{% endif %}
run_rsopt=( rsopt sample configuration '{{ ymlFileName }}' )
run_post=( python '{{ postProcFileName }}' )
echo "Running $run_rsopt"
echo "Output is in '{{ outFileName }}'"
echo "Entering $PWD"
"${run_rsopt[@]}" > '{{ outFileName }}' 2>&1
if [ $? -eq 0 ]
then
    echo Collecting data
    "${run_post[@]}"
{% if not runInSirepo %}
    echo Results are in "$run_dir"/"{{ resultsFileName }}"
{% endif %}
else
    echo "ERROR: rsopt failed with return code $?, see {{ outFileName }}"
    exit 99
fi
