#!/usr/bin/env python

from pykern import pkio
from sirepo.template import srw_importer
import os.path

parsed_data = None

def main():
    input_file = '{{ backgroundImport_inputPath }}'
    global parsed_data
    parsed_data = srw_importer.import_python(
        pkio.read_text(input_file),
        tmp_dir=os.path.dirname(input_file),
        user_filename='{{ backgroundImport_userFilename }}',
        arguments='{{ backgroundImport_arguments }}',
    )
