
from pykern import pkio
from sirepo.template import srw_importer

parsed_data = None

def main():
    global parsed_data
    parsed_data = srw_importer.import_python(
        pkio.read_text('{{ python_file }}'),
        user_filename='''{{ backgroundImport_userFilename }}''',
        arguments='''{{ backgroundImport_arguments }}''',
    )

main()
