These files facilitate the generation and use of input data for machine learning for SRW. They include:

{{ shFileName }}: a shell script that generates input data and runs SRW with it
{{ pyFileName }}: the SRW python script
{{ ymlFileName }}: a YML configuration file for rsopt
{{ postProcFileName }}: python post-processing
{{ readmeFileName }}: this README

{% if libFiles %}
Also included are auxiliary files required for the specific SRW simulation:
{{ libFiles }}
{% endif %}

To generate the input data and execute SRW, run
    'bash {{ shFileName }}'.

The script creates a new directory based on the current time and runs rsopt within it.

Please note:
    - rsopt generates the data and runs SRW in one step
    - If the machine running SRW has N cores, rsopt will attempt to execute in parallel on N - 1 cores
    - SRW will run {{ totalSamples }} times; use caution

The final consolidated input and output data for use in ML is in the hdf5 file "results.h5" under the "datasets" folder.
It has the following structure:
    - "/metadata": array of size {{ totalSamples }} containing the parameter values for each run
    - "/images": array of size {{ totalSamples }} containing the propagated single-electron intensity
        distribution vs horizontal and vertical position for each run
The parameter names are stored in an attribute named "parameters" on the metadata dataset
in the format <element name>_<param name>, e.g. "Aperture_horizontalSize".

Intermediate output is also available under the ensemble/worker[n]/sim[m] directories:

res_int_pr_se.dat:
    propagated single-e intensity distribution vs horizontal and vertical position

beam.npy:
    same information as in res_int_pr_se.dat, but in numpy format

params/values.npy:
    values of the parameters

