#!/bin/bash
if [ -d "{{ runDir }}" ] && [ -n "$(ls -A {{ runDir }})" ]; then
    for f in '{{ pyFileName }}' run_parallel_python.py; do
        rm -f "{{ runDir }}/$f"
    done
fi
run_rsopt="rsopt sample configuration '{{ ymlFileName }}'"
echo Running $run_rsopt...
eval "$run_rsopt" > "{{ outFileName }}" 2>&1
if [ $? -eq 0 ]
then
    last="$(tail -1 {{ outFileName }} ).npy"
    f_regex=H_sample.*
    if [[ $last =~ $f_regex ]]; then
        f="${BASH_REMATCH}"
    else
        echo ERROR: rsopt failed to write data
        exit 98
    fi
    run_py="python '{{ pyFileName }}' rsopt_run $f"
    read -p "Continue? (** will run SRW {{ totalSamples }} times **)? (Y/N): " confirm
    if [[ $confirm == [yY] ]]; then
        echo Running SRW...
        eval "$run_py"
        echo SRW output is in:
        ls -d1 datasets/*
    else
        echo "NOTE: to run SRW with generated data, use
        $run_py"
    fi
else
    echo "ERROR: rsopt failed with return code $?, see {{ outFileName }}"
    exit 99
fi
