#!/bin/bash
if [ -d "{{ runDir }}" ] && [ -n "$(ls -A {{ runDir }})" ]; then
   echo "Cleaning run directory {{ runDir }}..."
   rm {{ runDir }}/{{ pyFileName }}
   rm {{ runDir }}/run_parallel_python.py
fi
echo "Generating data..."
SECONDS=0
rsopt sample configuration "{{ ymlFileName }}" > "{{ outFileName }}" 2>&1
if [ $? -eq 0 ]
then
    echo "Completed generation in $SECONDS sec"
    run_py="python '{{ pyFileName }}' rsopt_run '$(tail -1 {{ outFileName }} | cut -d: -f2).npy'"
    read -p "Continue? (** will run SRW {{ totalSamples }} times **)? (Y/N): " confirm
    if [[ $confirm == [yY] ]]; then
        echo Running SRW...
        eval "$run_py"
        echo SRW output is in:
        ls -d1 datasets/*
    else
        echo "NOTE: $run_py to run SRW with generated data"
    fi
else
    echo "ERROR: rsopt failed with return code $?, see {{ outFileName }}"
    exit 99
fi
