codes:
  - python:
      settings:
      parameters:
        {% for e in rsOptElements %}
        {% for x in e.position %}
        {% if e.offsets[loop.index0] != 0 %}
        {{ e.title }}_{{ e.p_map[loop.index0] }}:
          min: {{ x - e.offsets[loop.index0] / 2.0 }}
          max: {{ x + e.offsets[loop.index0] / 2.0 }}
          samples: {{ numSamples }}
          start: {{ x }}
        {% endif %}
        {% endfor %}
        {% endfor %}
      setup:
        input_file: {{ pyFileName }}
        function: set_rsopt_params
        execution_type: parallel
        cores: {{ numCores }}
options:
  software: mesh_scan
  nworkers: {{ numWorkers }}
  sim_dirs_make: False

