#!/bin/bash
if [[ "$@" ]]; then
    echo usage: bash '{{ shFileName }}' 1>&2
    exit 0
fi
set -euo pipefail
run_dir=rsopt-srw-$(date +%Y%m%d%H%M%S)
mkdir "$run_dir"
cp {'{{ymlFileName }}','{{ pyFileName }}',{{ libFiles }}} "$run_dir"
cd "$run_dir"
run_rsopt=( rsopt sample configuration '{{ ymlFileName }}' )
echo "Running $run_rsopt"
echo "Output is in '{{ outFileName }}'"
echo "Entering $PWD"
"${run_rsopt[@]}" > '{{ outFileName }}' 2>&1
if [ $? -eq 0 ]
then
    run_py="python '{{ pyFileName }}' rsopt_run '{{ fileBase }}.npy'"
    read -p "Continue? (** will run SRW {{ totalSamples }} times **)? (Y/N): " confirm
    if [[ $confirm == [yY] ]]; then
        echo Running SRW...
        if eval "$run_py"; then
            echo Results are in datasets/results.h5
        else
            echo "ERROR: SRW failed with return code $?"
        fi
    else
        echo "NOTE: to run SRW with generated data:
        cd $run_dir
        $run_py"
    fi
else
    echo "ERROR: rsopt failed with return code $?, see {{ outFileName }}"
    exit 99
fi
