# other dependencies in setup.py
# has to be installed before setup.py is run
pykern
# needs to be here for Flask-OAuthlib, see https://github.com/radiasoft/sirepo/issues/1197
flask
# install_requires does not support git
git+git://github.com/dicompyler/dicompyler-core.git@1d52ea9322c6c889e6f1e3319a331d6a22d7a8c4#egg=dicompyler-core
cryptography
