# {{simulation_name}}
execution_mode = 'serial'

lattice_file = """
{{rpn_variables}}
w1: WATCH,filename="{{bunchOutputFile}}"
bl: LINE=(w1)
"""

elegant_file = """

&run_setup
  concat_order = "2",
  lattice = "elegant.lte",
  p_central_mev = "{{bunch_p_central_mev}}",
  use_beamline = "bl",
  {{bunchExpandForFile}}
&end

&run_control
&end

{% if bunchSource_inputSource == 'bunched_beam' %}
&bunched_beam
  n_particles_per_bunch = "{{bunch_n_particles_per_bunch}}",
  momentum_chirp = "{{bunch_momentum_chirp}}",
  distribution_type[0] = {{bunch_distribution_type}},
  distribution_cutoff[0] = {{bunch_distribution_cutoff}},
  enforce_rms_values[0] = {{bunch_enforce_rms_values}},
  limit_invariants = "{{bunch_limit_invariants}}",
  limit_in_4d = "{{bunch_limit_in_4d}}"
  emit_x = "{{bunch_emit_x}}",
  emit_y = "{{bunch_emit_y}}",
  beta_x = "{{bunch_beta_x}}",
  alpha_x = "{{bunch_alpha_x}}",
  beta_y = "{{bunch_beta_y}}",
  alpha_y = "{{bunch_alpha_y}}",
  eta_x = "{{bunch_eta_x}}",
  eta_y = "{{bunch_eta_y}}",
  etap_x = "{{bunch_etap_x}}",
  etap_y = "{{bunch_etap_y}}",
  sigma_dp = "{{bunch_sigma_dp}}",
  sigma_s = "{{bunch_sigma_s}}",
  dp_s_coupling = "{{bunch_dp_s_coupling}}",
  emit_z = "{{bunch_emit_z}}",
  beta_z = "{{bunch_beta_z}}",
  alpha_z = "{{bunch_alpha_z}}",
  halton_sequence[0] = {{bunch_halton_sequence}},
  optimized_halton = "{{bunch_optimized_halton}}",
  halton_radix[0] = {{bunch_halton_radix}},
  randomize_order[0] = {{bunch_randomize_order}},
  symmetrize = "{{bunch_symmetrize}}",
  centroid[0] = {{bunch_centroid}},
  time_start = "{{bunch_time_start}}",
  one_random_bunch = "0",
&end
{% endif %}

{% if bunchSource_inputSource == 'sdds_beam' %}
&sdds_beam
{% if bunchFileType %}
  input = "{{bunchInputFile}}",
  input_type = "{{bunchFileType}}",
  n_particles_per_ring = 1
{% endif %}
&end
{% endif %}

&track &end
"""
