# {{simulation_name}}
execution_mode = '{{simulationMode}}'

lattice_file = """
{{rpn_variables}}
{{lattice}}
"""

elegant_file = """
{{commands}}
"""
{% if openPMDFiles %}
import sirepo.template.elegant
{% for filename in openPMDFiles %}
sirepo.template.elegant.convert_to_sdds("{{ filename }}")
{% endfor %}
{% endif %}
