# {{simulation_name}}

from zgoubi import core, utils

line = core.Line('line')
rigidity = utils.ke_to_rigidity(10e6, 0.51099892e6)
ob = core.MCOBJET3(
    BORO=-rigidity,
    IMAX=1000,
    KY=3, KT=3, KZ=3, KP=3, KX=2, KD=2,
    Y0=-.3559E-2, T0=-2.9771E-2, Z0=0.00, P0=0.0, X0=3.3e-2, D0=1,
    alpha_y=-1.8, beta_y=.205, emit_y=15e-6, n_cutoff_y=2,
    alpha_z=1.17, beta_z=.266, emit_z=100e-69, n_cutoff_z=2,
    alpha_x=-4, beta_x=3, emit_x=2E-4, n_cutoff_x=-1, n_cutoff2_x=1,
    I1=123456, I2=234567, I3=345678,
)
line.add(ob)
line.add(core.ELECTRON())
{{ beamlineElements -}}
line.add(core.FAISCNL(FNAME='zgoubi.fai'))
line.add(core.REBELOTE(K=99, NPASS={{ simulationSettings_npass - 1 }}))
line.add(core.END())

with open('zgoubi.dat', 'w') as f:
    f.write(line.output())
