# {{simulation_name}}

from zgoubi import core, utils

line = core.Line('line')
{# TODO(pjm): allow selecting the beam params #}
line.add(core.FAKE_ELEM("""
'MCOBJET'
{{ beamParameters_rigidity }},
3
1000
2 2 2 2 2 2
0 0 0 0 0 1
1 10 4.6e-8 3
1 10 4.6e-8 3
1 10 2e-14 3
123456 234567 345678
"""))
line.add(core.FAKE_ELEM("""
'PARTICUL'
{{ beamParameters_particleType }}
"""))
{{ beamlineElements -}}
line.add(core.FAISCNL(FNAME='{{ outputFile }}'))
line.add(core.REBELOTE(K=99, NPASS={{ simulationSettings_npass - 1 }}))
line.add(core.END())

with open('zgoubi.dat', 'w') as f:
    f.write(line.output())
