
tunes_file = """
{{- tunesReport_turnStart }} {{ tunesReport_turnCount -}}
{{ ' ' -}}
{% if tunesReport_particleSelector == 'all' -%}
-1
{% else -%}
{{ tunesReport_particleSelector }}
{% endif %}
{{ tunesReport_nuMin }} {{ tunesReport_nuMax }} {{ tunesReport_nuMin }} {{ tunesReport_nuMax }} {{ tunesReport_nuMin }} {{ tunesReport_nuMax }}
2500 2500 2500
y
y
zgoubi.fai
"""