<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{data.simulationType}} - {{ company }}</title>
</head>
<body>
Extract {{ data.models.simulation.name | e }} to?
<!--TODO(robnagler) bind action to uri -->
<form action="{{ uri }}" method="post">
<input name="uri" type="text" value="{{ uri }} "/>
<button type="submit">Import</button>
<input name="zip" type="hidden" value="{{ zip }}" />
</form>
</body>
</html>
