# {{simulation_name}}

input_file = """
{{ solenoidCommand }}
{{ chargeCommand }}
{{ beamCommand }}
{{ currentCommand }}
! lattice element is required so make it very short and wide drift
DRIFT 1e-16 1e+16 2
END
"""
