import jupyterhub.spawner
import sirepo.jupyterhub

c.Application.log_level = '{{ "DEBUG" if jupyterhub_debug else "INFO" }}'
c.ConfigurableHTTPProxy.api_url = 'http://127.0.0.1:8111'
c.ConfigurableHTTPProxy.debug = {{ jupyterhub_debug }}
c.JupyterHub.authenticator_class = sirepo.jupyterhub.SirepoAuthenticator
c.JupyterHub.base_url = '/{{ uri_root }}'
c.JupyterHub.ip = '127.0.0.1'
c.JupyterHub.port = {{ jupyterhub_port }}
c.SirepoAuthenticator.sirepo_uri = '{{ sirepo_uri }}'
c.Spawner.debug = {{ jupyterhub_debug }}
c.Spawner.default_url = '/lab'
c.JupyterHub.template_paths = [sirepo.jupyterhub.template_dirs()]
