#!/usr/bin/env python
from pykern import pkconfig
pkconfig.append_load_path('sirepo')
from sirepo import server
import logging

# Needs to be explicit and pass on uwsgi
import uwsgi
app = server.init(uwsgi=uwsgi)
