---
# -*-yaml-*-
uwsgi:
  socket: {{ ip }}:{{ port }}
  master: true
  processes: {{ processes }}
  enable-threads: true
  threads: {{ threads }}
  wsgi-file: {{ uwsgi_py }}
  callable: app
  die-on-term: true
  stats: {{ run_dir }}/uwsgi.sock
  pidfile: {{ run_dir }}/uwsgi.pid
  need-app: true
  #TODO(robnagler) does not follow YAML spec, but works...
  log-format: '%(addr) - %(sirepo_user) [%(ltime)] "%(method) %(uri) %(proto)" %(status) %(size) "%(referer)" "%(uagent)"'
