---
# -*-yaml-*-
uwsgi:
  socket: {{ ip }}:{{ port }}
  master: true
  processes: {{ processes }}
  threads: {{ threads }}
  wsgi-file: {{ uwsgi_py }}
  callable: app
  die-on-term: true
  stats: {{ run_dir }}/uwsgi.sock
  pidfile: {{ run_dir }}/uwsgi.pid
  logto = {{ run_dir }}/uwsgi.log
