---
# -*-yaml-*-
uwsgi:
  socket: :{{ port }}
  master: true
  processes: 1
  threads: 40
  wsgi-file: {{ uwsgi_py }}
  callable: app
  chdir = {{ run_dir }}
  die-on-term: true
  stats: {{ run_dir }}/sock
  pidfile: {{ run_dir }}/pid
  {% if docker %}
  logto = {{ run_dir }}/uwsgi.log
  {% endif %}
