#!/usr/bin/env python
import pykern.pkconfig

# picked up by pkdebug and uwsgi
import logging

pykern.pkconfig.append_load_path("sirepo")
import sirepo.modules

# Needs to be explicit and pass on uwsgi
import uwsgi

app = sirepo.modules.import_and_init("sirepo.server").init_app(
    uwsgi=uwsgi, is_server=True
)
