.sr-navbar-spacer {
    padding-right: 25px;
}

.sr-navbar-container {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 10px;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.sr-navbar {
    padding: 0 !important;
    height: 50px;
    border-bottom: 1px solid #dee2e6;
}

.sr-navbar-container .nav-tabs .nav-item .nav-link {
  margin-top: 5px;
  padding-bottom: 14px;
}

.sr-navbar-container .navbar-nav .nav-link {
  height: 50px;
  display: flex;
  align-items: center;
}
.sr-navbar-container .navbar-nav .nav-link.active {
  background-color: #e7e7e7;
}

.sr-navbar-container .navbar-nav .nav-item.show {
  background-color: #e7e7e7;
}

.sr-app-title {
  height: 40px;
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
}
