body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sr-path-subtree {
  padding-left: 20px;
}

.sr-path-tree {
  width: 300px;
}

.sr-simulation-browser-thumbnail {
  width: 100px;
  height: 100px;
}

.sr-simulation-browser-thumbnails {

  flex-grow: 1;
}

.sr-simulation-browser {
}
