.sr-panel-header {
  font-weight: 350;
  line-height: 1.4;
  font-size: 21px;
  margin-bottom: 0;
}
.sr-panel-options > a, .sr-panel-options > div {
  margin-left: 1em;
}
input.sr-invalid, input.sr-invalid:focus {
  box-shadow: 0 0 0 0.25rem var(--bs-warning);
  border-color: var(--bs-form-invalid-border-color);
}
select.sr-invalid, select.sr-invalid:focus {
  box-shadow: 0 0 0 0.25rem var(--bs-warning);
  border-color: var(--bs-form-invalid-border-color);
}
textarea.sr-invalid, textarea.sr-invalid:focus {
  box-shadow: 0 0 0 0.25rem var(--bs-warning);
  border-color: var(--bs-form-invalid-border-color);
}
.sr-invalid ~ .invalid-feedback {
  display: block;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .sr-form-label {
    text-align: right;
  }
}
.sr-form-longlabel .col-form-label {
  font-weight: normal;
}

.btn.sr-button-save-cancel {
  min-width: 6em;
  margin-right: 0.5ex;
}

/* bootstrap css overrides */
.tooltip {
  --bs-tooltip-color: #000;
  --bs-tooltip-bg: #f9f9f9;
  --bs-tooltip-font-size: 0.75rem;
  --bs-tooltip-opacity: 1;
}
.tooltip-inner {
  border: 1px solid black;
}
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before
{
  border-bottom-color: black;
  bottom: 0;
}
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before
{
  border-top-color: black;
  top: 0;
}
.btn-outline-secondary {
  --bs-btn-color: #333;
}
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0;
}

body {
  --bs-body-font-size: 14px;
}
