<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 workspace">
      <p class="lead text-center" style="margin-bottom: 0"><small><em>{{ instructions }}</em></small></p>
      <div>
        <div data-ng-repeat="e in elevations track by $index" data-toggle="tooltip" title="{{ e.coordPlane.toUpperCase() }} Plane" class="btn btn-default" data-ng-class="{'btn-primary': settings.elevation == e.name}" style="margin: 2px;" data-ng-click="setElevation(e.name)">{{ e.coordPlane.toUpperCase() }}</div>
        <div class="sr-pull-right-sm" style="vertical-align: middle;">
          <label><input type="checkbox" data-ng-model="settings.snapToGrid"> Snap center to grid</label>
          <select data-ng-model="settings.snapGridSize" data-ng-disabled="! settings.snapToGrid">
              <option data-ng-repeat="s in snapGridSizes" value="{{ s }}">{{ s }}mm</option>
          </select>
          <label><input type="checkbox" data-ng-model="settings.autoFit"> Auto-fit</label>
          <div data-toggle="tooltip" title="Fit to objects" class="btn btn-default" style="margin: 2px;" data-ng-click="fitToShapes()">Fit</div>
        </div>
        <!-- NOTE: the <div> and <svg> must be on the same line for the png code to work! -->
        <div style="-webkit-user-select: none"><svg class="sr-plot">
          <g data-ng-attr-transform="translate({{ margin.left }}, {{ margin.top }})">
            <g data-ng-attr-transform="translate(0, {{ tileOffset() }})">
              <text class="focus-text" text-anchor="end" data-ng-attr-x="{{ width }}" y="-10" dy=".35em"></text>
              <g class="x axis" data-ng-attr-transform="translate(0, {{ height }})"></g>
              <g class="x axis grid" data-ng-attr-transform="translate(0, {{ height }})"></g>
              <g class="y axis"></g>
              <g class="y axis grid"></g>
              <text class="y-axis-label" transform="rotate(-90)" data-ng-attr-x="{{ -height / 2 }}" data-ng-attr-y="-{{ margin.left }}" dy="1em"></text>
              <text class="x-axis-label" ng-attr-x="{{ width / 2 }}" ng-attr-y="{{ height + 26 }}" dy="1em"></text>
              <text class="x-base" text-anchor="end" ng-attr-x="{{ width + margin.right - 5 }}" ng-attr-y="{{ height + 40 }}"></text>
              <svg class="plot-viewport elevation-front" data-ng-attr-width="{{ width }}" data-ng-attr-height="{{ height }}" data-ng-drop="isDropEnabled()" data-ng-drag-move="dragMove($data, $event)" data-ng-drop-success="dropSuccess($data, $event)">
                <defs>
                    <marker id="arrow" markerWidth="10" markerHeight="10" refX="10" refY="4" orient="auto" markerUnits="strokeWidth">
                        <path d="M0,0 L0,8 L9,4 z" fill="#000" />
                    </marker>
                </defs>
                <rect class="overlay mouse-zoom" data-ng-attr-width="{{ width }}" data-ng-attr-height="{{ height }}"></rect>
              </svg>
            </g>
          </g>
        </svg></div>
      </div>
    </div>

    <div class="col-md-4 sr-pull-right-sm">
        <div data-object-table="" data-elevation="getElevation()" data-model-name="{{ modelName }}" data-source="source" data-overlay-buttons="alignmentTools"></div>
    </div>

  </div>
</div>
