<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 workspace">
      <p class="lead text-center" style="margin-bottom: 0"><small><em>{{ instructions }}</em></small></p>
      <div>
      <!-- TODO: repeat -->
        <div data-toggle="tooltip" title="XY Plane" class="btn btn-default" data-ng-class="{'btn-primary': elevation == 'front'}" style="margin: 2px;" data-ng-click="setElevation('front')">XY</div>
        <div data-toggle="tooltip" title="YZ Plane" class="btn btn-default" data-ng-class="{'btn-primary': elevation == 'side'}" style="margin: 2px;" data-ng-click="setElevation('side')">YZ</div>
        <div data-toggle="tooltip" title="ZX Plane" class="btn btn-default" data-ng-class="{'btn-primary': elevation == 'top'}" style="margin: 2px;" data-ng-click="setElevation('top')">ZX</div>
        <div class="sr-pull-right-sm" style="vertical-align: middle;">
          <label><input type="checkbox" data-ng-model="snapToGrid"> Snap center to grid</label>
          <select data-ng-model="snapGridSize" data-ng-disabled="! snapToGrid">
              <option value="0.1">0.1mm</option>
              <option value="0.5">0.5mm</option>
              <option value="1" selected>1mm</option>
              <option value="5" >5mm</option>
              <option value="10" >10mm</option>
          </select>
          <label><input type="checkbox" data-ng-model="autoFit"> Auto-fit</label>
          <div data-toggle="tooltip" title="Fit to objects" class="btn btn-default" style="margin: 2px;" data-ng-click="fitToShapes()">Fit</div>
        </div>
        <!-- NOTE: the <div> and <svg> must be on the same line for the png code to work! -->
        <div style="-webkit-user-select: none"><svg class="sr-plot">
          <g data-ng-attr-transform="translate({{ margin.left }}, {{ margin.top }})">
            <g data-ng-attr-transform="translate(0, {{ tileOffset() }})">
              <text class="focus-text" text-anchor="end" data-ng-attr-x="{{ width }}" y="-10" dy=".35em"></text>
              <g class="x axis" data-ng-attr-transform="translate(0, {{ height }})"></g>
              <g class="x axis grid" data-ng-attr-transform="translate(0, {{ height }})"></g>
              <g class="y axis"></g>
              <g class="y axis grid"></g>
              <text class="y-axis-label" transform="rotate(-90)" data-ng-attr-x="{{ -height / 2 }}" data-ng-attr-y="-{{ margin.left }}" dy="1em"></text>
              <text class="x-axis-label" ng-attr-x="{{ width / 2 }}" ng-attr-y="{{ height + 26 }}" dy="1em"></text>
              <text class="x-base" text-anchor="end" ng-attr-x="{{ width + margin.right - 5 }}" ng-attr-y="{{ height + 40 }}"></text>
              <svg class="plot-viewport elevation-front" data-ng-attr-width="{{ width }}" data-ng-attr-height="{{ height }}" data-ng-drop="isDropEnabled()" data-ng-drag-move="dragMove($data, $event)" data-ng-drop-success="dropSuccess($data, $event)">
                <defs>
                    <marker id="arrow" markerWidth="10" markerHeight="10" refX="10" refY="4" orient="auto" markerUnits="strokeWidth">
                        <path d="M0,0 L0,8 L9,4 z" fill="#000" />
                    </marker>
                </defs>
                <rect class="overlay mouse-zoom" data-ng-attr-width="{{ width }}" data-ng-attr-height="{{ height }}"></rect>
              </svg>
            </g>
          </g>
        </svg></div>
      </div>
    </div>

    <div class="col-md-4 sr-pull-right-sm">
      <div class="panel panel-info">
        <div class="panel-heading"><span class="sr-panel-heading">Objects</span></div>
        <div class="panel-body">
            <table data-ng-show="getObjects().length" style="width: 100%;  table-layout: fixed" class="table table-striped table-condensed radia-table-dialog">
              <thead></thead>
              <tbody data-ng-repeat="obj in getObjects() track by obj.id">
                <tr>
                    <td style="padding-left: 1em; cursor: pointer; white-space: nowrap">
                        <span style="font-size: large; color: {{obj.color || '#cccccc'}};">■</span> <span>{{ obj.name }}</span>
                        <span class="sr-button-bar-parent" data-ng-if="isGroup(obj)">
                          <button data-ng-repeat="t in alignmentTools" title="{{ t.title }}" data-ng-click="align(obj, t.type)"><img src="/static/svg/{{ t.type }}.svg" width="24px" height="24px"></button>
                        </span>
                    </td>
                    <td style="text-align: right">
                      <div class="sr-button-bar-parent">
                        <div class="sr-button-bar" data-ng-class="sr-button-bar-active">
                             <button data-ng-if="! isGroup(obj)" class="btn btn-info btn-xs" data-ng-click="copyObject(obj)" title="copy">Copy</button>
                             <button data-ng-click="editObject(obj)" class="btn btn-info btn-xs" title="edit">Edit</button>
                             <button data-ng-click="deleteObject(obj)" class="btn btn-danger btn-xs" title="delete"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                      </div>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>

  </div>
</div>

