<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div data-basic-editor-panel="" data-view-name="mlModel"></div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-xxl-8">
      <div data-simple-panel="neuralNetLayer">
        <div data-neural-net-layers-form="" data-layer-target=""></div>
      </div>
    </div>
    <div class="col-md-6 col-xxl-4">
      <div class="row">
        <div class="col-sm-12">
          <div data-basic-editor-panel="" data-view-name="neuralNet"></div>
        </div>
        <div class="col-sm-12" data-ng-show="regression.hasModel()">
          <div data-simple-panel="simulationStatus">
            <div data-sim-status-panel="regression.simState"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xxl-4" data-ng-if="regression.hasFrames('epochAnimation')">
      <div data-report-panel="parameter" data-model-name="epochAnimation">
        <div data-model-download-link="" data-model-name="mlModel"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-xxl-4" data-ng-if="regression.imageToImage()">
      <div data-report-panel="imageViewer" data-model-name="segmentSamplesAnimation"></div>
    </div>
    <div class="col-md-6 col-xxl-4" data-ng-if="regression.imageToImage()">
      <div data-report-panel="parameter" data-model-name="dicePlotAnimation"></div>
    </div>
    <div class="col-md-6 col-xxl-4" data-ng-if="regression.imageToImage()">
      <div data-report-panel="imageViewer" data-model-name="bestLossesAnimation"></div>
    </div>
    <div class="col-md-6 col-xxl-4" data-ng-if="regression.imageToImage()">
      <div data-report-panel="imageViewer" data-model-name="worstLossesAnimation"></div>
    </div>
    <div data-ng-repeat="report in regression.reports track by report.columnNumber">
      <div class="col-xs-6 col-md-3 col-xxl-2">
        <div data-report-panel="heatmap" data-model-name="fitAnimation" data-model-data="report.data" data-panel-title="{{ report.title }}"></div>
      </div>
      <div data-ng-if="$index % 4 == 3" class="clearfix hidden-xl"></div>
      <div data-ng-if="$index % 6 == 5" class="clearfix visible-xl"></div>
    </div>
  </div>
</div>
