    <div class="container-fluid">
      <!-- Toolbar -->
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center bg-info">
            <span data-ng-repeat="item in beamline.toolbar_items" class="srw-toolbar-button srw-beamline-image" data-ng-drag="true" data-ng-drag-data="item">
              <canvas data-toolbar-item="" data-item="item"></canvas><br>{{ item.title }}
            </span>
          </p>
        </div>
      </div>

      <!-- Beamline -->
      <div class="srw-beamline text-center" data-ng-drop="true" data-ng-drop-success="beamline.drop_complete($data, $event)">
        <div class="lead pull-right"><a href data-ng-show="beamline.get_beamline().length" data-ng-click="beamline.show_propagation_modal()" title="Propagation Parameters"><span class="glyphicon glyphicon-cog"></span></a></div>
        <p class="lead text-center">beamline definition area<br>
          <small><em>drag and drop optical elements here to define the beamline</em></small></p>
        <div class="srw-beamline-container">

          <div style="display: inline-block" data-ng-repeat="item in beamline.get_beamline() track by item.id">
            <div data-ng-if="$first" class="srw-drop-between-zone" data-ng-drop="true" data-ng-drop-success="beamline.drop_between(0, $data)">&nbsp;</div><div data-ng-drag="true" data-ng-drag-data="item" data-item="item" data-beamline-item="" class="srw-beamline-element">
              <span class="srw-beamline-badge badge">{{ item.position }}m</span>
              <span data-ng-click="beamline.remove_element(item)" class="srw-beamline-close-icon glyphicon glyphicon-remove-circle"></span>
              <div class="srw-beamline-image"><canvas></canvas></div>
              <div data-ng-attr-id="srw-item-{{ item.id }}" class="srw-beamline-element-label">{{ item.title }}<span class="caret"></span></div>
            </div><div class="srw-drop-between-zone" data-ng-drop="true" data-ng-drop-success="beamline.drop_between($index + 1, $data)">&nbsp;</div>
          </div>
        </div>
        <div class="row"><div class="srw-popup-container-lg col-sm-10 col-md-8 col-lg-6"></div></div>
        <div class="row">
          <form name="beamlineForm">
            <div class="col-md-6 col-sm-8 pull-right cssFade" data-ng-show="beamline.is_dirty">
              <button data-ng-click="beamline.save_changes()" class="btn btn-primary">Save Changes</button>
              <a href class="btn btn-default" data-ng-show="beamline.get_beamline().length" data-ng-click="beamline.show_propagation_modal()"><span class="glyphicon glyphicon-cog"></span> Propagation Parameters</a>
              <button data-ng-click="beamline.cancel_changes()" class="btn btn-default">Cancel</button>
            </div>
          </form>
        </div>
      </div>

      <div class="srw-editor-holder" style="display:none">
        <div id="srw-aperture-editor" data-beamline-editor="" data-model-name="aperture"></div>
        <div id="srw-crl-editor" data-beamline-editor="" data-model-name="crl"></div>
        <div id="srw-lens-editor" data-beamline-editor="" data-model-name="lens"></div>
        <div id="srw-mirror-editor" data-beamline-editor="" data-model-name="mirror"></div>
        <div id="srw-obstacle-editor" data-beamline-editor="" data-model-name="obstacle"></div>
        <div id="srw-watch-editor" data-beamline-editor="" data-model-name="watch"></div>
      </div>

    </div> <!-- /container -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-xl-4">
          <div data-report-panel="3d" data-model-name="initialIntensityReport"></div>
        </div>
        <div class="col-md-6 col-xl-4" data-ng-repeat="item in beamline.get_beamline('watch') track by item.id">
          <div data-report-panel="3d" data-model-name="watchpointReport" data-item="item"></div>
        </div>
      </div>
    </div>

    <!-- modal dialogs -->
    <div data-modal-editor="initialIntensityReport"></div>
    <div data-modal-editor="watchpointReport" data-ng-repeat="item in beamline.get_beamline('watch') track by item.id" data-item-id="{{ item.id }}"></div>

<div class="modal fade" id="srw-propagation-parameters" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <span class="lead modal-title text-info">Propagation Parameters</span>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <table class="table table-striped table-condensed ">
              <thead>
                <tr>
                  <th>Element</th>
                  <th class="srw-tiny-heading">Auto-resize before propagation</th>
                  <th class="srw-tiny-heading">Auto-resize after propagation</th>
                  <th class="srw-tiny-heading">Relative precision for propagation with auto-resizing <span title="1. is nominal" class="glyphicon glyphicon-info-sign srw-info-pointer"></span></th>
                  <th class="srw-tiny-heading">Allow for semi-analytical treatment of the quadratic (leading) phase terms at the propagation</th>
                  <th class="srw-tiny-heading">Do any resizing on fourier side, using FFT</th>
                  <th class="srw-tiny-heading">Horizontal range modification factor at resizing <span title="1. means no modification" class="glyphicon glyphicon-info-sign srw-info-pointer"></span></th>
                  <th class="srw-tiny-heading">Horizontal resolution modification factor at resizing</th>
                  <th class="srw-tiny-heading">Vertical range modification factor at resizing</th>
                  <th class="srw-tiny-heading">Vertical resolution modification factor at resizing</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="prop in beamline.propagations track by $index">
                  <td>{{ prop.title }}</td>
                  <td class="srw-center"><input type="checkbox" data-ng-model="prop.params[0]" data-ng-true-value="1", data-ng-false-value="0"></td>
                  <td class="srw-center"><input type="checkbox" data-ng-model="prop.params[1]" data-ng-true-value="1", data-ng-false-value="0"></td>
                  <td><input type="text" class="srw-small-float" data-ng-model="prop.params[2]"></td>
                  <td class="srw-center"><input type="checkbox" data-ng-model="prop.params[3]" data-ng-true-value="1", data-ng-false-value="0"></td>
                  <td class="srw-center"><input type="checkbox" data-ng-model="prop.params[4]" data-ng-true-value="1", data-ng-false-value="0"></td>
                  <td><input type="text" class="srw-small-float" data-ng-model="prop.params[5]"></td>
                  <td><input type="text" class="srw-small-float" data-ng-model="prop.params[6]"></td>
                  <td><input type="text" class="srw-small-float" data-ng-model="prop.params[7]"></td>
                  <td><input type="text" class="srw-small-float" data-ng-model="prop.params[8]"></td>
                </tr>
                <tr class="warning">
                  <td>Final post-propagation (resize)</td>
                  <td class="srw-center"><input type="checkbox" data-ng-model="beamline.post_propagation[0]" data-ng-true-value="1", data-ng-false-value="0"></td>
                  <td class="srw-center"><input type="checkbox" data-ng-model="beamline.post_propagation[1]" data-ng-true-value="1", data-ng-false-value="0"></td>
                  <td><input type="text" class="srw-small-float" data-ng-model="beamline.post_propagation[2]"></td>
                  <td class="srw-center"><input type="checkbox" data-ng-model="beamline.post_propagation[3]" data-ng-true-value="1", data-ng-false-value="0"></td>
                  <td class="srw-center"><input type="checkbox" data-ng-model="beamline.post_propagation[4]" data-ng-true-value="1", data-ng-false-value="0"></td>
                  <td><input type="text" class="srw-small-float" data-ng-model="beamline.post_propagation[5]"></td>
                  <td><input type="text" class="srw-small-float" data-ng-model="beamline.post_propagation[6]"></td>
                  <td><input type="text" class="srw-small-float" data-ng-model="beamline.post_propagation[7]"></td>
                  <td><input type="text" class="srw-small-float" data-ng-model="beamline.post_propagation[8]"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
           <div class="col-sm-offset-6 col-sm-3">
              <button data-dismiss="modal" class="btn btn-primary"style="width: 100%" >Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
