    <div class="container-fluid">
      <!-- Toolbar -->
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center bg-info">
            <span data-ng-repeat="item in beamline.toolbar_items" class="srw-toolbar-button srw-beamline-image" data-ng-drag="true" data-ng-drag-data="item">
              <canvas data-toolbar-item="" data-item="item"></canvas><br>{{ item.title }}
            </span>
          </p>
        </div>
      </div>

      <!-- Beamline -->
      <div class="srw-beamline text-center" data-ng-drop="true" data-ng-drop-success="beamline.drop_complete($data, $event)">
        <div class="lead pull-right"><a href title="Propagation Parameters"><span class="glyphicon glyphicon-cog"></span></a></div>
        <p class="lead text-center">beamline definition area<br>
          <small><em>drag and drop optical elements here to define the beamline</em></small></p>
        <div class="srw-beamline-container">

          <div style="display: inline-block" data-ng-repeat="item in beamline.get_beamline() track by item.id">
            <div data-ng-if="$first" class="srw-drop-between-zone" data-ng-drop="true" data-ng-drop-success="beamline.drop_between(0, $data)">&nbsp;</div><div data-ng-drag="true" data-ng-drag-data="item" data-item="item" data-beamline-item="" class="srw-beamline-element">
              <span class="srw-beamline-badge badge">{{ item.position }}m</span>
              <span data-ng-click="beamline.remove_element(item)" class="srw-beamline-close-icon glyphicon glyphicon-remove-circle"></span>
              <div class="srw-beamline-image"><canvas></canvas></div>
              <div data-ng-attr-id="srw-item-{{ item.id }}" class="srw-beamline-element-label">{{ item.title }}<span class="caret"></span></div>
            </div><div class="srw-drop-between-zone" data-ng-drop="true" data-ng-drop-success="beamline.drop_between($index + 1, $data)">&nbsp;</div>
          </div>
        </div>
        <div class="row"><div class="srw-popup-container-lg col-sm-10 col-md-8 col-lg-6"></div></div>
        <div class="row">
          <form name="beamlineForm">
            <div class="col-md-6 col-sm-8 pull-right cssFade" data-ng-show="beamline.is_dirty">
              <button data-ng-click="beamline.save_changes()" class="btn btn-primary">Save Changes</button>
              <button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span> Propagation Parameters</button>
              <button data-ng-click="beamline.cancel_changes()" class="btn btn-default">Cancel</button>
            </div>
          </form>
        </div>
      </div>

      <div class="srw-editor-holder" style="display:none">
        <div id="srw-aperture-editor" data-beamline-editor="" data-model-name="aperture"></div>
        <div id="srw-crl-editor" data-beamline-editor="" data-model-name="crl"></div>
        <div id="srw-lens-editor" data-beamline-editor="" data-model-name="lens"></div>
        <div id="srw-mirror-editor" data-beamline-editor="" data-model-name="mirror"></div>
        <div id="srw-obstacle-editor" data-beamline-editor="" data-model-name="obstacle"></div>
        <div id="srw-watch-editor" data-beamline-editor="" data-model-name="watch"></div>
      </div>

    </div> <!-- /container -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-xl-4">
          <div data-report-panel="3d" data-model-name="initialIntensityReport"></div>
        </div>
        <div class="col-md-6 col-xl-4" data-ng-repeat="item in beamline.get_beamline('watch') track by item.id">
          <div data-report-panel="3d" data-model-name="watchpointReport" data-item="item"></div>
        </div>
      </div>
    </div>

    <!-- modal dialogs -->
    <div data-modal-editor="initialIntensityReport"></div>
    <div data-modal-editor="watchpointReport" data-ng-repeat="item in beamline.get_beamline('watch') track by item.id" data-item-id="{{ item.id }}"></div>
