
  <ul data-ng-if="warpvndService.is3D() && ! source.usesSTL()" class="nav nav-tabs">
    <li role="presentation" data-ng-class="{active: ! is3dPreview }"><a class="srw-tab" href data-ng-click="toggle3dPreview()"><strong>Layout</strong></a></li>
    <li role="presentation" data-ng-class="{active: is3dPreview }"><a class="srw-tab" href data-ng-click="toggle3dPreview()"><strong><span class="glyphicon glyphicon-option-vertical"></span> 3D Preview</strong></a></li>
  </ul>

<div data-ng-show="! is3dPreview || ! warpvndService.is3D()">
  <p class="lead text-center" style="margin-bottom: 0"><small><em>drag and drop conductor types here to layout the simulation grid</em></small></p>
  <div>
    <!-- NOTE: the <div> and <svg> must be on the same line for the png code to work! -->
    <div style="-webkit-user-select: none"><svg class="sr-plot">
        <g ng-attr-transform="translate({{ margin.left }}, {{ margin.top }})">
          <text class="focus-text" text-anchor="end" ng-attr-x="{{ width }}" y="-10" dy=".35em"></text>
          <g class="x axis" ng-attr-transform="translate(0, {{ height }})"></g>
          <g class="x axis grid" ng-attr-transform="translate(0, {{ height }})"></g>
          <g class="y axis"></g>
          <g class="y axis grid"></g>
          <text class="y-axis-label" transform="rotate(-90)" ng-attr-x="{{ - height / 2 }}" ng-attr-y="-{{ margin.left }}" dy="1em"></text>
          <text class="x-axis-label" ng-attr-x="{{ width / 2 }}" ng-attr-y="{{ height + 26 }}" dy="1em"></text>
          <text class="x-base" text-anchor="end" ng-attr-x="{{ width + margin.right - 5 }}" ng-attr-y="{{ height + 40 }}"></text>
          <svg class="plot-viewport" ng-attr-width="{{ width }}" ng-attr-height="{{ height }}" data-ng-drop="true" data-ng-drag-move="dragMove($data, $event)" data-ng-drop-success="dropSuccess($data, $event)">
              <rect class="overlay mouse-zoom" ng-attr-width="{{ width }}" ng-attr-height="{{ height }}"></rect>
          </svg>
          <g data-ng-show="warpvndService.is3D()" data-ng-attr-transform="translate(0, {{ margin.top + height + zMargin()}})">
            <defs>
              <clippath id="zx-grid-clip">
                <rect ng-attr-width="{{ width + 1 }}" ng-attr-height="{{ zHeight }}"></rect>
              </clippath>
            </defs>
              <text class="focus-text" text-anchor="end" ng-attr-x="{{ width }}" y="-10" dy=".35em"></text>
              <g class="z axis"></g>
              <g class="z axis grid"></g>
              <g clip-path="url(#zx-grid-clip)">
                  <g class="zx axis grid" ng-attr-transform="translate(0, {{ zHeight }})"></g>
              </g>
              <text class="z-axis-label" transform="rotate(-90)" ng-attr-x="{{ - zHeight / 2 }}" ng-attr-y="-{{ margin.left }}" dy="1em"></text>
              <svg class="z-plot-viewport" ng-attr-width="{{ width }}" ng-attr-height="{{ zHeight }}">
                  <rect class="overlay mouse-zoom" ng-attr-width="{{ width }}" ng-attr-height="{{ zHeight }}"></rect>
              </svg>
          </g>
        </g>
      </svg></div>
  </div>
</div>
<div data-ng-if="warpvndService.is3D() && is3dPreview">
 <div data-conductors-3d="" data-report-id="reportId"></div>
</div>
