
  <ul data-ng-if="warpvndService.is3D()" class="nav nav-tabs">
    <li role="presentation" data-ng-class="{active: ! is3dPreview }"><a class="srw-tab" href data-ng-click="toggle3dPreview()"><strong>Layout</strong></a></li>
    <li role="presentation" data-ng-class="{active: is3dPreview }"><a class="srw-tab" href data-ng-click="toggle3dPreview()"><strong><span class="glyphicon glyphicon-option-vertical"></span> 3D Preview</strong></a></li>
  </ul>

<div data-ng-show="! is3dPreview || ! warpvndService.is3D()">
  <p class="lead text-center" style="margin-bottom: 0"><small><em>drag and drop conductor types here to layout the simulation grid</em></small></p>
  <span data-ng-show="warpvndService.is3D()"><a href="" data-ng-click="toggleTiledDomain()"><span class="glyphicon" data-ng-class="{'glyphicon-check': isDomainTiled, 'glyphicon-unchecked': ! isDomainTiled}"></span></a> <span>Show periodic domain</span></span>
  <div class="sr-screenshot">
    <!-- NOTE: the <div> and <svg> must be on the same line for the png code to work! -->
    <div style="-webkit-user-select: none"><svg class="sr-plot">
        <g data-ng-attr-transform="translate({{ margin.left }}, {{ margin.top }})">
            <g data-ng-attr-transform="translate(0, {{ tileOffset() }})">
              <text class="focus-text" text-anchor="end" data-ng-attr-x="{{ width }}" y="-10" dy=".35em"></text>
              <g class="x axis" data-ng-attr-transform="translate(0, {{ height }})"></g>
              <g class="x axis grid" data-ng-attr-transform="translate(0, {{ height }})"></g>
              <g class="y axis"></g>
              <g class="y axis grid"></g>
              <text class="y-axis-label" transform="rotate(-90)" data-ng-attr-x="{{ -height / 2 }}" data-ng-attr-y="-{{ margin.left }}" dy="1em"></text>
              <text class="x-axis-label" ng-attr-x="{{ width / 2 }}" ng-attr-y="{{ height + 26 }}" dy="1em"></text>
              <text class="x-base" text-anchor="end" ng-attr-x="{{ width + margin.right - 5 }}" ng-attr-y="{{ height + 40 }}"></text>
              <svg class="plot-viewport" data-ng-attr-width="{{ width }}" data-ng-attr-height="{{ height }}" data-ng-drop="true" data-ng-drag-move="dragMove($data, $event)" data-ng-drop-success="dropSuccess($data, $event)">
                  <defs>
                      <pattern id="reflectionPattern-anode" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                          <path d="M0,0 l20,20" stroke="{{  source.conductorColors.nonZero }}" stroke-width="1.5" stroke-opacity="{{ source.getReflectOpacity('anode') }}"></path>
                      </pattern>
                      <pattern data-ng-repeat="conductorType in source.conductorTypes() track by conductorType.id" id="reflectionPattern-{{ conductorType.id }}" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                          <path d="M0,0 l20,20" stroke="{{ conductorType.color }}" stroke-width="1.5" stroke-opacity="{{ source.getReflectOpacity(conductorType.id) }}"></path>
                      </pattern>
                  </defs>
                  <rect class="overlay mouse-zoom" data-ng-attr-width="{{ width }}" data-ng-attr-height="{{ height }}"></rect>
              </svg>
            </g>
            <g data-ng-show="warpvndService.is3D()" data-ng-attr-transform="translate(0, {{ margin.top + height + zMargin() + tileOffset() }})">
              <defs>
                <clippath id="zx-grid-clip">
                  <rect ng-attr-width="{{ width + 1 }}" ng-attr-height="{{ zHeight }}"></rect>
                </clippath>
              </defs>
              <text class="focus-text" text-anchor="end" ng-attr-x="{{ width }}" y="-10" dy=".35em"></text>
              <g class="z axis"></g>
              <g class="z axis grid"></g>
              <g clip-path="url(#zx-grid-clip)">
                  <g class="zx axis grid" ng-attr-transform="translate(0, {{ zHeight }})"></g>
              </g>
              <text class="z-axis-label" transform="rotate(-90)" ng-attr-x="{{ - zHeight / 2 }}" ng-attr-y="-{{ margin.left }}" dy="1em"></text>
              <svg class="z-plot-viewport" ng-attr-width="{{ width }}" ng-attr-height="{{ zHeight }}">
                  <rect class="overlay mouse-zoom" ng-attr-width="{{ width }}" ng-attr-height="{{ zHeight }}"></rect>
              </svg>
            </g>
            <g data-ng-show="isDomainTiled">
              <svg data-ng-attr-width="{{ 3 * tileInsetSize().width }}" data-ng-attr-height="{{ 3 * tileInsetSize().height }}">
                  <g id="tile-master" data-ng-attr-transform="translate({{ tileInsetOffset().x }}, {{ tileInsetSize().height }})">
                  <rect id="tile-center" class="warpvnd-inset-tile"  data-ng-class="{'warpvnd-inset-tile-warning': conductorNearBoundary}" ng-attr-width="{{ tileInsetSize().width }}" ng-attr-height="{{ tileInsetSize().height }}"></rect>
                  </g>
                  <use id="tile-top" href="#tile-master" data-ng-attr-transform="translate(0, {{ -tileInsetSize().height }})" style="opacity: {{ tileOpacity }};"></use>
                  <use id="tile-bottom" href="#tile-master" data-ng-attr-transform="translate(0, {{ tileInsetSize().height }})" style="opacity: {{ tileOpacity }};"></use>
                  <use data-ng-show="warpvndService.is3D()" id="tile-left" href="#tile-master"   data-ng-attr-transform="translate({{ -tileInsetSize().width }}, 0)" style="opacity: {{ tileOpacity }};"></use>
                  <use data-ng-show="warpvndService.is3D()" id="tile-right" href="#tile-master"  data-ng-attr-transform="translate({{ tileInsetSize().width }}, 0)" style="opacity: {{ tileOpacity }};"></use>
              </svg>
            </g>
        </g>
      </svg></div>
  </div>
</div>
<div data-ng-if="warpvndService.is3D() && is3dPreview">
 <div data-conductors-3d="" data-parent-controller="source"></div>
</div>
