<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-2">
      <h1>Reproduce Simulation?</h1>
      <p>The URL you provided refers to a simulation for a different session.</p>
      <p>Would you like to <strong>Copy</strong> the simulation into your existing session?</p>
      <p data-ng-show="notFoundCopy.hasUserCopy()">Or <strong>Open</strong> your existing copy of that simulation?</p>
      <br />
      <button class="btn btn-default" data-ng-class="{'btn-primary': ! notFoundCopy.hasUserCopy()}" data-ng-click="notFoundCopy.copyButton()">Copy Simulation</button>
      <button class="btn btn-default btn-primary" data-ng-show="notFoundCopy.hasUserCopy()" data-ng-click="notFoundCopy.openButton()">Open Existing Simulation</button>
      <button class="btn btn-default" data-ng-click="notFoundCopy.cancelButton()">Cancel</button>
    </div>
  </div>
</div>
