<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div data-ng-show="source.isBunchSource('bunched_beam')" data-basic-editor-panel="" data-view-name="bunch"></div>
      <div data-ng-show="source.isBunchSource('sdds_beam')" data-basic-editor-panel="" data-view-name="bunchFile"></div>
    </div>
    <div class="clearfix"></div>
    <div data-ng-repeat="item in source.bunchReports track by item.id">
      <div class="col-md-6 col-xl-4">
        <div data-report-panel="heatmap" data-model-name="bunchReport" data-model-data="item" data-panel-title="{{ source.bunchReportHeading(item) }}"></div>
      </div>
      <div data-ng-if="$index % 2" class="clearfix hidden-xl"></div>
    </div>
  </div> <!-- /row -->
</div> <!-- /container -->

<!-- modal dialogs -->
<div data-modal-editor="" view-name="bunchReport" data-ng-repeat="item in source.bunchReports track by item.id" data-model-data="item"></div>
