<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">

      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <div data-simple-heading="Simulation Status" data-model-key="visualization.statusModel">
            <div class="dropdown" style="display: inline-block">
              <a data-ng-if="visualization.simState.isStopped()" href class="dropdown-toggle" data-toggle="dropdown" title="Download"> <span class="sr-panel-heading glyphicon glyphicon-cloud-download" style="margin-bottom: 0"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">Download</li>
                <li><a href data-ng-href="{{ visualization.logFileURL() }}" target="_blank">Elegant Log File</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-body" data-ng-hide="visualization.panelState.isHidden(visualization.statusModel)">
          <form name="form" class="form-horizontal" autocomplete="off" novalidate data-ng-show="visualization.simState.isProcessing()">
            <div class="col-sm-12" data-ng-show="visualization.simState.isStatePending()">
              <div>
                {{ visualization.simState.stateAsText() }}  {{ visualization.simState.dots }}
              </div>
            </div>
            <div class="col-sm-12" data-ng-show="visualization.simState.isStateRunning()">
              <div>
                {{ visualization.simState.stateAsText() }}  {{ visualization.simState.dots }}
                <div data-simulation-status-timer="visualization.simState.timeData"></div>
              </div>
              <div class="progress">
                <div class="progress-bar" data-ng-class="{ 'progress-bar-striped active': visualization.simState.isInitializing() }" role="progressbar" aria-valuenow="{{ visualization.simState.getPercentComplete() }}" aria-valuemin="0" aria-valuemax="100" data-ng-attr-style="width: {{ visualization.simState.getPercentComplete() }}%">
                </div>
              </div>
            </div>
            <div class="col-sm-6 pull-right">
              <button class="btn btn-default" data-ng-click="visualization.simState.cancelSimulation()">End Simulation</button>
            </div>
          </form>
          <form name="form" class="form-horizontal" autocomplete="off" novalidate data-ng-show="visualization.simState.isStopped()">
            <div class="col-sm-12">
              Simulation
              <span>{{ visualization.simState.stateAsText() }}</span><span data-ng-show="visualization.simState.hasTimeData()">:
              <span data-simulation-status-timer="visualization.simState.timeData"></span>
              </span>
              <br><br>
              <div data-ng-if="visualization.simulationErrors" class="well well-lg">
                <div class="text-warning"><strong>{{ visualization.errorHeader() }}</strong></div>
                  <p class="elegant-error-box">{{ visualization.simulationErrors }}</p>
                  <br>
                  <a data-ng-href="{{ visualization.logFileURL() }}" target="_blank">View elegant log</a>
              </div>
            </div>
            <div data-run-simulation-fields=""></div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4" data-ng-show="visualization.simState.hasFrames()">
        <div data-parameter-table=""></div>
    </div>
    <div class="clearfix"></div>
    <div data-ng-repeat="item in visualization.outputFiles" data-column-for-aspect-ratio="{{ item.modelAccess.modelKey }}" data-ng-if="visualization.simState.hasFrames()">
      <div data-report-panel="{{ item.reportType }}" data-model-data="item.modelAccess" data-panel-title="{{ appState.models[item.modelAccess.modelKey].panelTitle }}"></div>
    </div>

  </div> <!-- /row -->
</div> <!-- /container -->
<div data-element-animation-modal-editor="" data-ng-repeat="item in visualization.outputFiles" data-report-info="item"></div>
