<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">

      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <span class="sr-panel-heading">Simulation Status</span>
          <div class="sr-panel-options pull-right">
            <div class="dropdown" style="display: inline-block">
              <a data-ng-if="visualization.hasOutput()" href class="dropdown-toggle" data-toggle="dropdown" title="Download"> <span class="sr-panel-heading glyphicon glyphicon-cloud-download" style="margin-bottom: 0"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">Download</li>
                <li><a href data-ng-href="{{ visualization.logFileURL() }}" target="_blank">Elegant Log File</a></li>
                <li data-ng-repeat="item in visualization.auxFiles"><a data-ng-href="{{ visualization.downloadFileUrl(item) }}">{{ item.filename }}</a></li>
              </ul>
            </div>
            <a href data-ng-click="visualization.panelState.toggleHidden('simulationStatus')" data-ng-hide="visualization.panelState.isHidden('simulationStatus')" title="Hide"><span class="sr-panel-heading glyphicon glyphicon-triangle-top"></span></a>
            <a href data-ng-click="visualization.panelState.toggleHidden('simulationStatus')" data-ng-show="visualization.panelState.isHidden('simulationStatus')" title="Show"><span class="sr-panel-heading glyphicon glyphicon-triangle-bottom"></span></a>
          </div>
        </div>
        <div class="panel-body" data-ng-hide="visualization.panelState.isHidden('simulationStatus')">
          <form name="form" class="form-horizontal" novalidate data-ng-show="visualization.isStateProcessing()">
            <div class="col-sm-12" data-ng-show="visualization.isStatePending()">
              <div>
                {{ visualization.stateAsText() }}  {{ visualization.dots }}
              </div>
            </div>
            <div class="col-sm-12" data-ng-show="visualization.isStateRunning()">
              <div>
                {{ visualization.stateAsText() }}  {{ visualization.dots }}
                <div data-simulation-status-timer="visualization.timeData"></div>
              </div>
              <div class="progress">
                <div class="progress-bar" data-ng-class="{ 'progress-bar-striped active': visualization.isInitializing() }" role="progressbar" aria-valuenow="{{ visualization.displayPercentComplete() }}" aria-valuemin="0" aria-valuemax="100" data-ng-attr-style="width: {{ visualization.displayPercentComplete() }}%">
                </div>
              </div>
            </div>
            <div class="col-sm-6 pull-right">
              <button class="btn btn-default" data-ng-click="visualization.cancelSimulation()">End Simulation</button>
            </div>
          </form>
          <form name="form" class="form-horizontal" novalidate data-ng-show="visualization.isStateStopped()">
            <div class="col-sm-12">
              Simulation
              <span>{{ visualization.stateAsText() }}</span><span data-ng-show="visualization.hasTimeData()">:
              <span data-simulation-status-timer="visualization.timeData"></span>
              </span>
              <br><br>
              <div data-ng-if="visualization.simulationErrors" class="well well-lg">
                <div class="text-warning"><strong>elegant Errors:</strong></div>
                  <p class="elegant-error-box">{{ visualization.simulationErrors }}</p>
                  <br>
                  <a data-ng-href="{{ visualization.logFileURL() }}" target="_blank">View elegant log</a>
              </div>
            </div>
            <div data-run-simulation-fields=""></div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div data-parameter-table=""></div>
    </div>
    <div class="clearfix"></div>
    <div data-ng-repeat="item in visualization.outputFiles" class="col-md-6 col-xl-4">
      <div data-report-panel="{{ item.reportType }}" data-model-name="{{ item.modelName }}" data-model-data="item.modelAccess" data-panel-title="{{ appState.models[item.modelAccess.modelKey].panelTitle }}"></div>
    </div>

  </div> <!-- /row -->
</div> <!-- /container -->
<div data-element-animation-modal-editor="" data-ng-repeat="item in visualization.outputFiles" data-model-key="{{ item.modelAccess.modelKey }}" data-parent-controller="visualization"></div>
