<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">

      <div data-basic-editor-panel="" data-view-name="simulationStatus" data-want-buttons="">
       <div data-canceled-due-to-timeout-alert="visualization.simState"></div>
          <form name="form" class="form-horizontal" autocomplete="off" novalidate data-ng-show="visualization.simState.isProcessing()">
            <div class="col-sm-12" data-pending-link-to-simulations="" data-sim-state="visualization.simState"></div>
            <div class="col-sm-12" data-ng-show="visualization.simState.isStateRunning()">
              <div>
                {{ visualization.runningStatusText() }}
                <div data-simulation-status-timer="visualization.simState"></div>
              </div>
              <div data-sim-state-progress-bar="" data-sim-state="visualization.simState"></div>
            </div>
            <div class="col-sm-6 pull-right">
              <button class="btn btn-default" data-ng-click="visualization.simState.cancelSimulation()">{{ visualization.stopButtonLabel() }}</button>
            </div>
          </form>
          <form name="form" class="form-horizontal" autocomplete="off" novalidate data-ng-show="visualization.simState.isStopped()">
            <div class="col-sm-12">
              <div data-simulation-stopped-status="visualization.simState"></div>
              <div class="col-sm-12" data-simulation-status-timer="visualization.simState"></div>
              <br><br>
              <div class="well well-lg" data-ng-show="visualization.simulationAlerts || visualization.simState.hasFrames()">
                <div data-ng-if="visualization.simulationAlerts">
                  <div class="text-warning"><strong>{{ visualization.errorHeader() }}</strong></div>
                  <p class="elegant-error-box">{{ visualization.simulationAlerts }}</p>
                  <br>
                </div>
                <div data-view-log-modal-wrapper></div>
              </div>
            </div>
            <div class="col-sm-6 pull-right" data-ng-show="visualization.simState.isStopped()">
              <button class="btn btn-default" data-ng-click="visualization.startSimulation()">{{ visualization.startButtonLabel() }}</button>
            </div>
          </form>
      </div>
    </div>

    <div class="col-md-6 col-xl-4" data-ng-show="visualization.simState.hasFrames()">
        <div data-parameter-table=""></div>
    </div>
    <div class="clearfix"></div>
    <div data-ng-repeat="item in visualization.outputFiles" data-column-for-aspect-ratio="{{ item.modelAccess.modelKey }}" data-ng-if="visualization.simState.hasFrames()">
      <div data-report-panel="{{ item.reportType }}" data-model-data="item.modelAccess" data-panel-title="{{ appState.models[item.modelAccess.modelKey].panelTitle }}"></div>
    </div>

  </div> <!-- /row -->
</div> <!-- /container -->
<div data-element-animation-modal-editor="" data-ng-repeat="item in visualization.outputFiles" data-report-info="item"></div>
