<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="row">
      <div class="col-sm-12">
      <div class="panel panel-info">
        <div class="panel-heading clearfix" data-panel-heading="Simulation Status" data-model-key="'simulationStatus'"></div>
        <div class="panel-body" data-ng-hide="visualization.panelState.isHidden('simulationStatus')">
          <form name="form" class="form-horizontal" novalidate data-ng-show="visualization.isStateProcessing()">
            <div data-ng-show="visualization.isStatePending()">
              <div class="col-sm-12">
                 {{ visualization.stateAsText() }} {{ visualization.dots }}
              </div>
            </div>
            <div data-ng-show="visualization.isStateRunning()">
              <div class="col-sm-12">
                <div data-ng-show="visualization.isInitializing()">
                   Running Simulation {{ visualization.dots }}
                </div>
                <div data-ng-show="visualization.getFrameCount() > 0">
                  Completed frame: {{ visualization.getFrameCount() }}
                </div>
                <div class="progress">
                  <div class="progress-bar" data-ng-class="{ 'progress-bar-striped active': visualization.isInitializing() }" role="progressbar" aria-valuenow="{{ visualization.displayPercentComplete() }}" aria-valuemin="0" aria-valuemax="100" data-ng-attr-style="width: {{ visualization.displayPercentComplete() }}%">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pull-right">
              <button class="btn btn-default" data-ng-click="visualization.cancelSimulation()">End Simulation</button>
            </div>
          </form>
          <form name="form" class="form-horizontal" novalidate data-ng-show="visualization.isStateStopped()">
            <div class="col-sm-12" data-ng-show="visualization.getFrameCount() >= 1">
              Simulation
              <span>{{ visualization.stateAsText() }}</span><span>:
                {{ visualization.getFrameCount() }} animation frames
              </span>
              <br><br>
            </div>
            <div data-ng-show="visualization.simulationState() =='error'">
              <div class="col-sm-12">
                {{ visualization.stateAsText() }}
              </div>
            </div>
            <div class="col-sm-6 pull-right">
              <button class="btn btn-default" data-ng-click="visualization.runSimulation()">Start New Simulation</button>
            </div>
          </form>
          <div class="clearfix"></div>
          <div data-summary-table="animation"></div>
        </div>
      </div>
      </div>
    <div class="col-sm-12">
      <div data-report-panel="heatmap" data-model-name="fieldAnimation"></div>
    </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div data-report-panel="parameter" data-model-name="currentAnimation"></div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div data-report-panel="particle" data-model-name="particleAnimation"></div>
    </div>
  </div>
</div>

<div data-modal-editor="" view-name="simulationStatus" data-parent-controller="visualization"></div>
