<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div data-basic-editor-panel="" data-view-name="problemFiles">
         <div data-zip-file-status=""></div>
      </div>
    </div>
    <div class="col-sm-6" data-ng-if="setup.flashService.hasArchiveFiles()">
      <div class="row">
        <div class="col-sm-12">
          <div data-setup-arguments-panel=""></div>
        </div>
        <div class="col-md-12">
          <div data-simple-panel="setupAnimation">
            <div>{{ setup.successMessage }}</div>
            <div class="well" style="margin-top: 1ex" data-ng-if="setup.hasLogFiles()">
              <a data-ng-href="{{ setup.logURL('setupLogFrameId') }}" target="_blank">View setup log</a>
              <br />
              <a data-ng-href="{{ setup.logURL('compileLogFrameId') }}" target="_blank">View compile log</a>
            </div>
            <div data-sim-status-panel="setup.simState" data-start-function="setup.startSimulation()"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
