<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" data-ng-if="physics.flashService.isFlashType('CapLaserBELLA')">
      <div data-basic-editor-panel="" data-view-name="physicssourceTermsEnergyDepositionLaser"></div>
    </div>
    <div class="col-md-6" data-ng-if="physics.flashService.isFlashType('CapLaserBELLA')">
      <div data-basic-editor-panel="" data-view-name="physicsRadTrans"></div>
    </div>
    <div class="col-md-6">
      <div data-basic-editor-panel="" data-view-name="physicsHydro"></div>
    </div>
    <div class="col-md-6" data-ng-if="physics.flashService.isFlashType('CapLaserBELLA')">
      <div data-basic-editor-panel="" data-view-name="physicsDiffuse"></div>
    </div>
    <div class="col-md-6" data-ng-if="physics.flashService.isFlashType('CapLaserBELLA')">
      <div data-basic-editor-panel="" data-view-name="physicsmaterialProperties"></div>
    </div>
    <div class="col-md-6" data-ng-if="physics.flashService.isFlashType('RTFlame')">
      <div data-basic-editor-panel="" data-view-name="physicsGravity"></div>
    </div>
    <div class="col-md-6" data-ng-if="physics.flashService.isFlashType('RTFlame')">
      <div data-basic-editor-panel="" data-view-name="physicssourceTermsFlame"></div>
    </div>
  </div>
</div>
