<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" data-ng-if="source.flashService.isFlashType('RTFlame')">
      <div data-basic-editor-panel="" data-view-name="Simulation:RTFlame"></div>
    </div>
    <div class="col-md-6" data-ng-if="source.flashService.isFlashType('CapLaser')">
      <div data-basic-editor-panel="" data-view-name="Simulation:magnetoHD:CapLaser"></div>
    </div>
    <div class="col-md-6">
      <div data-basic-editor-panel="" data-view-name="Grid"></div>
    </div>
  </div>
</div>
