<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div data-basic-editor-panel="" data-view-name="simulationControl"></div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div data-simple-panel="simulationStatus">
        <div data-sim-status-panel="visualization.simState"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-xl-4" data-ng-if="visualization.simState.hasFrames()">
      <div data-report-panel="parameter" data-model-name="parameterAnimation"></div>
    </div>
    <div class="col-md-6 col-xl-4 col-xxl-3" data-ng-if="visualization.frameCache.hasFrames('finalParticleAnimation')">
      <div data-report-panel="heatmap" data-model-name="finalParticleAnimation"></div>
    </div>
    <div class="col-md-6 col-xl-4 col-xxl-3" data-ng-if="visualization.frameCache.hasFrames('finalFieldAnimation')">
      <div data-report-panel="heatmap" data-model-name="finalFieldAnimation"></div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-xl-4 col-xxl-3" data-ng-if="visualization.frameCache.hasFrames('particleAnimation')">
      <div data-report-panel="heatmap" data-model-name="particleAnimation"></div>
    </div>
    <div class="col-md-6 col-xl-4 col-xxl-3" data-ng-if="visualization.frameCache.hasFrames('fieldDistributionAnimation')">
      <div data-report-panel="heatmap" data-model-name="fieldDistributionAnimation"></div>
    </div>
  </div>
</div>
