<div data-lp-body="">
  <lp-info>
    <div data-lp-info-panel="">
      <lp-info-content>
        <div class="lp-info-panel-content-header"></div>
        <div>
          <p>
              RadiaSoft has COMSOL apps that you can run remotely on our sever.  Send us your name and email address and we will reply with a link.
          </p>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label>Name:</label>
            <input type="text" class="form-control" data-ng-model="landingPage.comsolName">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
             <label>Email:</label>
              <input type="text" class="form-control" data-ng-model="landingPage.comsolEmail" data-ng-pattern="/\S\@\S*\.\S/">
          </div>
        </div>
        <div class="lp-launch-button">
          <button class="btn btn-default" data-ng-click="landingPage.comsolRegister()" data-ng-disabled="!(landingPage.comsolName && landingPage.comsolEmail)"><h4>Register</h4></button>
        </div>
      </lp-info-content>
      <lp-info-docs>
      </lp-info-docs>
      <lp-info-pubs>
      </lp-info-pubs>
      <lp-info-doe-footer>
      </lp-info-doe-footer>
    </div>
  </lp-info>
</div>

<div class="modal fade" id="comsol-register-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <span class="lead modal-title text-info">Thank You!</span>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              We'll contact you with the steps to access the COMSOL applications.
            </div>
            <div class="col-sm-6 pull-right" style="margin-top: 1em">
              <button data-dismiss="modal" class="btn btn-default" data-ng-click="landingPage.location.url('/')">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
