<div ng-class="{'s-plot-loading': isLoading(), 's-plot-cleared': dataCleared}">
  <div class="panzoom" style="background-color: white"><svg class="s-plot" ng-attr-width="{{ width }}" ng-attr-height="{{ height }}">
      <g ng-attr-transform="translate({{ margin }},{{ margin }})">
        <g ng-attr-transform="translate({{ xOffset }},{{ yOffset }}) scale({{ scale }})">
          <g ng-repeat="group in svgGroups" ng-attr-transform="rotate({{ group.rotate }},{{ group.rotateX }},{{ group.rotateY }})">
            <g ng-repeat="item in group.items" ng-switch="item.element.type" ng-dblclick="itemClicked(item.element)">
              <rect ng-switch-when="DRIF" ng-attr-x="{{ item.x }}" ng-attr-y="{{ item.y }}" ng-attr-width="{{ item.width }}" ng-attr-height="{{ item.height }}" style="fill: lightgrey"><title>{{ item.element.name }}</title></rect>
              <circle ng-switch-when="CSRCSBEND" ng-attr-cx="{{ item.cx }}" ng-attr-cy="{{ item.cy }}" ng-attr-r="{{ item.radius }}" style="fill: blue"><title>{{ item.element.name }}</title></circle>
              <g ng-switch-when="WATCH" ng-attr-transform="translate({{ item.x }},{{ item.y }})">
                <path d="M0 0 L 0 -0.6 L 0.2 -0.5 L 0 -0.4" style="stroke: black; fill: lightgreen; stroke-width: 0.01"><title>{{ item.element.name }}</title></path>
              </g>
            </g>
          </g>
        </g>
      </g>
  </svg></div>
</div>
