<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3"><div class="well text-center">
        Please login.
        <div data-ng-if=":: login.loginService.isEmailAuth" style="margin-top: 2ex">
          <a href class="btn btn-primary" data-target="#sr-email-login" data-toggle="modal" data-ng-click="login.loginService.enableNotification(false)">Sign in</a>
          <div data-email-login-modal=""></div>
        </div>
        <div data-ng-if="::! login.loginService.isEmailAuth" style="margin-top: 2ex">
          <div style="display: inline" data-login-class="btn btn-primary" data-login-link=""></div>
          <a data-ng-href="{{ login.anonymousUrl }}" class="btn btn-default">Anonymous Access</a>
        </div>
    </div></div>
  </div>
</div>
