<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div data-basic-editor-panel="" data-view-name="simulationSettings"></div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div data-simple-panel="simulationStatus">
        <div data-sim-status-panel="visualization.simState"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div data-ng-repeat="item in visualization.outputFiles" data-column-for-aspect-ratio="{{ item.modelAccess.modelKey }}" data-ng-if="visualization.simState.hasFrames()">
      <div data-report-panel="{{ item.reportType }}" data-model-data="item.modelAccess" data-panel-title="{{ item.panelTitle }}"></div>
    </div>
  </div> <!-- /row -->
</div> <!-- /container -->
<div data-element-animation-modal-editor="" data-ng-repeat="item in visualization.outputFiles" data-report-info="item"></div>
