<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div data-basic-editor-panel="" data-view-name="simulationSettings"></div>
    </div>
    <div class="col-md-6">
      <div data-simple-panel="simulationStatus">
        <div data-sim-status-panel="classification.simState"></div>
      </div>
    </div>
    <div class="col-md-6" data-ng-if="classification.hasFrames()">
      <div data-report-panel="parameter" data-model-name="knnErrorRateAnimation"></div>
    </div>
    <div class="col-md-6" data-ng-if="classification.hasFrames()">
      <div data-report-panel="classificationMetrics" data-model-name="knnClassificationMetricsAnimation">
    </div>
    <div class="col-md-6" data-ng-if="classification.hasFrames()">
      <div data-report-panel="confusionMatrix" data-model-name="knnConfusionMatrixAnimation"></div>
    </div>
  </div>
</div>
