<div data-ng-if="! geometry.hasServerStatus" data-loading-indicator="'Verifying geometry'"></div>
<div class="container-fluid" data-ng-if="geometry.hasServerStatus">
  <div class="row">
    <div class="col-md-6 col-xl-4" data-ng-if="! geometry.isGeometryProcessed()">
      <div data-basic-editor-panel="" data-view-name="geometryInput">
        <div data-ng-if="geometry.isGeometrySelected()" style="margin-top: 1em" data-sim-status-panel="geometry.simState"></div>
      </div>
    </div>
    <div class="col-sm-3" data-ng-if="geometry.isGeometryProcessed()">
      <div data-simple-panel="volumes">
        <div data-volume-selector=""></div>
      </div>
    </div>
    <div class="col-sm-9" data-ng-if="geometry.isGeometryProcessed()">
      <div data-report-panel="geometry3d" data-model-name="geometry3DReport"></div>
    </div>
  </div>
</div>
