<div data-ng-class="{'sr-plot-loading': isLoading(), 'sr-plot-cleared': dataCleared}">
  <div class="sr-plot-particle-3d">

    <div class=".sr-plot-legend .plot-visibility" data-ng-show="hasReflected">
      <div>
        <span style="color: steelblue; font-size: 18px;">&#x25CF;</span>Absorbed <a href="" data-ng-click="toggleAbsorbed()"><span class="glyphicon" data-ng-class="{'glyphicon-eye-open': showAbsorbed, 'glyphicon-eye-close': ! showAbsorbed}"></span></a>
        [Impact Points <a href="" data-ng-click="toggleImpact()"> <span class="glyphicon" data-ng-class="{'glyphicon-eye-open': showImpact, 'glyphicon-eye-close': ! showImpact}"></span></a>]
      </div>
      <div>
        <span style="color: #e04836; font-size: 18px;">&#x25CF;</span>Reflected <a href="" data-ng-click="toggleReflected()"><span class="glyphicon" data-ng-class="{'glyphicon-eye-open': showReflected, 'glyphicon-eye-close': ! showReflected}"></span></a>
      </div>
      <div>
        <span style="color: green; font-size: 18px;">&#x25CF;</span>Conductors <a href="" data-ng-click="toggleConductors()"><span class="glyphicon" data-ng-class="{'glyphicon-eye-open': showConductors, 'glyphicon-eye-close': ! showConductors}"></span></a>
      </div>
    </div>

    <div class="vtk-canvas-holder" style="border-style: solid; border-width: 1.0px; border-color: black; border-radius: 6.0px;"></div>
  </div>
</div>
