<div data-ng-class="{'sr-plot-loading': isLoading(), 'sr-plot-cleared': dataCleared}">
  <div class="sr-plot sr-plot-particle-3d">

    <div class=".sr-plot-legend .plot-visibility">
        <div class="row">
            <div class="col-sm-6">
              <div>
                <a href="" data-ng-click="toggleAbsorbed()"><span class="glyphicon" data-ng-class="{'glyphicon-check': showAbsorbed, 'glyphicon-unchecked': ! showAbsorbed}"></span></a> Absorbed
              </div>
              <div>
                <a href="" data-ng-click="toggleImpact()"><span class="glyphicon" data-ng-class="{'glyphicon-check': showImpact, 'glyphicon-unchecked': ! showImpact}"></span></a> Impact Points
              </div>
              <div data-ng-show="hasReflected">
                <a href="" data-ng-click="toggleReflected()"><span class="glyphicon" data-ng-class="{'glyphicon-check': showReflected, 'glyphicon-unchecked': ! showReflected}"></span></a> Reflected
              </div>
              <div>
                <a href="" data-ng-click="toggleConductors()"><span class="glyphicon" data-ng-class="{'glyphicon-check': showConductors, 'glyphicon-unchecked': ! showConductors}"></span></a> Conductors
                &nbsp;&nbsp;&nbsp;<span data-ng-show="enableImpactDensity"><a href=""  data-ng-click="toggleImpactDensity()"><span class="glyphicon" data-ng-class="{'glyphicon-check': showImpactDensity, 'glyphicon-unchecked': ! showImpactDensity}"></span></a> Impact Density</span>
              </div>
            </div>
            <div class="col-sm-6">
                <div data-toggle="tooltip" title="View along z axis" class="btn btn-default pull-right" data-ng-class="{'btn-primary': side == 'z'}" style="margin: 2px;" data-ng-click="showSide('z')">Z{{ zdir == 1 ? '+' : '-' }}</div>
                <div data-toggle="tooltip" title="View along y axis" class="btn btn-default pull-right" data-ng-class="{'btn-primary': side == 'y'}" style="margin: 2px;" data-ng-click="showSide('y')">Y{{ ydir == 1 ? '+' : '-' }}</div>
                <div data-toggle="tooltip" title="View along x axis" class="btn btn-default pull-right" data-ng-class="{'btn-primary': side == 'x'}" style="margin: 2px;" data-ng-click="showSide('x')">X{{ xdir == 1 ? '+' : '-' }}</div>
                <div data-toggle="tooltip" title="Manipulate" class="btn btn-default pull-right" data-ng-class="{'btn-primary': mode == 'move'}" style="margin: 2px;" data-ng-click="selectMode('move')"><span class="glyphicon glyphicon-hand-up"></span></div>
                <div data-toggle="tooltip" title="Select" class="btn btn-default pull-right" data-ng-class="{'btn-primary': mode == 'select'}" style="margin: 2px;" data-ng-click="selectMode('select')">&#x2B09;</div>
            </div>
        </div>
    </div>
    <!-- the canvas holder is the container for the vtk render window -->
    <div class="vtk-canvas-holder" data-ng-style="interactionStyle()" data-ng-show="! dataCleared">
    </div>
    <div class="vtk-info-overlay" data-ng-class="{'vtk-info-overlay-move': mode == 'move', 'vtk-info-overlay-select': mode == 'select'}" data-ng-attr-width="{{ vtkCanvasGeometry().size.width }}px" data-ng-attr-height="{{ vtkCanvasGeometry().size.height }}px" data-ng-attr-style="top:{{ vtkCanvasGeometry().pos.top }}px; left:{{ vtkCanvasGeometry().pos.left }}px;">
      <svg data-ng-attr-width="{{ vtkCanvasGeometry().size.width }}" data-ng-attr-height="{{ vtkCanvasGeometry().size.height }}">

        <g class="x axis"></g>
        <text class="x-axis-label"></text>
        <text class="x axis-end low"></text>
        <text class="x axis-end high"></text>

        <g class="y axis"></g>
        <text class="y-axis-label"></text>
        <text class="y axis-end low"></text>
        <text class="y axis-end high"></text>

        <g class="z axis"></g>
        <text class="z-axis-label"></text>
        <text class="z axis-end low"></text>
        <text class="z axis-end high"></text>

        <!-- little test boxes are useful for translating vtk space to screen space -->

        <rect data-ng-repeat="testBoxPos in testBoxes" data-ng-attr-x="{{ testBoxPos.x - 2.5 }}" data-ng-attr-y="{{ testBoxPos.y - 2.5 }}" class="test-rect" height="5" width="5" style="fill: black;" data-ng-attr-style="fill:{{ testBoxPos.color }}"></rect>

      </svg>
    </div>
  </div>
</div>
