<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="sr-plot">
        <div data-radia-viewer="" data-model-name="magnetDisplay" data-view-name="magnetDisplay" data-viz="viz" data-report-id="reportId"></div>
        <div data-electron-trajectory-report="" data-model-name="electronTrajectoryReport"></div>
        <div data-field-lineout-animation="" data-model-name="fieldLineoutAnimation"></div>
      </div>
    </div>
  </div>
  <div class="row">
        <div data-ng-if="viz.isSolvable()" data-radia-solver="" data-model-name="solverAnimation"></div>
        <div data-radia-field-paths="" data-model-name="fieldPaths"></div>
        <div data-ng-if="viz.hasPaths(['axisPath', 'linePath'])" data-report-panel="fieldIntegrals" data-model-name="fieldIntegralReport" class="col-md-6"></div>
        <div data-ng-if="viz.enableKickMaps()" data-kick-map-report="" data-view-name="kickMapReport"></div>
  </div>
</div>
