<div class="container-fluid">
  <div data-ng-if="src.showDesigner()">
    <div class="row">
        <div data-toolbar="src.toolbarSections" data-parent-controller="src"></div>
    </div>
    <div>
        <div data-3d-builder="" data-model-name="geometryReport" data-cfg="src.builderCfg" data-controller="src"></div>
    </div>
  </div>
  <div class="col-md-12" data-ng-if="src.showParams()">
    <div data-basic-editor-panel="" data-view-name="{{ src.getView() }}" data-parent-controller="src" data-panel-title="{{ src.viewTitle() }}"></div>
  </div>
</div>
