<div class="container-fluid">
  <div class="row">
      <div class="sr-plot">
        <div data-radia-viewer="" data-model-name="magnetDisplay" data-viz="viz"></div>
      </div>
      <div data-ng-if="viz.isSolvable()" data-radia-solver="" data-model-name="solver" data-viz="viz"></div>
      <div data-radia-field-paths="" data-model-name="fieldPaths"></div>
      <div data-field-integral-table="" data-model-name="fieldPaths"></div>
      <div data-ng-if="viz.enableKickMaps()" data-kick-map="" data-view-name="kickMap"></div>
      <div data-field-path-picker="" data-model-name="fieldPaths" data-controller="viz" data-title="{{ svc.pathEditorTitle() }}" data-id="sr-fieldpaths-editor" data-small-element-class="col-sm-2"></div>
      <div data-field-download="" data-controller="viz"></div>
  </div>
</div>

