<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div data-basic-editor-panel="" data-view-name="optimizer"></div>
    </div>
    <div class="col-md-6 col-xl-4" data-ng-show="opt.hasOptFields()">
      <div data-simple-panel="optimizerStatus">
        <div data-sim-status-panel="opt.simState" data-start-function="startSimulation()"></div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          <table data-ng-show="opt.simState.hasFrames()" class="table">
            <caption style="text-align: center; font-weight: bold;">Optimization results <a href="" data-ng-click="opt.newSimFromResults()"><span title="Open new simulation with these results"><span class="glyphicon glyphicon-plus sr-small-icon"></span><span class="glyphicon glyphicon-file"></span></span></a></caption>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="(p, v) in opt.summaryData">
                <td>{{ p }}</td>
                <td>{{ v }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div data-report-panel="parameter" data-ng-if="opt.simState.hasFrames()" data-model-name="optimizerAnimation"></div>
    </div>
  </div>
</div>
