<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div data-loading-and-error-panel="" data-model-key="scans">
        <div data-visualization-scan-selector="" data-args="args"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div data-ng-repeat="c in ['general', 'plan', 'analysis']" data-ng-if="metadata.haveVisualizationId()">
      <div class="col-md-6 col-xl-4">
        <div data-loading-and-error-panel="" data-child-args="metadata.metadataTableArgs(c)" data-model-key="{{ c }}Metadata">
          <div data-metadata-table="" data-args="args"></div>
        </div>
      </div>
    </div>
  </div>
</div>
