<div class="container-fluid">
  <div data-dicom-frames="dicomAnimation" data-wait-for-dose="1"></div>
  <div class="row">
    <div class="col-md-7 col-sm-6">
      <div data-ng-if="dose.hasDoseFrames()" data-report-panel="dicom" data-model-name="dicomAnimation4" data-panel-title="DICOM Dose" data-dicom-mode="dose"></div>
    </div>
    <div class="col-md-5 col-sm-6">
      <div data-ng-if="dose.hasDoseFrames()" data-report-panel="parameter" data-model-name="dvhReport"></div>
    </div>
  </div>
</div>
