<div class="container-fluid">
  <div data-dicom-frames="dicomAnimation"></div>
  <div class="row">
    <div class="col-md-7 col-sm-6">

      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <span class="sr-panel-heading">Dose Computation</span>
          <div class="sr-panel-options pull-right">
            <a href data-ng-click="dose.panelState.toggleHidden('simulationStatus')" data-ng-hide="dose.panelState.isHidden('simulationStatus')" title="Hide"><span class="sr-panel-heading glyphicon glyphicon-chevron-up"></span></a>
            <a href data-ng-click="dose.panelState.toggleHidden('simulationStatus')" data-ng-show="dose.panelState.isHidden('simulationStatus')" title="Show"><span class="sr-panel-heading glyphicon glyphicon-chevron-down"></span></a>
          </div>
        </div>
        <div class="panel-body" data-ng-hide="dose.panelState.isHidden('simulationStatus')">
          <div class="col-sm-10 col-sm-offset-1" data-ng-if="dose.simState.isProcessing()">
            <div class="progress" data-ng-if="dose.simState.isProcessing()">
              <div class="progress-bar" data-ng-class="{ 'progress-bar-striped active': dose.simState.isProcessing() }" role="progressbar" aria-valuenow="{{ dose.simState.getPercentComplete() }}" aria-valuemin="0" aria-valuemax="100" data-ng-attr-style="width: {{ dose.simState.getPercentComplete() }}%"></div>
            </div>
          </div>
          <div class="col-sm-7 col-sm-offset-3" data-ng-if="dose.simState.isProcessing()">
            {{ dose.simState.stateAsText() }} {{ dose.simState.dots }}
            <div class="pull-right">
              <button class="btn btn-default" data-ng-click="dose.simState.cancelSimulation()">Cancel Computation</button>
            </div>
          </div>

          <div data-ng-hide="dose.simState.isProcessing()" data-compute-dose-form=""></div>
        </div>
      </div>
      <div data-ng-if="dose.hasDoseFrames() && ! dose.simState.isProcessing() && dose.showDosePanels()" data-report-panel="dicom" data-model-name="dicomAnimation4" data-panel-title="DICOM Dose" data-dicom-mode="dose"></div>
    </div>
    <div class="col-md-5 col-sm-6">
      <div data-ng-if="dose.hasDoseFrames() && ! dose.simState.isProcessing() && dose.showDosePanels()" data-report-panel="parameter" data-model-name="dvhReport"></div>
    </div>
  </div>
</div>
