<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div data-simple-panel="simulationSettings">
        <div data-sim-status-panel="visualization.simState"></div>
        <div data-summary-table="animation"></div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4" data-ng-if="visualization.simState.hasFrames()">
      <div data-report-panel="3d" data-model-name="beamAnimation">
        <div data-ng-if="visualization.isComputingRanges" class="text-center text-info">Computing plot range across frames...</div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4" data-ng-if="visualization.simState.hasFrames()">
      <div data-report-panel="parameter" data-model-name="parameterAnimation"></div>
    </div>
    <div class="col-md-6 col-xl-4" data-ng-if="visualization.simState.hasFrames()">
      <div data-report-panel="particle" data-model-name="particleAnimation"></div>
    </div>
    <div class="col-md-6 col-xl-4" data-ng-if="visualization.simState.hasFrames()">
      <div data-report-panel="2d" data-model-name="beamHistogramAnimation"></div>
    </div>
  </div>
</div>

<!-- modal dialogs -->
<div data-modal-editor="" view-name="beamAnimation" data-parent-controller="visualization"></div>
