<div class="container-fluid" data-ng-if="beamline.appState.isLoaded()">
  <div data-beamline-toolbar="beamline.toolbarItemNames" data-parent-controller="beamline"></div>
  <div data-beamline-builder="beamline" data-beamline-models="beamline.beamlineModels"></div>
</div>

<div class="container-fluid" data-ng-if="beamline.appState.isLoaded()">
  <div class="row">
    <div data-beamline-reports=""></div>
    <div class="clearfix"></div>
    <div class="col-sm-12" data-ng-if="beamline.showBeamStatisticsReport()">
      <div data-report-panel="parameter" data-model-name="beamStatisticsReport"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<!-- modal dialogs -->
<div data-watchpoint-modal-editor="" data-ng-repeat="item in beamline.beamlineService.getWatchItems() track by item.id" data-item-id="item.id"></div>
