<div class="container-fluid" data-ng-if="source.appState.isLoaded()">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-12">
          <div data-basic-editor-panel="" data-view-name="bendingMagnet" data-ng-if="source.isSource('bendingMagnet')"></div>
          <div data-basic-editor-panel="" data-view-name="geometricSource" data-ng-if="source.isSource('geometricSource')"></div>
          <div data-basic-editor-panel="" data-view-name="undulator" data-ng-if="source.isSource('undulator')"></div>
          <div data-basic-editor-panel="" data-view-name="wiggler" data-ng-if="source.isSource('wiggler')"></div>
        </div>
        <div class="col-sm-12">
          <div data-report-panel="2d" data-model-name="histogramReport" data-panel-title="{{ source.shadowService.getReportTitle('histogramReport') }}"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div data-report-panel="3d" data-model-name="plotXYReport" data-panel-title="{{ source.shadowService.getReportTitle('plotXYReport') }}"></div>
    </div>
  </div> <!-- /row -->
</div> <!-- /container -->
