    <div class="container">
      <div class="row">
        <div class="text-center col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
          <button data-target="#srw-simulation-editor" data-toggle="modal" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus"></span> New</button>
          <button data-ng-click="simulations.open(simulations.selected)" class="btn btn-default {{ simulations.selected ? 'btn-primary' : '' }}" data-ng-class="{disabled: ! simulations.selected}" type="submit"><span class="glyphicon glyphicon-open-file"></span> Open</button>
          <button data-ng-click="simulations.copy(item)" class="btn btn-default" data-ng-class="{disabled: ! simulations.selected}" type="submit"><span class="glyphicon glyphicon-copy"></span> Copy</button>
          <button data-target="#srw-delete-confirmation" data-toggle="modal" class="btn btn-default" data-ng-class="{disabled: ! simulations.selected}" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete</button>
          <button data-ng-click="simulations.pythonSource(item)" class="btn btn-default" data-ng-class="{disabled: ! simulations.selected}" type="submit"><span class="glyphicon glyphicon-cloud-download"></span> Python Source</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Last Modified</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in simulations.list" data-ng-class="{success: simulations.isSelected(item)}" data-ng-click="simulations.selectItem(item)">
              <td><a href data-ng-click="simulations.open(item)">{{ item.name }}</a></td>
              <td>{{ item.last_modified }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div data-modal-editor="simulation"></div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="srw-delete-confirmation" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <span class="lead modal-title text-info">Delete Simulation?</span>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <p>Delete simulation "{{ simulations.selected.name }}"?</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 pull-right">
                  <button data-dismiss="modal" data-ng-click="simulations.deleteSelected()" class="btn btn-default">Delete</button>
                  <button data-dismiss="modal" class="btn btn-default">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
