<script type="text/ng-template" id="sr-folder">
  <a href data-ng-click="simulations.toggleFolder(item)">
    <span class="glyphicon sr-small-nav-icon" data-ng-class="{'glyphicon-chevron-down': item.isOpen, 'glyphicon-chevron-right': ! item.isOpen}"></span>
    <span class="glyphicon sr-nav-icon" data-ng-class="{'sr-user-item': ! simulations.isRootFolder(item) && ! simulations.fileManager.isFolderExample(item), 'glyphicon-folder-open': item.isOpen, 'glyphicon-folder-close': ! item.isOpen}"></span> <span data-ng-class="{ 'sr-user-item': ! simulations.isRootFolder(item) && ! simulations.fileManager.isFolderExample(item) }">{{ item.name }}</span>
  </a>
  <ul data-ng-if="item.isOpen" class="nav sr-nav-sidebar">
    <li data-ng-repeat="item in item.children | filter:{isFolder: true} | orderBy:'name'" data-ng-include="'sr-folder'" data-ng-class="{'active': simulations.isActiveFolder(item)}"></li>
  </ul>
</script>

<div class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-sm-4 col-md-3 sr-sidebar">
      <ul class="nav sr-nav-sidebar sr-nav-sidebar-root">
        <li data-ng-repeat="item in simulations.fileTree" data-ng-include="'sr-folder'" data-ng-class="{'active': simulations.isActiveFolder(item)}"></li>
      </ul>
    </div>
    <div class="col-sm-8 col-md-9">
      <div class="sr-iconset">
        <div class="sr-folder-nav visible-xs clearfix">
          <a href data-ng-repeat="item in simulations.activeFolderPath" data-ng-click="simulations.openItem(item)"><span data-ng-if="simulations.isRootFolder(item)" class="glyphicon glyphicon-folder-open sr-nav-icon"></span><span data-ng-if="! simulations.isRootFolder(item)" class="glyphicon glyphicon-chevron-right sr-small-nav-icon"></span><span data-ng-class="{ 'sr-user-item': ! simulations.fileManager.isFolderExample(item) }">{{ item.name }}</span> </a>
        </div>
        <div class="col-sm-12" data-sr-notify="" data-notification-name="'getStarted'" data-notification-class="'alert-info'"></div>
        <div class="sr-icon-view-toggle"><a href data-ng-click="simulations.toggleIconView()"><span class="glyphicon" data-ng-class="{'glyphicon-th-list': simulations.isIconView, 'glyphicon-th-large': ! simulations.isIconView }"></span> View as {{ simulations.isIconView ? 'List' : 'Icons' }}</a></div>
        <div class="clearfix"></div>

        <div style="margin-left: 2em; margin-top: 1ex;" class="lead" data-ng-show="simulations.isWaitingForList"><img src="/static/img/sirepo_animated.gif" /> Building simulation list, please wait.</div>
        <div data-ng-hide="simulations.isIconView" class="row"><div class="col-sm-offset-1 col-sm-10">
        <table class="table table-hover">
          <thead>
            <tr>
              <th data-ng-repeat="col in simulations.listColumns"><a data-ng-class="{'dropup': simulations.isSortAscending()}" href data-ng-click="simulations.toggleSort(col.field)">{{ col.heading }} <span data-ng-if="simulations.sortField.indexOf(col.field) >= 0" class="caret"></span></a></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="item in simulations.activeFolder.children | orderBy:['isFolder', simulations.sortField]">
              <td><a href data-ng-click="simulations.openItem(item)"><span class="glyphicon" data-ng-class="{'sr-user-item': ! simulations.fileManager.isItemExample(item), 'glyphicon-folder-close': item.isFolder, 'glyphicon-file': ! item.isFolder, 'sr-transparent-icon': ! item.isFolder && item.isExample, 'sr-transparent-icon-user': ! item.isFolder && ! item.isExample}"></span> <span data-ng-class="{ 'sr-user-item': ! simulations.fileManager.isItemExample(item) }">{{ item.name | simulationName }}</span></a></td>
              <td>{{ item.lastModified }}</td>
            </tr>
            <tr data-ng-show="simulations.isWaitingForSim">
              <td>
                <img src="/static/img/sirepo_animated.gif" width="24px"/>
                <a>Creating {{ simulations.newSimName }}...</a>
              </td>
            </tr>
          </tbody>
        </table>
        </div></div>

        <div data-ng-show="simulations.isIconView" style="margin-right: 65px">
          <div data-ng-repeat="item in simulations.activeFolder.children | orderBy:['isFolder', 'name']" class="sr-icon-col">
            <div class="sr-thumbnail text-center dropdown">
              <a href data-ng-dblclick="simulations.openItem(item)" class="sr-item-icon" data-toggle="dropdown">
                <span class="caret" style="visibility: hidden"></span><span class="glyphicon" data-ng-class="{'sr-user-item': ! simulations.fileManager.isItemExample(item), 'glyphicon-folder-close': item.isFolder, 'glyphicon-file': ! item.isFolder, 'sr-transparent-icon': ! item.isFolder && item.isExample, 'sr-transparent-icon-user': ! item.isFolder && ! item.isExample}"></span><span data-ng-if="simulations.fileManager.isItemExample(item)" class="glyphicon glyphicon-cog sr-example-item" data-ng-class="{ 'sr-example-folder': item.isFolder, 'sr-example-sim': ! item.isFolder }"></span><span class="caret"></span>
              </a>
              <a class="sr-item-text" href data-ng-click="simulations.openItem(item)"><span data-ng-class="{ 'sr-user-item': ! simulations.fileManager.isItemExample(item) }">{{ item.name | simulationName }}</span></a>
              <ul class="dropdown-menu">
                <li><a href data-ng-click="simulations.openItem(item)"><span class="glyphicon sr-nav-icon" data-ng-class="{'glyphicon-folder-open': item.isFolder, 'glyphicon-open-file': ! item.isFolder}"></span> Open</a></li>
                <li data-ng-if="! item.isFolder"><a href data-ng-click="simulations.copyItem(item)"><span class="glyphicon glyphicon-duplicate sr-nav-icon"></span> Open as a New Copy</a></li>
                <li data-ng-if="! simulations.fileManager.isItemExample(item)"><a href data-ng-click="simulations.renameItem(item)"><span class="glyphicon glyphicon-edit sr-nav-icon"></span> Rename</a></li>
                <li data-ng-if="! simulations.fileManager.isItemExample(item)"><a href data-ng-click="simulations.moveItem(item)"><span class="glyphicon glyphicon-arrow-right sr-nav-icon"></span> Move</a></li>
                <li data-ng-if="! item.isFolder"><a href data-ng-click="simulations.exportArchive(item, 'zip')"><span class="glyphicon glyphicon-save-file sr-nav-icon"></span> Export as Zip</a></li>
                <li data-ng-if="! item.isFolder"><a href data-ng-click="simulations.exportArchive(item, 'html')"><span class="glyphicon glyphicon-export sr-nav-icon"></span> Self-Extracting Simulation</a></li>
                <li data-ng-if="! item.isFolder"><a href data-ng-click="simulations.pythonSource(item)"><span class="glyphicon glyphicon-cloud-download sr-nav-icon"></span> Python Source</a></li>
                <li data-ng-if="simulations.canDelete(item)" class="divider"></li>
                <li data-ng-if="simulations.canDelete(item)"><a href data-ng-click="simulations.deleteItem(item)"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
              </ul>
            </div>
          </div>
          <div data-ng-if=":: simulations.importText" class="sr-icon-col">
            <div class="sr-thumbnail text-center">
              <a href data-ng-click="nav.showImportModal()" class="sr-item-icon"><span class="glyphicon glyphicon-cloud-upload sr-import-item"> </span></a>
              <a data-ng-click="nav.showImportModal()" class="sr-item-text sr-import-item" href>{{:: simulations.importText }}</a>
            </div>
          </div>
          <div data-ng-show="simulations.isWaitingForSim" class="sr-icon-col">
            <div class="sr-thumbnail text-center dropdown">
              <a class="sr-item-icon">
            <img src="/static/img/sirepo_animated.gif"/>
                </a>
              <a class="sr-item-text">Creating {{ simulations.newSimName }}...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-confirmation-modal="" data-id="sr-delete-confirmation" data-title="Delete Simulation?" data-ok-text="Delete" data-ok-clicked="simulations.deleteSelected()">Delete simulation &quot;{{ simulations.selectedItem.name }}&quot;?</div>

<div data-confirmation-modal="" data-id="sr-rename-confirmation" data-title="Rename {{ simulations.selectedItemType() }}" data-ok-text="Rename" data-ok-clicked="simulations.renameSelected()">
  <form class="form-horizontal" autocomplete="off">
    <label class="col-sm-3 control-label">New Name</label>
    <div class="col-sm-9">
      <input data-safe-path="" class="form-control" data-ng-model="simulations.renameName" required/>
      <div class="sr-input-warning" data-ng-show="showWarning">{{warningText}}</div>
    </div>
  </form>
</div>


<div data-copy-confirmation="" data-sim-id="simulations.selectedItem.simulationId" data-copy-cfg="simulations.copyCfg" data-disabled="false">
</div>

<div data-confirmation-modal="" data-id="sr-move-confirmation" data-title="Move {{ simulations.selectedItemType() }}" data-ok-text="Move" data-ok-clicked="simulations.moveSelected()">
  <form class="form-horizontal" autocomplete="off">
    <label class="col-sm-3 control-label">New Folder</label>
    <div class="col-sm-9">
      <select class="form-control" data-ng-model="simulations.targetFolder" data-ng-options="folder as simulations.pathName(folder) for folder in simulations.moveFolderList"></select>
    </div>
  </form>
</div>
