<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="row">
        <div data-ng-if="source.isElectronBeam()" class="col-sm-12">
          <div data-basic-editor-panel="" data-model-name="electronBeam"></div>
        </div>
        <div data-ng-if="source.isUndulator()" class="col-sm-12">
          <div data-basic-editor-panel="" data-model-name="undulator"></div>
        </div>
        <div data-ng-if="source.isMultipole()" class="col-sm-12">
          <div data-basic-editor-panel="" data-model-name="multipole"></div>
        </div>
        <div data-ng-if="source.isGaussianBeam()" class="col-sm-12">
          <div data-basic-editor-panel="" data-model-name="gaussianBeam"></div>
        </div>
        <div data-ng-if="source.isUndulator()" class="col-sm-12">
          <div data-report-panel="2d" data-model-name="fluxReport"></div>
        </div>
      </div>
    </div>
    <div data-ng-if="source.isElectronBeam()" class="col-md-6 col-xl-4">
      <div data-report-panel="2d" data-model-name="intensityReport"></div>
    </div>
    <div data-ng-if="source.isGaussianBeam()" class="col-md-6 col-xl-4">
      <div data-report-panel="3d" data-model-name="gaussianBeamIntensityReport"></div>
    </div>
    <div data-ng-if="source.isElectronBeam()" class="col-md-6 col-xl-4">
      <div data-report-panel="3d" data-model-name="powerDensityReport"></div>
    </div>
  </div> <!-- /row -->
</div> <!-- /container -->

<!-- modal dialogs -->
<div data-modal-editor="electronBeam" data-is-read-only="source.isPredefinedBeam()"></div>
<div data-modal-editor="undulator"></div>
<div data-modal-editor="multipole"></div>
<div data-modal-editor="gaussianBeam"></div>
<div data-modal-editor="gaussianBeamIntensityReport"></div>
<div data-modal-editor="intensityReport"></div>
<div data-modal-editor="fluxReport"></div>
<div data-modal-editor="powerDensityReport"></div>
