<div class="container-fluid" data-ng-if="source.appState.isLoaded()">
  <div data-mobile-app-title="nav"></div>
  <div data-panel-layout="">
    <div class="sr-panel-item">
      <div class="row">
        <div data-ng-if="source.srwService.isElectronBeam()" class="col-sm-12">
          <div data-basic-editor-panel="" data-view-name="electronBeam"></div>
        </div>
        <div data-ng-if="source.srwService.isArbitraryMagField()" class="col-sm-12">
          <div data-basic-editor-panel="" data-view-name="arbitraryMagField"></div>
        </div>
        <div data-ng-if="source.srwService.isIdealizedUndulator()" class="col-sm-12">
          <div data-basic-editor-panel="" data-view-name="undulator"></div>
        </div>
        <div data-ng-if="source.srwService.isTabulatedUndulator()" class="col-sm-12">
          <div data-basic-editor-panel="" data-view-name="tabulatedUndulator"></div>
        </div>
        <div data-ng-if="source.srwService.isMultipole()" class="col-sm-12">
          <div data-basic-editor-panel="" data-view-name="multipole"></div>
        </div>
        <div data-ng-if="source.srwService.isGaussianBeam()" class="col-sm-12">
          <div data-basic-editor-panel="" data-view-name="gaussianBeam"></div>
        </div>
      </div>
    </div>
    <div data-ng-if="source.srwService.isElectronBeam()" class="sr-panel-item">
      <div data-report-panel="2d" data-request-priority="1" data-model-name="intensityReport" data-panel-title="{{ source.srwService.getReportTitle('intensityReport') }}"></div>
    </div>
    <div data-ng-if="source.srwService.isElectronBeam()" class="sr-panel-item">
      <div data-report-panel="parameter" data-request-priority="2" data-model-name="trajectoryReport"></div>
    </div>
    <div data-ng-if="source.srwService.isIdealizedUndulator()" class="sr-panel-item">
      <div data-report-panel="2d" data-request-priority="3" data-model-name="fluxReport" data-panel-title="{{ source.srwService.getFluxTitle('fluxReport') }}"></div>
    </div>
    <div data-ng-if="source.srwService.isTabulatedUndulator() || source.srwService.isArbitraryMagField()" class="sr-panel-item">
      <div data-report-panel="2d" data-request-priority="3" data-model-name="fluxAnimation" data-panel-title="{{ source.srwService.getFluxTitle('fluxAnimation') }}"><div data-simulation-status-panel="fluxAnimation"></div></div>
    </div>
    <div data-ng-if="source.srwService.isElectronBeam()" class="sr-panel-item">
      <div data-report-panel="3d" data-request-priority="4" data-model-name="powerDensityReport" data-panel-title="{{ source.srwService.getReportTitle('powerDensityReport') }}"></div>
    </div>
    <div data-ng-if="source.srwService.isGaussianBeam() || source.srwService.isElectronBeam()" class="sr-panel-item">
      <div data-report-panel="3d" data-request-priority="5" data-model-name="sourceIntensityReport" data-panel-title="{{ source.srwService.getReportTitle('sourceIntensityReport') }}"></div>
    </div>
    <div data-ng-if="! source.srwService.isGaussianBeam()" class="sr-panel-item">
      <div data-report-panel="3d" data-request-priority="5" data-model-name="coherentModesAnimation" data-panel-title="{{ source.srwService.getReportTitle('coherentModesAnimation') }}"><div data-simulation-status-panel="coherentModesAnimation"></div></div>
    </div>
    <div data-ng-if="source.srwService.isIdealizedUndulator()" class="sr-panel-item">
      <div data-report-panel="particle" data-request-priority="6" data-model-name="brillianceReport"></div>
    </div>
  </div>
</div>
