<div class="container-fluid">
  <div data-mobile-app-title="nav"></div>
  <div data-beamline-toolbar="beamline.toolbarItemNames" data-ng-show="beamline.beamlineService.isEditable()" data-parent-controller="beamline"></div>
  <div data-beamline-builder="beamline" data-beamline-models="beamline.beamlineModels" data-show-active-watchpoints="beamline.isMultiElectron()" data-active-watchpoint-title="Watchpoint for Partially Coherent Report">
      <div class="btn btn-default srw-propagation-button" data-ng-show="beamline.appState.models.beamline.length" data-ng-click="beamline.showPropagationModal()" title="Propagation Parameters"><span class="glyphicon glyphicon-pencil"></span> <small class="hidden-xs">Propagation</small></div>
      <div class="btn btn-default srw-wavefront-button" data-ng-click="beamline.showSimulationGrid()" title="Initial Wavefront Simulation Grid"><span class="glyphicon glyphicon-th"></span> <small class="hidden-xs">Initial Wavefront</small></div>
  </div>
</div> <!-- /container -->

<div class="container-fluid">
  <div data-ng-if="beamline.showTabs()" class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li role="presentation" data-ng-class="{active: beamline.isSingleElectron()}"><a class="srw-tab" href data-ng-click="beamline.setReloadOnSearch(false); beamline.setSingleElectron(true)"><strong>Coherent</strong></a></li>
        <li role="presentation" data-ng-class="{active: beamline.isMultiElectron()}"><a class="srw-tab" href data-ng-click="beamline.setReloadOnSearch(false); beamline.setSingleElectron(false)"><strong><span class="glyphicon glyphicon-option-vertical"></span> Partially Coherent</strong></a></li>
      </ul>
      <br />
    </div>
  </div>
  <div data-ng-if="beamline.isSingleElectron()" class="row">
    <div data-beamline-reports=""></div>
  </div>
  <div data-ng-if="beamline.isMultiElectron()" class="row">
    <div data-column-for-aspect-ratio="multiElectronAnimation">
      <div data-report-panel="3d" data-model-name="multiElectronAnimation" data-panel-title="{{ beamline.srwService.getReportTitle('multiElectronAnimation') }}"><div data-simulation-status-panel="multiElectronAnimation"></div></div>
    </div>
    <div data-ng-if="beamline.srwService.showCalcCoherence" data-column-for-aspect-ratio="coherenceXAnimation">
      <div data-report-panel="3d" data-model-name="coherenceXAnimation"></div>
    </div>
    <div data-ng-if="beamline.srwService.showCalcCoherence" data-column-for-aspect-ratio="coherenceYAnimation">
      <div data-report-panel="3d" data-model-name="coherenceYAnimation"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<!-- modal dialogs -->
<div data-modal-editor="" view-name="initialIntensityReport" data-parent-controller="beamline"></div>
<div data-modal-editor="" view-name="multiElectronAnimation"></div>
<div data-watchpoint-modal-editor="" data-ng-repeat="item in beamline.beamlineService.getWatchItems() track by item.id" data-parent-controller="beamline" data-item-id="item.id"></div>

<div data-propagation-parameters-modal="" data-propagations="beamline.propagations" data-post-propagation="beamline.postPropagation"></div>

<!-- Mirror Plot Modal -->
<div class="modal fade" id="srw-mirror-plot" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <span class="lead modal-title text-info">{{ beamline.beamlineService.getActiveItemTitle() }}</span>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div data-ng-if="beamline.mirrorReportShown" class="col-sm-12">
              <div data-report-content="3d" data-model-key="mirrorReport" data-report-id="beamline.mirrorReportId"></div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-offset-6 col-sm-3">
              <button data-dismiss="modal" class="btn btn-primary" style="width:100%">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
