<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="panel panel-info">
        <div class="panel-heading" data-panel-heading="Simulation Status" data-model-name="simulationStatus"></div>
        <div class="panel-body cssFade" data-ng-hide="multielectron.panelState.isHidden('simulationStatus')">
          <form name="form" class="form-horizontal" novalidate data-ng-show="multielectron.isState('initial')">
            <div class="col-sm-6 pull-right cssFade">
              <button class="btn btn-primary" data-ng-click="multielectron.runSimulation()">Start Simulation</button>
            </div>
          </form>
          <form name="form" class="form-horizontal" novalidate data-ng-show="multielectron.isState('running')">
            <div class="col-sm-12">
              <div data-ng-show="multielectron.isInitializing()">
                Initializing Wavefront {{ multielectron.dots }}
              </div>
              <div data-ng-hide="multielectron.isInitializing()">
                Simulation Running {{ multielectron.dots }}
                <div data-simulation-status-timer="multielectron"></div>
              </div>
            </div>
            <div class="col-sm-6 pull-right cssFade">
              <button class="btn btn-default" data-ng-click="multielectron.cancelSimulation()">End Simulation</button>
            </div>
          </form>
          <form name="form" class="form-horizontal" novalidate data-ng-show="multielectron.isState('completed') || multielectron.isState('canceled')">
            <div class="col-sm-12">
              Simulation
              <span data-ng-show="multielectron.isState('completed')">Completed</span><span data-ng-show="multielectron.isState('canceled')">Stopped</span><span data-ng-show="multielectron.getFrameCount()"></span>
              <div>
                <div data-simulation-status-timer="multielectron"></div>
              </div>
            </div>
            <div class="col-sm-6 pull-right cssFade">
              <button class="btn btn-default" data-ng-click="multielectron.runSimulation()">Start New Simulation</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div data-report-panel="3d" data-model-name="multiElectronAnimation"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div data-modal-editor="multiElectronAnimation"></div>
<div data-modal-editor="simulationGrid"></div>
<div data-delete-simulation-modal="nav"></div>
<div data-reset-simulation-modal="nav"></div>
