<!DOCTYPE html>
<html data-ng-app="SRWApp">
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/static/img/favicon.ico">
    <title data-ng-controller="NavController as nav" data-ng-bind="nav.page_title()">SRW - Radiasoft</title>
    <link href="/static/css/bootstrap-3.3.4.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-slider-2.0.0.css" rel="stylesheet">
    <link href="/static/css/bootstrap-colxl.css" rel="stylesheet">
    <link href="/static/css/sirepo.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv-3.7.2.min.js"></script>
      <script src="/static/js/respond-1.4.2.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav data-ng-controller="NavController as nav" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href data-ng-click="nav.open_section('simulations')"><img style="width: 40px; margin-top: -10px;" src="/static/img/radtrack.gif" alt="radiasoft"></a>
          <a class="navbar-brand" href data-ng-click="nav.open_section('simulations')">SRW</a>
        </div>
        <ul class="nav navbar-nav">
          <li data-ng-class="{active: activeSection == 'simulations'}"><a href data-ng-click="nav.open_section('simulations')"><span class="glyphicon glyphicon-th-list"></span> Simulations</a></li>
        </ul>
        <div class="navbar-text"><a href data-target="#srw-simulation-editor" data-toggle="modal"><strong data-ng-bind="nav.section_title()"></strong></a></div>
        <ul class="nav navbar-nav navbar-right" data-ng-hide="activeSection == 'simulations'">
          <li data-ng-class="{active: activeSection == 'source'}"><a href data-ng-click="nav.open_section('source')"><span class="glyphicon glyphicon-flash"></span> Source</a></li>
          <li data-ng-class="{active: activeSection == 'beamline'}"><a href data-ng-click="nav.open_section('beamline')"><span class="glyphicon glyphicon-option-horizontal"></span> Beamline</a></li>
          <li data-ng-class="{active: activeSection == 'notebook'}"><a href><span class="glyphicon glyphicon-book"></span> Notebook</a></li>
        </ul>
      </div>
    </nav>
    <div data-ng-view></div>
    <div data-modal-editor="simulation"></div>
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/js/angular-1.3.16.min.js"></script>
    <script src="/static/js/angular-animate-1.3.16.min.js"></script>
    <script src="/static/js/angular-route-1.3.16.min.js"></script>
    <!-- jquery needs to be included after angularjs or draggable won't work on IOS -->
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap-3.3.4.min.js"></script>
    <script src="/static/js/ngDraggable.js"></script>
    <script src="/static/js/modernizr-touch-2.8.3.min.js"></script>
    <script src="/static/js/bootstrap-slider-2.0.0.js"></script>
    <script src="/static/js/angular-d3.js"></script>
    <script src="/static/js/sirepo.js"></script>
  </body>
</html>
