<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">
        <div data-basic-editor-panel="" data-view-name="simulationSettings"></div>
    </div>
    <div class="col-md-6 col-xl-4" data-ng-if="appState.models.rpnVariables">
      <div data-simple-panel="simulationStatus">
        <div data-sim-status-panel="viz.simState" data-start-function="viz.startSimulation()"></div>
      </div>
    </div>
    <div data-column-for-aspect-ratio="plotAnimation" data-ng-if="viz.simState.getFrameCount() > 0">
      <div data-report-panel="parameter" data-model-name="plotAnimation"></div>
    </div>
  </div>
</div>
