<div class="container-fluid">
    <div class="viewer-title" style="font-weight: normal; text-align: center"></div>
    <div>
        <div class="vtk-canvas-holder" data-ng-class="{'vtk-canvas-holder-border': showBorder}"></div>
    </div>
    <!--<div class="vtk-info-overlay" data-ng-class="{'vtk-info-overlay-move': interactionMode == vtkUtils.INTERACTION_MODE_MOVE, 'vtk-info-overlay-select': interactionMode == vtkUtils.INTERACTION_MODE_SELECT}" data-ng-attr-width="{{ canvasGeometry().size.width }}px" data-ng-attr-height="{{ canvasGeometry().size.height }}px" data-ng-attr-style="top:{{ canvasGeometry().pos.top }}px; left:{{ canvasGeometry().pos.left }}px;">-->
    <div class="vtk-info-overlay vtk-info-overlay-move" data-ng-attr-width="{{ canvasGeometry().size.width }}px" data-ng-attr-height="{{ canvasGeometry().size.height }}px" data-ng-attr-style="top:{{ canvasGeometry().pos.top }}px; left:{{ canvasGeometry().pos.left }}px;">
        <div data-vtk-axes="" data-ng-if="enableAxes" data-width="canvasGeometry().size.width" data-height="canvasGeometry().size.height" data-bound-obj="axisObj" data-axis-cfg="axisCfg"></div>
        <div class="vtk-load-indicator" data-ng-attr-width="{{ canvasGeometry().size.width }}px" data-ng-attr-height="{{ canvasGeometry().size.height }}px">
            <img class="sr-page-load-image" src="/static/img/sirepo_animated.gif" />
        </div>
        <!--<div class="vtk-info-bubble">
            <svg data-popup-report="" class="popup-report" data-focus-points="focusPoints" data-ng-attr-width="{{ width }}" data-ng-attr-height="{{ height }}" data-ng-drop="true">
            </svg>
        </div>-->
    </div>
        <div class=".sr-plot-legend .plot-visibility">
        <div class="row">
            <div class="col-sm-12">
                <div style="padding-top: 5px; padding-bottom: 8px"><span>{{ modeText[vtkScene.interactionMode] }}</span><span data-ng-show="enableSelection" class="pull-right">{{ selection.info }}</span></div>
                <div data-ng-show="enableSelection" data-toggle="tooltip" title="Select" class="btn btn-default" data-ng-class="{'btn-primary': vtkScene.interactionMode == VTKUtils.interactionMode().INTERACTION_MODE_SELECT}" style="margin: 2px;" data-ng-click="vtkScene.interactionMode = VTKUtils.interactionMode().INTERACTION_MODE_SELECT">&#x2B09;</div>
                <div data-ng-show="enableSelection" data-toggle="tooltip" title="Manipulate" class="btn btn-default" data-ng-class="{'btn-primary': vtkScene.interactionMode == VTKUtils.interactionMode().INTERACTION_MODE_MOVE}" style="margin: 2px;" data-ng-click="vtkScene.interactionMode = VTKUtils.interactionMode().INTERACTION_MODE_MOVE"><span class="glyphicon glyphicon-hand-up"></span></div>
                <div data-toggle="tooltip" title="View along x axis" class="btn btn-default" data-ng-class="{'btn-primary': vtkScene.viewSide == 'x'}" style="margin: 2px;" data-ng-click="vtkScene.showSide('x')">X{{ vtkScene.directionIcon() }}</div>
                <div data-toggle="tooltip" title="View along y axis" class="btn btn-default" data-ng-class="{'btn-primary': vtkScene.viewSide == 'y'}" style="margin: 2px;" data-ng-click="vtkScene.showSide('y')">Y{{ vtkScene.directionIcon() }}</div>
                <div data-toggle="tooltip" title="View along z axis" class="btn btn-default" data-ng-class="{'btn-primary': vtkScene.viewSide == 'z'}" style="margin: 2px;" data-ng-click="vtkScene.showSide('z')">Z{{ vtkScene.directionIcon() }}</div>
                <div class="checkbox checkbox-inline"><label data-ng-if="vtkScene.hasMarker()"><input type="checkbox" id="sr-toggle-marker" data-ng-model="vtkScene.isMarkerEnabled" data-ng-change="vtkScene.refreshMarker()"> Toggle Marker</label></div>
                <div data-ng-if="enableSelection && selection.model" data-advanced-editor-pane="" data-view-name="selection.model.modelKey" data-model-data="selection.model" data-want-buttons="true"></div>
            </div>
        </div>
    </div>
</div>
