<div class="container-fluid">
    <div>
        <div class="viewer-title" style="font-weight: normal; text-align: center"></div>
        <div class="sr-screenshot">
            <div class="vtk-canvas-holder"></div>
            <div class="vtk-info-overlay vtk-info-overlay-move" data-ng-attr-style="width: {{ canvasGeometry().size.width }}px; height:{{ canvasGeometry().size.height }}px; top:{{ canvasGeometry().pos.top }}px; left:{{ canvasGeometry().pos.left }}px;">
                <div data-vtk-axes="" data-ng-if="enableAxes" data-width="canvasGeometry().size.width" data-height="canvasGeometry().size.height" data-bound-obj="axisObj" data-axis-cfg="axisCfg"></div>
                <div class="vtk-load-indicator">
                    <img class="sr-page-load-image" src="/static/img/sirepo_animated.gif" />
                </div>
            </div>
        </div>
        <div class="plot-visibility">
            <div class="row">
                <div class="col-sm-12">
                    <div style="padding-top: 5px; padding-bottom: 8px"><span>Click and drag to rotate. Control-click an object to select. Double-click to reset camera</span><span data-text-with-math="selection.info || ''" data-is-dynamic="true" data-ng-show="enableSelection" class="pull-right"></span></div>
                    <div data-ng-repeat="dim in GeometryUtils.BASIS()" data-toggle="tooltip" title="View along {{ dim }} axis" class="btn btn-default" data-ng-class="{'btn-primary': vtkScene.viewSide == '{{ dim }}'}" style="margin: 2px; width: 3em;" data-ng-click="showSide(dim)">{{ dim }}{{ vtkScene.directionIcon() }}</div>
                    <div style="display: inline-block; margin-left: 4px; margin-right: 4px;">
                        <div data-toggle="tooltip" title="Rotate 45º clockwise" class="btn btn-default" data-ng-click="rotate(-45)"><span class="glyphicon glyphicon-repeat"></span></div>
                        <div data-toggle="tooltip" title="Reset camera" class="btn btn-default" data-ng-click="showSide(vtkScene.viewSide)"><span class="glyphicon glyphicon-record"></span></div>
                        <div data-toggle="tooltip" title="Rotate 45º counter clockwise" class="btn btn-default" data-ng-click="rotate(45)"><span class="glyphicon glyphicon-repeat" style="margin: 2px; transform: scaleX(-1);"></span></div>
                    </div>
                    <div data-toggle="tooltip" title="Change to {{ isOrtho ? 'perspective' : 'orthographic' }} view" class="btn btn-default"  style="margin: 2px;" data-ng-click="toggleOrtho()"><span data-ng-show="! isOrtho"><img alt="perspective" src="/static/svg/perspective.svg"></span><span data-ng-show="isOrtho"><img alt="orthogonal" src="/static/svg/ortho.svg"></span></div>
                    <div data-ng-if="selection.model" data-advanced-editor-pane="" data-view-name="selection.model.modelKey" data-model-data="selection.model" data-want-buttons="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>
