<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div data-simple-panel="simulationStatus">
        <div data-sim-status-panel="dynamics.simState"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-xl-4" data-ng-if="dynamics.simState.hasFrames()">
      <div data-report-panel="heatmap" data-model-name="fieldAnimation"></div>
    </div>
    <div class="col-md-6 col-xl-4" data-ng-if="dynamics.simState.hasFrames()">
      <div data-report-panel="heatmap" data-model-name="particleAnimation"></div>
    </div>
    <div class="clearfix hidden-xl"></div>
    <div class="col-md-6 col-xl-4" data-ng-if="dynamics.isElectronBeam() && dynamics.simState.hasFrames()">
      <div data-report-panel="heatmap" data-model-name="beamAnimation"></div>
    </div>
  </div>
</div>
