<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-12">
          <div data-simulation-status-panel="simulationStatus">
            <div class="col-sm-12" data-ng-show="$parent.simState.getFrameCount() >= 1">
              Simulation
              <span>{{ $parent.simState.stateAsText() }}</span><span>:
                {{ $parent.simState.getFrameCount() }} animation frames
              </span>
              <br><br>
            </div>
            <div data-ng-show="$parent.simState.isStateError()">
              <div class="col-sm-12">{{ $parent.simState.stateAsText() }}</div>
            </div>
            <div class="form-group">
              <div data-model-field="'egun_mode'" data-model-name="'simulation'" data-label-size="4"></div>
            </div>
            <div class="col-sm-12" data-ng-if="! visualization.warpvndService.isEGunMode()">
              <div class="well" data-ng-show="visualization.estimates">
                <div data-ng-if="visualization.estimates.timeOfFlight">
                  Expected time of flight is {{ visualization.estimates.timeOfFlight }}s
                </div>
                <div data-ng-if="visualization.estimates.steps">
                  This corresponds to {{ visualization.estimates.steps }} steps
                </div>
                <div data-ng-if="visualization.estimates.electronFraction">
                  Expected fraction of electrons that cross is {{ visualization.estimates.electronFraction }}%.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div data-ng-if="! visualization.warpvndService.isEGunMode()" data-model-field="'num_steps'" data-model-name="'simulationGrid'" data-label-size="4"></div>
              <div class="col-sm-5 pull-right">
                <button class="btn btn-default" data-ng-click="$parent.startSimulation()">Start New Simulation</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12" data-ng-if="visualization.hasFrames('fieldAnimation')">
          <div data-report-panel="heatmap" data-model-name="fieldAnimation"></div>
        </div>
        <div class="col-sm-12" data-ng-if="visualization.hasFrames('particleAnimation')">
          <div data-report-panel="particle" data-model-name="particleAnimation"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6" data-ng-if="visualization.hasFrames()">
      <div data-ng-if="! visualization.warpvndService.isEGunMode(true)" data-report-panel="parameter" data-model-name="currentAnimation"></div>
      <div data-ng-if="visualization.warpvndService.isEGunMode(true)" data-report-panel="parameter" data-model-name="egunCurrentAnimation"></div>
    </div>
    <div class="col-md-6" data-ng-if="! visualization.warpvndService.is3D() && visualization.hasFrames('impactDensityAnimation')">
      <div data-report-panel="impactDensity" data-model-name="impactDensityAnimation"></div>
    </div>
    <div class="col-md-6" data-ng-if="visualization.warpvndService.is3D() && visualization.hasFrames('particleAnimation')">
      <div data-report-panel="particle3d" data-model-name="particle3d"></div>
    </div>
  </div>
</div>

<div data-modal-editor="" view-name="simulationStatus" data-parent-controller="visualization"></div>
