<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-12">
          <div data-ng-if="source.isLaserPulse()" data-basic-editor-panel="" data-view-name="laserPulse"></div>
          <div data-ng-if="source.isElectronBeam()" data-basic-editor-panel="" data-view-name="electronBeam"></div>
        </div>
        <div class="col-sm-12">
          <div data-basic-editor-panel="" data-view-name="electronPlasma"></div>
        </div>
        <div class="col-sm-12">
          <div data-basic-editor-panel="" data-view-name="simulationGrid"></div>
        </div>
      </div>
    </div>
    <div data-ng-if="source.isLaserPulse()" class="col-md-6">
      <div data-report-panel="heatmap" data-model-name="laserPreviewReport"></div>
    </div>
    <div data-ng-if="source.isElectronBeam()" class="col-md-6">
      <div data-report-panel="heatmap" data-model-name="beamPreviewReport"></div>
    </div>
  </div> <!-- /row -->
</div> <!-- /container -->
<!-- These modal editors need to be manually created - they are modified by the source controller. -->
<div data-modal-editor="" view-name="simulationGrid"></div>
<div data-modal-editor="" view-name="electronBeam"></div>
