<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div data-basic-editor-panel="" data-view-name="analysisData"></div>
    </div>
    <div class="col-md-6" data-ng-if="analysis.hasFile()">
      <div data-report-panel="parameter" data-model-name="analysisReport">
        <div data-analysis-actions="" data-model-name="analysisReport"></div>
      </div>
    </div>
    <div data-ng-if="analysis.hasFile()" class="col-md-6">
      <div data-fft-report="" data-parent-controller="analysis"></div>
    </div>
  </div>
</div>
