
// Bootstrap SCSS overrides

//TODO(pjm): see if this can be moved to normal css variables to avoid scss compilation

$primary: #337ab7;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

$body-bg: #fff;
$body-color: #333;
$link-color: #337ab7;
$link-hover-color: darken(#337ab7, 15%);

$form-label-font-weight: 700;
$btn-font-size: 0.875rem;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px,
  xxl: 3000px,
);

$modal-md: 600px;
$modal-lg: 945px;

// Include Bootstrap SCSS files
@import 'bootstrap/scss/bootstrap.scss';
