
stepper = synergia.simulation.Independent_stepper(
    synergia.lattice.MadX_reader().get_lattice('{{ use_beamline }}', LATTICE_FILE),
    1, # map_order
    1 # num_steps
)

bunch = synergia.optics.generate_matched_bunch_transverse(
    stepper.get_lattice_simulator(),
    emit_x={{ bunch_emit_x }}, # m-rad, RMS
    emit_y={{ bunch_emit_y }}, # m-rad, RMS
    rms_z={{ bunch_rms_z }}, # z bunch size
    dpop={{ bunch_dpop }}, # unitless, RMS \frac{\delta p}{p_{tot}}
    num_real_particles=int({{ bunch_num_real_particles }}), # real particles, used for space charge, impedance, etc
    num_macro_particles=int({{ bunch_num_macro_particles }}), # Used for PIC calculations
    seed=int({{ bunch_seed }}),
    z_period_length={{ bunch_z_period_length }} # space between bunches
)
