from __future__ import absolute_import, division, print_function

import h5py
from sirepo import simulation_db
from sirepo.template import template_common
from pykern.pkcollections import PKDict
from pykern.pkdebug import pkdc, pkdp

d = PKDict({{ geomData }})

with h5py.File('{{ dataFile }}', 'w') as hf:
    template_common.dict_to_h5(d, hf, path='geometry')

#simulation_db.write_json('{{ dataFile }}', {{ geomData }})
