
{{ variables }}

{{ header_commands }}
ZD1: DRIFT,l=0;
"ZD1#0": ZD1,elemedge=0;
BL1: LINE=("ZD1#0");

FS1: fieldsolver,fstype="NONE",mt=32,mx=32,my=32;

{{ commands }}

TR1: track,beam={{ beamName }},line=BL1,maxsteps=1, dt=1e-20, zstop=0;
 run, beam={{ beamName }},distribution={{ distributionName }},fieldsolver=FS1,method="PARALLEL-T";
endtrack;
