
.sr-selected-badge {
  background-color: #fcf8e3;
  color: #333;
  border: 1px solid #777;
}

@keyframes sr-updated {
  0% {
    background: #dff0d8;
  }
  100% {
    background: none;
  }
}

.sr-updated-cell {
  animation: sr-updated 1.5s ease;
}

tr.warning td.sr-updated-cell {
  animation: none;
}

@keyframes sr-running {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sr-running-icon {
  animation: sr-running 2s linear 0s infinite;
}

.sr-row-heatmaps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.sr-row-heatmaps > [class*='col-'] {
  display: flex;
  flex-direction: column;
} 