.elegant-hover:hover .sr-lattice-close-icon {
      visibility: visible;
}
.elegant-hover .sr-lattice-close-icon:hover {
    color: #000;
}
.elegant-download-button {
  background-color: white;
}

.elegant-item-selected {
  background-color: blue;
  box-shadow: 0 0 10px gray;
  cursor: move;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-color: blue;
}
.elegant-icon {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  min-width: 5em;
}
.elegant-icon span {
  cursor: move;
}

.elegant-cmd-table table tr td.drag-enter {
  background-color: #d9edf7;
}
.elegant-cmd-table table tr td.drag-enter div.elegant-cmd-icon-holder {
  transition: padding 0.5s ease 0s;
  padding-top: 2em;
}
.elegant-cmd-table table tr td.drag-enter div.dragging {
  padding-top: 0;
}
.elegant-parameter-table-row {
  margin-bottom: 0;
  padding: 0;
}
.elegant-parameter-table-value {
  /* matching control-label */
  padding-top: 6px;
  /* normal spacing */
  padding-left: 1.7em;
}
.elegant-error-box {
  white-space: pre-wrap;
  overflow: auto;
  max-height: 180px;
}
.elegant-list-value {
    display: inline-block;
    width: 10em;
    margin-right: 1em;
    margin-bottom: 4px;
}
