@media(max-width: 480px) {
  h3 {
    font-size: 12pt;
  }
  div.navbar-brand {
    font-size: 12pt;
    padding-left: 5px;
    padding-right: 5px;
  }
  .btn-group .btn {
    font-size: 7pt;
  }
  table.lp-example-table {
    margin: 1em 0;
  }
  table.lp-example-table td {
    padding: 0.5ex 0;
  }
}

.lp-big-button {
  padding-bottom: 20px;
}

.lp-example-table {
  margin: 1em;
}

.lp-example-table td {
  padding: 0.5ex;
}

.lp-about-page {
  max-width: 50em;
  margin: 0 auto;
}

.lp-summary {
  margin-bottom: 4ex;
}

.lp-code-button {
  margin-right: 1em;
  margin-top: 12px;
  min-width: 8em;
}

body {
  font-size: 16px;
}
