.sr-lattice-item {
  user-select: none;
  cursor: move;
  border: solid 2px #777;
}
.sr-lattice-item.sr-item-selected {
  background-color: blue;
  border-color: blue;
}

.sr-lattice-item:hover, .sr-lattice-item.drag-over {
  border-color: black;
}

.sr-lattice-item-holder.drag-enter .sr-lattice-item {
  opacity: 0.7;
  transition: margin 0.5s ease 0s;
}

.sr-lattice-item-holder.drag-enter .sr-move-left {
  margin-left: -4em;
  margin-right: 4em;
}

.sr-lattice-item-holder.drag-enter .sr-move-right {
  margin-left: 4em;
  margin-right: -4em;
}

.sr-lattice-item-holder .sr-lattice-item.drag-over {
  opacity: 1.0;
  margin-left: 0;
  margin-right: 0;
}

.sr-lattice-item-holder {
  text-align: center;
  padding: 5px 0;
  display: inline-block;
  border: solid 5px white;
  border-radius: 10px;
}

.sr-lattice-item-holder.drag-enter {
  border: solid 5px lightgray;
}

.sr-lattice-close-icon {
  font-size: 16px;
  cursor: pointer;
  color: #aaa;
  visibility: hidden;
}

.sr-lattice-icon {
  background-color: #222;
  border-color: #222;
  border-radius: 0;
}

.sr-lattice-icon-disabled {
  background-color: #aaa;
  border-color: #aaa;
}

div.sr-lattice-icon-disabled span {
  cursor: not-allowed;
}

.sr-lattice-editor-panel {
  overflow: auto;
}

.sr-editor-item-hover:hover .sr-lattice-close-icon {
  visibility: visible;
}
.sr-editor-item-hover .sr-lattice-close-icon:hover {
  color: #000;
}
.sr-selected-lattice-item {
  fill: yellow !important;
  stroke: black !important;
  stroke-width: 0.01 !important;
}

.sr-lattice rect, .sr-lattice polygon, .sr-lattice line, .sr-lattice path, .sr-lattice ellipse, .sr-lattice circle {
  cursor: pointer;
}

.sr-readout-table rect#sr-readout-table-border {
  stroke-width: 1.5px;
  fill: none;
}

.sr-readout-table-active rect#sr-readout-table-border {
  stroke: blue;
  stroke-dasharray: 6px;
  stroke-dashoffset: 12px;
  animation: sr-stroke-ants 0.2s linear infinite;
}
@keyframes sr-stroke-ants {
  to {
    stroke-dashoffset: 0;
  }
}

.sr-readout-table-idle > rect#sr-readout-table-border {
  stroke: darkgray;
}
