:root {
  --sr-item-active-dark-mode: #ddd;
  --sr-item-bg-dark-mode: #555;
  --sr-item-focused-bg-dark-mode: #565656;
  --sr-link-dark-mode: #5da1e1;
  --sr-panel-bg-dark-mode: #333;
  --sr-panel-border-dark-mode: #e7e7e7;
  --sr-panel-control-dark-mode: #444;
  --sr-panel-text-dark-mode: #eee;
}
@media (prefers-color-scheme: dark) {
  a {
    color: var(--sr-link-dark-mode);
  }
  a:hover {
    color: #fff !important;
  }
  a:visited {
    color: var(--sr-link-dark-mode);
  }

  body {
    background-color: #000;
  }

  input {
    background-color: var(--sr-panel-bg-dark-mode) !important;
    color: var(--sr-item-active-dark-mode) !important;
  }

  svg.sr-plot text {
    fill: var(--sr-panel-text-dark-mode);
  }

  svg.sr-plot g.tick > line {
    stroke: var(--sr-panel-text-dark-mode);
  }

  svg.sr-plot g.axis > path {
    stroke: var(--sr-panel-text-dark-mode);
  }

  svg.sr-plot g.sr-plot-legend-item > text {
    fill: var(--sr-link-dark-mode);
  }

  svg.sr-plot g.sr-plot-legend-item > text.focus-text {
    fill: var(--sr-link-dark-mode);
  }

  svg.sr-plot g.text-block > text#x-text {
    fill: var(--sr-panel-text-dark-mode) !important;
  }

  svg.sr-plot g.text-block g.text-group > g[id^="y-text"] > text {
    fill: var(--sr-link-dark-mode);
  } 

  app-header-right-sim-loaded .nav-tabs > li.active.sim-section > a {
    color: var(--sr-item-active-dark-mode);
    background-color: var(--sr-item-focused-bg-dark-mode);
  }
  app-header-right-sim-loaded .nav-tabs > li.active.sim-section > a:hover {
    color: var(--sr-item-active-dark-mode);
    background-color: var(--sr-item-focused-bg-dark-mode);
  }
  app-header-right-sim-loaded .nav-tabs > li.active.sim-section > a:focus {
    color: var(--sr-item-active-dark-mode);
    background-color: var(--sr-item-focused-bg-dark-mode);
  }

  .btn-default {
    background-color: var(--sr-panel-control-dark-mode);
    color: var(--sr-item-active-dark-mode);
  }

  .dropdown-menu {
    background-color: var(--sr-panel-bg-dark-mode);
    color: var(--sr-item-active-dark-mode);
  }

  .dropdown-menu > li > a {
    color: var(--sr-item-active-dark-mode);
  }

  .dropdown-menu > li > a:hover {
    background-color: var(--sr-panel-bg-dark-mode);
    color: #fff !important;
  }

  .form-control {
    background-color: var(--sr-panel-control-dark-mode);
    color: var(--sr-item-active-dark-mode);
  }

  .input-group-addon {
    background-color: var(--sr-panel-bg-dark-mode) !important;
    color: var(--sr-item-active-dark-mode) !important;
  }

  .navbar  {
    background-color: #000;
  }
  .navbar-brand-text span {
    color: var(--sr-panel-text-dark-mode);
  }
  .navbar-default .navbar-nav > li > a {
    color: var(--sr-item-active-dark-mode);
  }
  .navbar-default .navbar-nav > .active > a {
    background-color: var(--sr-item-bg-dark-mode);
    color: var(--sr-item-active-dark-mode);
  }
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: var(--sr-item-focused-bg-dark-mode);
    color: var(--sr-item-active-dark-mode);
  }
  .navbar-default .navbar-nav > .active > a:hover {
    background-color: var(--sr-item-bg-dark-mode);
  }
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: var(--sr-item-focused-bg-dark-mode);
    color: var(--sr-item-active-dark-mode);
  }

  .panel-body, .modal-body {
    background-color: var(--sr-panel-bg-dark-mode);
    color: var(--sr-panel-text-dark-mode);
  }
  .panel-info {
    border-color: var(--sr-panel-border-dark-mode);
  }

  .report-window {
    fill: var(--sr-item-bg-dark-mode) !important;
    stroke: var(--sr-panel-border-dark-mode) !important;
  }

  .report-window-title-icon {
    fill: var(--sr-link-dark-mode) !important;
  }

  .report-window-title-icon.close {
    opacity: 0.5;
  }

  .report-window-title-icon.close:hover {
    opacity: 0.75;
  }

  .sr-dropdown, .sr-nav-sidebar > li.active > a {
    background-color: var(--sr-panel-bg-dark-mode);
    color: var(--sr-item-active-dark-mode);  
  }
  .sr-dropdown .ui-state-active {
    background-color: var(--sr-action);
  }


  .sr-sidebar {
    background-color: var(--sr-panel-bg-dark-mode);
  }
  .sr-slack-img {
    filter: invert(0.875);
  }
  .sr-slack-img:hover {
    filter: invert(1.0);
  }

  .table-hover > tbody > tr {
    color: #fff;
  }

  .table-hover > tbody > tr:hover {
    background-color: var(--sr-item-bg-dark-mode);
  }

}
