.radia-table-hover > tbody > tr {
  outline-style: solid;
  outline-width: 1px;
  outline-color: lightgray;
  outline-offset: -1px;
}

.radia-table-hover > tbody > tr:hover {
  outline-width: 2px;
  outline-offset: -2px;
  outline-color: #00a2c5;
}



.radia-table-hover .control-label {
    font-size: smaller !important;
}

.radia-table-hover div[data-ng-switch-when="Float"], div[data-ng-switch-when="FloatArray"], div[data-ng-switch-when="Boolean"] {
    width: 100%;
    padding-left: 0;
}

.radia-table-hover div[data-ng-switch-default] {
    width: 100% !important;
}

.radia-table-hover .toggle {
    min-height: 30px !important;
    height: 30px !important;
}

.radia-table-hover .toggle label {
    font-size: small !important;
}

.radia-table-hover input[data-string-to-number] {
    width: 4em;
    margin-right: 2px;
}

.radia-table-hover div[data-num-array] label {
    font-size: smaller;
    margin-right: 0 !important;
}
