.raydata-overflow-text {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.raydata-button {
  margin: 5px;
}
body {
  overflow-y: scroll;
}

.raydata-removable-column .raydata-remove-column-button {
  visibility: hidden;
}

.raydata-removable-column:hover .raydata-remove-column-button {
  visibility: visible;
}

.form-group-sm .raydata-search-terms select {
  text-align-last: right;
  font-weight: 700;
  font-size: 14px;
}

.model-runAnalysis-scans .control-label {
  display: none;
}

.model-runAnalysis-confirmRunAnalysis .control-label {
  display: block;
}

.model-runAnalysis-searchTerms .control-label {
  display: none;
}
