
    /* bootstrap overrides */
    .modal-header {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    .popover {
      max-width: none;
      width: 100%;
    }
    @media (min-width: 768px) {
      .modal-lg {
        width: 100%;
      }
    }
    @media (min-width: 992px) {
      .modal-lg {
        width: 945px;
      }
    }
    @media(max-width: 480px) {
      div.navbar-brand {
        font-size: 12pt;
        padding-left: 5px;
        padding-right: 5px;
      }
      div.navbar-header {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    .tooltip-inner {
      max-width: 350px;
      background-color: #f9f9f9;
      color: black;
      border: 1px solid black;
    }
    .tooltip.in {
      opacity: 1;
    }

    html, body {
      height: 100%;
      min-height: 100%;
      margin: 0;
      padding: 0;
    }

    /* allow modals to cover active popovers */
    body.modal-open div.popover {
      z-index: 1000;
    }

    /* app styles */
    .srw-toolbar-button {
        background-color: #fff;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 12px;
        margin: 2px;
    }
    .srw-toolbar-button.dragging {
      opacity: 0.7;
    }
    .srw-toolbar-button, .srw-beamline-element {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .srw-beamline {
      border-radius: 6px;
      padding: 10px;
      background-color: #eee;
      min-height: 220px;
      margin-bottom: 20px;
    }
    .srw-beamline-container {
      padding-top: 25px;
      overflow: auto;
      white-space: nowrap;
    }
    .srw-beamline-element {
      display: inline-block;
      background-color: #fff;
      position: relative;
      padding: 5px;
      padding-top: 10px;
      border: 1px solid #fff;
      margin-bottom: 5px;
      vertical-align: top;
    }
    .srw-beamline-element.dragging {
      opacity: 0.7;
    }
    .srw-beamline-image {
      min-width: 80px;
      cursor: move;
    }
    .srw-beamline-element-label {
      padding-top: 5px;
      cursor: pointer;
    }
    .srw-beamline-badge {
      position: absolute;
      top: -24px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .srw-beamline-close-icon {
      font-size: 20px;
      position: absolute;
      top: 1px;
      right: 1px;
      cursor: default;
      color: #aaa;
    }
    .srw-beamline-close-icon {
      visibility: hidden;
    }
    .srw-hover:hover {
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    .srw-hover:hover .srw-beamline-close-icon {
      visibility: visible;
    }
    .srw-hover .srw-beamline-close-icon:hover {
      color: black;
    }
    .srw-beamline-disable-icon {
      font-size: 20px;
      position: absolute;
      top: 1px;
      left: 1px;
      cursor: default;
      color: #aaa;
    }
    .srw-beamline-disable-icon {
      visibility: hidden;
    }
    .srw-hover:hover .srw-beamline-disable-icon {
      visibility: visible;
    }
    .srw-hover .srw-beamline-disable-icon:hover {
      color: black;
    }
    .srw-drop-between-zone {
      display: inline-block;
      padding: 5px;
      width: 20px;
      height: 107px;
      margin:0;
      background-color: #fff;
      vertical-align: top;
    }
    .srw-drop-between-zone.drag-enter {
      opacity: 1;
      background: blue;
      width: 40px;
      transition: all 0.5s ease 0s;
    }

    .s-panel-heading {
      font-weight: 300;
      line-height: 1.4;
      font-size: 21px;
      margin-bottom: 0;
    }
    .s-panel-options > a, .s-panel-options > div {
      margin-left: 1em;
    }

    .s-panel-error {
      background-color: #777;
    }
    .s-panel-error .s-panel-wait {
      position: absolute;
      color: #fad8de;
      display: block;
    }
    .s-panel-loading {
      background-color: #777;
    }
    .s-panel-wait {
      display: none;
    }
    .s-panel-loading .s-panel-wait {
      position: absolute;
      color: white;
      font-weight: bold;
      display: block;
      z-index: 1000;
    }
    .s-hide-report {
      opacity: 0;
    }

    /* plot styles */
    .s-plot .axis text {
      font-size: 10px;
    }
    .s-plot .axis path,
    .s-plot .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .s-plot .axis.grid {
      fill: none;
      stroke: #000;
      stroke-opacity: .1;
    }
    .s-plot .axis.grid text {
      display: none;
    }
    .s-plot text.z-axis-label,
    .s-plot text.y-axis-label,
    .s-plot text.x-axis-label {
      font-size: 14px;
      font-weight: bold;
      text-anchor: middle;
    }
    .s-plot .main-title {
      font-size: 18px;
      font-weight: bold;
      text-anchor: middle;
    }
    .s-plot .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
    .s-plot .overlay {
      fill: none;
      pointer-events: all;
    }
    .s-plot .focus circle {
      fill: none;
      stroke: steelblue;
      stroke-width: 2px;
    }
    .s-plot .focus-hint {
      font-size: 10px;
      fill: steelblue;
    }
    .s-plot .focus-text {
      font-size: 14px;
      fill: steelblue;
    }
    .s-plot rect.mouse-zoom {
      cursor: zoom-in;
    }
    .s-plot rect.mouse-move {
      cursor: move;
    }
    .s-plot rect.mouse-move-ew {
      cursor: ew-resize;
    }
    .s-plot rect.mouse-move-e {
      cursor: e-resize;
    }
    .s-plot rect.mouse-move-w {
      cursor: w-resize;
    }
    .s-plot rect.mouse-move-ns {
      cursor: ns-resize;
    }
    .s-plot rect.mouse-move-n {
      cursor: n-resize;
    }
    .s-plot rect.mouse-move-s {
      cursor: s-resize;
    }
    .s-plot .z-axis-label {
      line-height: 160%;
    }
    .s-plot-loading {
      opacity: 0.2;
    }
    .s-plot-cleared {
      opacity: 0;
    }

    @media (max-width: 767px) {
      div.s-plot .z-axis-label,
      div.s-plot .y-axis-label,
      div.s-plot .x-axis-label {
        font-size: 12px;
        font-weight: bold;
        text-anchor: middle;
      }
      div.s-plot .main-title {
        font-size: 12px;
      }
      div.s-plot .focus-text {
        font-size: 12px;
      }
    }


table td.s-center {
  text-align: center;
}
input.srw-small-float {
  text-align: right;
  width: 100%;
}
th.srw-tiny-heading {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}
.s-info-pointer {
  cursor: default;
}

input.ng-invalid.ng-dirty {
  background-color: #fad8de;
}

/* toolbar icons */
rect.srw-obstacle {
  stroke: #000;
  fill: #699;
}
rect.srw-mirror, path.srw-mirror, polygon.srw-mirror, rect.srw-crystal {
  stroke: #000;
  fill: #bdd7ee;
}
path.srw-fiber, ellipse.srw-fiber {
  stroke: #000;
  stroke-width: 1;
  fill: #c4c7ce;
}
ellipse.srw-fiber-right {
  stroke: #000;
  stroke-width: 1;
  fill: #9498a1;
}
path.srw-lens {
  stroke: #000;
  fill: #ddee00;
}
rect.srw-crl {
  fill: #333;
}
path.srw-watch {
  stroke: #000;
  fill: #fff;
}
circle.srw-watch {
  stroke: #a52a2a;
  fill: #a52a2a;
}
circle.srw-pupil {
  stroke: #000;
  fill: #000;
}
svg.srw-beamline-item-icon {
  width: 50px;
  height: 60px;
}
.srw-toolbar-button svg.srw-beamline-item-icon {
  width: 30px;
  height: 35px;
}

.s-panel-icon {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #777;
}
@media (min-width: 768px) {
  .s-panel-icon {
    font-size: 21px;
  }
}

.srw-propagation-button {
  position: absolute;
  right: 21px;
}

.navbar-nav > li > a.srw-settings-menu {
  padding: 11px 15px;
}

a:focus, a.srw-tab:focus {
  outline: none;
}

.s-clearfix-pad {
  height: 10px;
}
.s-help-icon {
  margin-right: 15px;
  color: #337ab7;
  opacity: 1;
}
.s-help-icon:hover {
  color: #286090;
  opacity: 1;
}

.s-button-bar-parent {
  display: none;
  position: relative;
}
tr:hover .s-button-bar-parent {
  display: inline;
}
.s-button-bar {
  position: absolute;
  top: -2px;
  right: 0px;
  white-space: nowrap;
  background-color: #f5f5f5;
  padding-left: 15px;
}
.s-hover-button {
  display: inline-block;
  min-width: 8em;
}

.s-drop-zone {
  display: inline-block;
  width: 10px;
}
.s-drop-zone.drag-enter {
  background-color: blue;
  width: 40px;
  transition: all 0.5s ease 0s;
}

.split-pane-divider {
  -moz-user-select: none;
}
.s-split-pane-frame {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: silver;
}
.s-split-pane-frame .split-pane > .split-pane-divider.dragged.touch {
  background: blue;
  opacity: 0.25;
}
.s-split-pane-component-inner {
  box-sizing: border-box;
  background: white;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.s-split-pane-frame div.panel {
  margin-bottom: 0;
}
.s-split-pane-frame table.table {
  margin-bottom: 0;
}

.s-dropdown-submenu {
  position: relative;
}
.s-dropdown-submenu > .dropdown-menu {
  top: 0;
  left: auto;
  right: 100%;
  margin-top: -6px;
  margin-right: -1px;
  border-radius: 4px;
}
.s-dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
li.s-dropdown-submenu > a {
  margin-right: 5px;
  white-space: normal;
}

.s-sidebar {
  margin-top: -10px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #e7e7e7;
  min-height: 80ex;
  border-radius: 4px;
  margin-left: 1ex;
  margin-right: -1ex;
  background-color: #f8f8f8;
}
ul.s-nav-sidebar {
  padding-left: 12px;
}
ul.s-nav-sidebar-root {
  padding-left: 0;
}
.s-nav-sidebar > li > a {
  padding: 7px 0 7px 16px;
}
.s-nav-sidebar > li > a:hover {
  background-color: transparent;
}
.s-nav-sidebar > li.active > a {
  color: #555;
  background-color: #e7e7e7;
}
.s-nav-icon {
  margin-right: 4px;
}
.s-small-nav-icon {
  font-size: 10px;
  margin-right: 8px;
}
.s-small-icon {
  font-size: 10px;
}
.s-iconset {
  margin-top: -10px;
}
.s-iconset a {
  text-decoration: none;
}
.s-iconset .s-icon-view-toggle {
  float: right;
  min-width: 8em;
}
.s-icon-col {
  float: left;
  margin-bottom: 9px;
  margin-right: 9px;
  height: 100px;
  width: 140px;
}
.s-thumbnail {
  padding-top: 10px;
}
.s-item-icon {
  font-size: 32px;
  display: block;
  cursor: pointer;
}
.s-transparent-icon {
  color: #f8f8f8;
  text-shadow: 1px 0px 0 #337ab7, -1px 0px 0 #337ab7, 0px 1px 0 #337ab7, 0px -1px 0 #337ab7;
}
.s-transparent-icon:hover {
  text-shadow: 1px 0px 0 #23527c, -1px 0px 0 #23527c, 0px 1px 0 #23527c, 0px -1px 0 #23527c;
}
.s-item-text {
  display: inline-block;
  max-height: 60px;
  overflow: hidden;
}
.s-folder-nav {
  font-size: 17px;
}

.elegant-beamline-element {
  float: left;
  min-width: 4em;
  line-height: 3em;
  text-align: center;
}
.s-count {
  font-size: 10px;
  font-weight: bold;
  vertical-align: top;
  margin-top: -10px;
  display: inline-block;
  padding-left: 4px;
}
.elegant-beamline-element-with-count {
  margin-left: 1em;
}
.elegant-beamline-element-group {
  background-color: lightcyan;
}
.s-drop-left {
  background-color: #82caff;
  width: 0;
  display: inline-block;
}
.elegant-beamline-element.drag-enter .s-drop-left {
  width: 4em;
}
.elegant-beamline-element.dragging {
  display: none;
}
.elegant-beamline-element.drag-enter.dragging .s-drop-left {
  width: 0;
}
.elegant-beamline-icon {
  background-color: #222;
}
.elegant-item-selected {
  background-color: blue;
  box-shadow: 0 0 25px gray;
  cursor: move;
  -moz-user-select: none;
}
.elegant-icon {
  -moz-user-select: none;
  min-width: 4em;
}
.elegant-icon span {
  cursor: move;
}
.elegant-beamline-editor-panel {
  overflow: auto;
}
