
    /* bootstrap overrides */
    .modal-header {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    .navbar-nav .nav-tabs {
      border-bottom: 0;
    }
    @media (min-width: 768px) {
      .modal-lg {
        width: 100%;
      }
    }
    @media (min-width: 992px) {
      .modal-lg {
        width: 945px;
      }
      .sr-pull-right-sm {
        float: right !important;
      }
    }
    @media(max-width: 480px) {
      div.navbar-brand {
        font-size: 12pt;
        padding-left: 5px;
        padding-right: 5px;
      }
      div.navbar-header {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    .tooltip-inner {
      max-width: 350px;
      background-color: #f9f9f9;
      color: black;
      border: 1px solid black;
    }
    .tooltip.in {
      opacity: 1;
    }

    input::-ms-clear {
      display: none;
    }

    .dropdown-menu {
      white-space: nowrap;
    }

    html, body {
      height: 100%;
      min-height: 100%;
      margin: 0;
      padding: 0;
    }

    /* allow modals to cover active popovers */
    body.modal-open div.popover {
      z-index: 1000;
    }

    /* use body font size, override 12px which changed in 3.3.7 */
    .form-horizontal .form-group-sm .control-label {
      font-size: inherit;
      padding-top: 4px;
    }

    .sr-disabled-text {
        color: #aaa;
    }
    .navbar-default .navbar-nav>li>a.sr-disabled-link {
        color:#aaa;
        cursor: not-allowed;
    }
    .sr-user-item {
        color: #008a00;
    }
    .sr-import-item {
      color: rgb(51, 51, 51);
    }
    .sr-example-item {
        font-size: 14px;
        position: absolute;
    }
    .sr-example-sim {
        left: 4.4em;
        top: 2em;
    }
    .sr-example-folder {
        color: white;
        left: 4.5em;
        top: 2em;
    }
    a.sr-disabled-link {
        color:#aaa;
        cursor: not-allowed;
    }

    /* app styles */
    .sr-toolbar-holder {
      padding: 0 -12px;
      margin-bottom: 10px;
    }
    .sr-toolbar-section {
      display: inline-block;
      border: 1px dashed #31708f;
      border-radius: 6px;
      margin: 5px;
    }
    .sr-toolbar-section-header {
      margin-top: -10px;
      color: #31708f;
    }
    .sr-toolbar-section-title {
      border: 1px solid #31708f;
      border-radius: 3px;
      padding: 0 3px;
      background-color: white;
    }

    .sr-beamline-popover {
      max-width: none;
      width: 100%;
    }
    .sr-beamline-element-title {
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      color: #337ab7;
      padding: 4px 0;
      margin-left: 2px;
    }

    .sr-settings-submenu > app-settings > app-settings a {
        padding: 3px 5px 3px 20px;
        color: #333333;
    }
    .sr-settings-submenu > app-settings > app-settings a:hover,
    .sr-settings-submenu > app-settings > app-settings a:focus {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
    }

    @media (max-width: 767px) {
        .sr-navbar-right {
            margin: 0;
        }
        .navbar-nav {
            margin: 0;
        }
    }
    @media (min-width: 768px) {
        .sr-navbar-right-flex {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            float: right;
        }
        .sr-navbar-right .dropdown-menu {
            right: 0;
            left: auto;
        }
    }

    app-header-right-sim-loaded .nav-tabs > li > a {
        margin-top: 5px;
        padding-top: 10px;
        padding-left: 12px;
        padding-right: 12px;
    }
    app-header-right-sim-loaded .nav-tabs > li.sim-section > a:hover {
        background-color: #e7e7e7;
    }
    app-header-right-sim-loaded .nav-tabs > li.active.sim-section > a,
    app-header-right-sim-loaded .nav-tabs > li.active.sim-section > a:focus,
    app-header-right-sim-loaded .nav-tabs > li.active.sim-section > a:hover {
        background-color: #fff;
    }

    .toggle-group label.btn-default.toggle-off {
        color: black;
        background-color: white;
        box-shadow: none;
    }

    .sr-bs-toggle + .toggle-group {
        transition: left 0s;
        -webkit-transition: left 0s;
    }

    .sr-notify {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    @media (min-width: 768px) {
        .sr-notify-text {
            text-align: right;
        }
        .sr-notify-pointer {
            float: right;
            padding-left: 4px;
        }
    }
    @media (max-width: 767px) {
        .sr-notify-text {
            text-align: left;
        }
        .sr-notify-pointer {
            float: left;
            padding-right: 4px;
        }
    }

    ul.sr-button-menu {
        list-style: none;
    }
    li.sr-button-menu {
        padding: 3px;
    }

    li.sr-button-menu > button.sr-button-menu-selected {
        border-width: 1px;
        border-style: solid;
        border-color: #888888;
        text-align: left;
        color: white;
        background-color: #337ab7;
    }
    li.sr-button-menu > button.sr-button-menu-selected:hover {
        color: white;
        background-color: #286090;
    }

    li.sr-button-menu > button.sr-button-menu-unselected {
        border-width: 1px;
        border-style: solid;
        border-color: #888888;
        text-align: left;
        color: black;
        background-color: #f5f5f5;
    }
    li.sr-button-menu > button.sr-button-menu-unselected:hover {
        color: white;
        background-color: #4897da;
    }

    .sr-color-map-indicator {
        width: 64px;
        height: 24px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        vertical-align: middle;
        display: inline-block;
    }
    .sr-color-button {
        width: 24px;
        height: 24px;
        margin: 2px;
        border-radius: 4px;
        display: inline-block;
    }
    .sr-color-button.selected {
        box-shadow: 0 0 5px blue;
    }

    .sr-panel-heading {
      font-weight: 300;
      line-height: 1.4;
      font-size: 21px;
      margin-bottom: 0;
    }
    .sr-panel-options > a, .sr-panel-options > div {
      margin-left: 1em;
    }

    .sr-panel-error {
      background-color: #777;
    }
    .sr-panel-error .sr-panel-wait {
      white-space: pre-line;
      color: #fad8de;
      display: block;
    }
    .sr-panel-loading {
      background-color: #777;
    }
    .sr-panel-wait {
      display: none;
    }
    .sr-panel-loading .sr-panel-wait {
      position: absolute;
      color: white;
      display: block;
      z-index: 1000;
    }
    .sr-panel-running .sr-panel-wait {
      font-weight: bold;
    }
    .sr-hide-report {
      opacity: 0;
      height: 0;
    }
    .sr-panel-active {
        border-width: 1px;
        border-color: green;
    }

    /* plot styles */
    .sr-plot .axis text {
      font-size: 12px;
    }
    .sr-plot .axis path,
    .sr-plot .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .sr-plot .axis.grid {
      fill: none;
      stroke: #000;
      stroke-opacity: .1;
    }
    .sr-plot .axis.grid text {
      display: none;
    }
    .sr-plot text.z-axis-label,
    .sr-plot text.y-axis-label,
    .sr-plot text.x-axis-label,
    .sr-plot text.frequency-label {
      font-size: 14px;
      font-weight: bold;
      text-anchor: middle;
    }
    .sr-plot .main-title {
      font-size: 18px;
      font-weight: bold;
      text-anchor: middle;
    }
    .sr-plot .sub-title {
      font-size: 14px;
      text-anchor: middle;
    }
    .sr-plot .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1px;
    }
    .sr-plot .scatter-point {
      fill: steelblue;
      stroke: none;
      cursor: pointer;
    }
    .sr-plot path.line-0 {
      stroke-width: 1.5px;
    }
    .sr-plot path.line-1 {
      opacity: 0.65;
    }
    .sr-plot path.line-2 {
      opacity: 0.6;
    }
    .sr-plot path.line-3 {
      opacity: 0.55;
    }
    .sr-plot path.line-4 {
      opacity: 0.5;
    }
    .sr-plot path.line-5 {
      opacity: 0.45;
    }
    .sr-plot path.line-6 {
      opacity: 0.4;
    }
    .sr-plot path.line-7 {
      opacity: 0.35;
    }
    .sr-plot path.line-8 {
      opacity: 0.3;
    }
    .sr-plot path.line-9 {
      opacity: 0.25;
    }
    .sr-plot path.line-10 {
      opacity: 0.20;
    }
    .sr-plot path.line-11 {
      opacity: 0.15;
    }
    .sr-plot path.line-color {
      fill: none;
      stroke-width: 2px;
    }
    .sr-plot path.line-amr-grid {
      stroke: white;
      opacity: 0.65;
    }
    .sr-plot circle.line-absorbed {
      fill: steelblue;
      stroke: steelblue;
    }
    .sr-plot path.line-reflected {
      stroke: #e04836;
      opacity: 0.35;
    }
    .sr-plot circle.line-reflected {
      stroke: #e04836;
      fill: #e04836;
    }
    .sr-plot .overlay {
      fill: none;
      pointer-events: all;
    }
    .sr-plot .disabled-overlay {
      pointer-events: none;
    }
    .sr-plot .focus circle {
      fill: none;
      stroke: steelblue;
      stroke-width: 2px;
    }
    .sr-plot .focus-hint {
      font-size: 12px;
      fill: steelblue;
    }
    .sr-plot .focus-text {
      font-size: 14px;
      fill: steelblue;
    }
    .sr-plot .focus-text-close {
        display: none;
    }
    .sr-plot .focus-text-popup {
      font-size: 14px;
      fill: steelblue;
    }

    .sr-plot rect.mouse-zoom, .sr-plot svg.mouse-zoom {
      cursor: zoom-in;
    }
    .sr-plot rect.mouse-move, .sr-plot svg.mouse-move {
      cursor: move;
    }
    .sr-plot rect.mouse-move-ew, .sr-plot svg.mouse-move-ew {
      cursor: ew-resize;
    }
    .sr-plot rect.mouse-move-e {
      cursor: e-resize;
    }
    .sr-plot rect.mouse-move-w {
      cursor: w-resize;
    }
    .sr-plot rect.mouse-move-ns {
      cursor: ns-resize;
    }
    .sr-plot rect.mouse-move-n {
      cursor: n-resize;
    }
    .sr-plot rect.mouse-move-s {
      cursor: s-resize;
    }
    .sr-plot .z-axis-label {
      line-height: 160%;
    }
    .sr-plot-loading {
      opacity: 0.2;
    }
    .sr-plot-cleared {
      opacity: 0;
    }
    .sr-plot .cross-hair {
      stroke-width: 1px;
      shape-rendering: crispEdges;
      stroke: steelblue;
    }
    .sr-plot .x-base, .sr-plot .y-base {
      font-size: 13px;
    }
    .sr-plot .popup-report {
        display: none;
    }
    .sr-plot .popup-group {
        fill: white;
    }
    .sr-plot .popup-group .report-window {
        fill: rgba(255, 255, 255, 0.90);
        stroke: blue;
    }
    .sr-plot .popup-group .report-window-title-bar {
        fill: rgba(221, 237, 246, 0.9);
        stroke: none;
        cursor: move;
    }

    .sr-plot .popup-group .report-window-title-icon {
        fill: #222;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
    }
    .sr-plot .popup-group .report-window-close {
    }
    .sr-plot .popup-group .report-window-copy {
        font-family: "Glyphicons Halflings";
        fill: #337ab7;
    }


    .sr-plot .plot-visibility {
        cursor: pointer;
        font-size: 16px;
    }
    .sr-download-png .plot-visibility {
      visibility: hidden;
    }

    @media (max-width: 767px) {
      div.sr-plot .z-axis-label,
      div.sr-plot .y-axis-label,
      div.sr-plot .x-axis-label {
        font-size: 12px;
        font-weight: bold;
        text-anchor: middle;
      }
      div.sr-plot .main-title {
        font-size: 12px;
      }
      div.sr-plot .focus-text {
        font-size: 12px;
      }
    }


    .sr-plot-particle-3d {
    }

    /* Full-screen styles */
    div:not([data-report-panel='3d']) > .panel:-webkit-full-screen {
        width: 75vw !important;
        height: 100% !important;
    }
    /* Firefox does its own thing */
    div:not([data-report-panel='3d']):-moz-full-screen > .panel {
        width: 75vw;
        height: 100%;
        margin: auto;
    }
    div:not([data-report-panel='3d']):-moz-full-screen > .panel .has-transclude {
        width: 75vw;
        height: 100%;
        margin: auto;
    }
    div:not([data-report-panel='3d']) > .panel:-ms-fullscreen {
        width: 75vw;
        height: 100%;
    }
    div:not([data-report-panel='3d']) > .panel:fullscreen {
        width: 75vw;
        height: 100%;
    }

    /* 3d reports */
    /* empty class to signify non-empty transclude - used to change layouts for some fullscreen reports */
    .has-transclude {
    }
    div[data-report-panel='3d'] > .panel:-webkit-full-screen, div[data-report-panel='heatmap'] > .panel:-webkit-full-screen {
        width: 60vw !important;
        height: 100% !important;
    }
    div[data-report-panel='3d'] > .panel:-webkit-full-screen .has-transclude {
        display: flex;
    }
    div[data-report-panel='3d']:-moz-full-screen > .panel, div[data-report-panel='heatmap']:-moz-full-screen > .panel {
        width: 60vw;
        height: 100%;
        margin: auto;
    }
    div[data-report-panel='3d']:-moz-full-screen > .panel .has-transclude {
        display: flex;
    }
    div[data-report-panel='3d'] > .panel:-ms-fullscreen, div[data-report-panel='heatmap'] > .panel:-ms-fullscreen  {
        height: 60vh;
        height: 100%;
    }
    div[data-report-panel='3d'] > .panel:-ms-fullscreen .has-transclude  {
        display: flex;
    }
    div[data-report-panel='3d'] > .panel:fullscreen, div[data-report-panel='heatmap'] > .panel:fullscreen  {
        height: 60vh;
        height: 100%;
    }
    div[data-report-panel='3d'] > .panel:fullscreen .has-transclude {
        display: flex;
    }

    /* all reports */
    div[data-report-panel] > .panel:-webkit-full-screen > div[data-panel-heading] > div[data-simple-heading] > .sr-panel-heading {
        font-weight: bold;
    }
    div[data-report-panel] > .panel:-webkit-full-screen .sr-plot .main-title {
        font-size: 24px;
    }
    div[data-report-panel] > .panel:-webkit-full-screen .sr-plot .sub-title {
        font-size: 18px;
    }
    div[data-report-panel] > .panel:-webkit-full-screen .sr-plot text.x-axis-label,
    div[data-report-panel] > .panel:-webkit-full-screen .sr-plot text.y-axis-label,
    div[data-report-panel] > .panel:-webkit-full-screen .sr-plot text.z-axis-label {
        font-size: 18px;
    }
    div[data-report-panel] > .panel:-webkit-full-screen .sr-plot .axis text {
        font-size: 16px;
    }

    div[data-report-panel]:-moz-full-screen > .panel > div[data-panel-heading] > div[data-simple-heading] > .sr-panel-heading {
        font-weight: bold;
    }
    div[data-report-panel]:-moz-full-screen > .panel .sr-plot .main-title {
        font-size: 24px;
    }
    div[data-report-panel]:-moz-full-screen > .panel .sr-plot .sub-title {
        font-size: 18px;
    }
    div[data-report-panel]:-moz-full-screen > .panel .sr-plot text.x-axis-label,
    div[data-report-panel]:-moz-full-screen > .panel .sr-plot text.y-axis-label,
    div[data-report-panel]:-moz-full-screen > .panel .sr-plot text.z-axis-label {
        font-size: 18px;
    }
    div[data-report-panel]:-moz-full-screen > .panel .sr-plot .axis text {
        font-size: 16px;
    }

    div[data-report-panel] > .panel:-ms-fullscreen > div[data-panel-heading] > div[data-simple-heading] > .sr-panel-heading {
        font-weight: bold;
    }
    div[data-report-panel] > .panel:-ms-fullscreen .sr-plot .main-title {
        font-size: 24px;
    }
    div[data-report-panel] > .panel:-ms-fullscreen .sr-plot .sub-title {
        font-size: 18px;
    }
    div[data-report-panel] > .panel:-ms-fullscreen .sr-plot text.x-axis-label,
    div[data-report-panel] > .panel:-ms-fullscreen .sr-plot text.y-axis-label,
    div[data-report-panel] > .panel:-ms-fullscreen .sr-plot text.z-axis-label {
        font-size: 18px;
    }
    div[data-report-panel] > .panel:-ms-fullscreen .sr-plot .axis text {
        font-size: 16px;
    }

    div[data-report-panel] > .panel:fullscreen > div[data-panel-heading] > div[data-simple-heading] > .sr-panel-heading {
        font-weight: bold;
    }
    div[data-report-panel] > .panel:fullscreen .sr-plot .main-title {
        font-size: 24px;
    }
    div[data-report-panel] > .panel:fullscreen .sr-plot .sub-title {
        font-size: 18px;
    }
    div[data-report-panel] > .panel:fullscreen .sr-plot text.x-axis-label,
    div[data-report-panel] > .panel:fullscreen .sr-plot text.y-axis-label,
    div[data-report-panel] > .panel:fullscreen .sr-plot text.y-axis-label {
        font-size: 18px;
    }
    div[data-report-panel] > .panel:fullscreen .sr-plot .axis text {
        font-size: 16px;
    }

table td.sr-center {
  text-align: center;
}

.sr-info-pointer {
  cursor: default;
}
ul.navbar-nav > li.sr-logged-in-menu > a {
  line-height: 1px;
}
.sr-logged-in-menu img {
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

input.ng-invalid.ng-dirty {
  background-color: #fad8de;
}
.btn-invalid {
  background-color: #fad8de;
}
input.ng-invalid.ng-invalid-email {
  background-color: transparent;
}
.navbar-nav > li > a.sr-logged-in {
  background-color: #d9edf7;
  border-radius: 20px;
  margin: 5px;
  padding: 11px 10px 15px 10px;
}
.navbar-nav > li > a.sr-logged-in:hover,
.navbar-nav > li > a.sr-logged-in:focus {
  background-color: #d9edf7;
}
.sr-help-icon {
  color: #337ab7;
  opacity: 1;
  margin-right: 10px;
}
.sr-help-icon:hover {
  color: #286090;
  opacity: 1;
}
.sr-help-icon.notes {
  position: absolute;
  bottom: 1em;
  right: 0.5em;
}

.sr-button-bar-parent {
  display: none;
  position: relative;
}
tr:hover .sr-button-bar-parent {
  display: inline;
}
.sr-button-bar {
  position: absolute;
  top: -2px;
  right: 0px;
  white-space: nowrap;
  background-color: #f5f5f5;
  padding-left: 15px;
}
.sr-button-bar-active {
    background-color: #d0e9c6;
}
.sr-hover-button {
  display: inline-block;
  min-width: 8em;
}

.sr-drop-zone {
  display: inline-block;
  width: 10px;
}
.sr-drop-zone.drag-enter {
  background-color: blue;
  width: 40px;
  transition: all 0.5s ease 0s;
}

.sr-dropdown-submenu {
  position: relative;
}
.sr-dropdown-submenu > .dropdown-menu {
  top: 0;
  left: auto;
  right: 100%;
  margin-top: -6px;
  margin-right: -1px;
  border-radius: 4px;
}
.sr-dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
li.sr-dropdown-submenu > a {
  margin-right: 5px;
  white-space: normal;
}

.sr-sidebar {
  margin-top: -10px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #e7e7e7;
  min-height: 80ex;
  border-radius: 4px;
  margin-left: 1ex;
  margin-right: -1ex;
  background-color: #f8f8f8;
}
ul.sr-nav-sidebar {
  padding-left: 12px;
}
ul.sr-nav-sidebar-root {
  padding-left: 0;
}
.sr-nav-sidebar > li > a {
  padding: 7px 0 7px 16px;
}
.sr-nav-sidebar > li > a:hover {
  background-color: transparent;
}
.sr-nav-sidebar > li.active > a {
  color: #555;
  background-color: #e7e7e7;
}
.sr-nav-icon {
  margin-right: 4px;
}
.sr-small-nav-icon {
  font-size: 10px;
  margin-right: 8px;
}
.sr-small-icon {
  font-size: 10px;
}
.sr-iconset {
  margin-top: -10px;
}
.sr-iconset a {
  text-decoration: none;
}
.sr-iconset .sr-icon-view-toggle {
  float: right;
  min-width: 8em;
}
.sr-icon-col {
  float: left;
  margin-bottom: 9px;
  margin-right: 9px;
  height: 100px;
  width: 140px;
}
.sr-thumbnail {
  padding-top: 10px;
}
.sr-item-icon {
  font-size: 32px;
  display: block;
  cursor: pointer;
}
.sr-transparent-icon {
  color: #f8f8f8;
  text-shadow: 1px 0px 0 #337ab7, -1px 0px 0 #337ab7, 0px 1px 0 #337ab7, 0px -1px 0 #337ab7;
}
.sr-transparent-icon:hover {
  text-shadow: 1px 0px 0 #23527c, -1px 0px 0 #23527c, 0px 1px 0 #23527c, 0px -1px 0 #23527c;
}
.sr-transparent-icon-user {
  color: #f8f8f8;
  text-shadow: 1px 0px 0 #008a00, -1px 0px 0 #008a00, 0px 1px 0 #008a00, 0px -1px 0 #008a00;
}

.sr-item-selected {
  background-color: blue;
  box-shadow: 0 0 10px gray;
  cursor: move;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-color: blue;
}
.sr-badge-icon {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  min-width: 5em;
}
.sr-badge-icon span {
  cursor: move;
}

    .sr-item-text {
  display: inline-block;
  max-height: 60px;
  overflow: hidden;
}
.sr-folder-nav {
  font-size: 17px;
}
.sr-enum-button {
  min-width: 8em;
}
.sr-model-list-item {
  position: relative;
}
.sr-model-list-item .glyphicon-remove {
  position: absolute;
  left: auto;
  right: 15px;
  top: 7px;
  opacity: 0.5;
}
li.sr-model-list-item > a {
  padding-right: 3em;
}
.sr-model-list-item .glyphicon-remove:hover {
  opacity: 1;
  color: #d9534f;
}

.sr-input-warning {
  font-style: italic;
  font-size: 95%;
  color: #ff0000;
  align-self: center;
}

.sr-page-load {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.5);
    text-align: center;
}
.sr-page-load-image {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -23px 0 0 -24px;
    display: block;
}
.sr-page-load-text {
    display: inline-block;
    font-size: 16pt;
    font-weight: bold;
    color: rgb(1, 80 , 147);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    margin-top: calc(23px + 0.75em);
}

.sr-parameter-table-row {
  margin-bottom: 0;
  padding: 0;
}

.sr-drop-left {
  background-color: #d9edf7;
  width: 0;
  display: inline-block;
}

.sr-drag-clone-hidden {
  opacity: 0;
}

.sr-plot .bar rect {
  shape-rendering: crispEdges;
  fill: steelblue;
}
.sr-plot .resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}
.sr-plot .brush .extent {
  stroke: #fff;
  stroke-opacity: .6;
  stroke-width: 2px;
  fill-opacity: .1;
  shape-rendering: crispEdges;
}
.sr-flip-glyph {
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.sr-rotate-glyph {
  transform: rotate(-45deg);
}
.sr-circle-glyph {
  font-size: 24px;
  line-height: 13px;
  position: relative;
  top: 3px;
}

.sr-plot .plane-dragline {
  stroke: red;
  stroke-opacity: 0;
  fill: none;
  stroke-width: 15px;
  pointer-events: none;
}
.sr-plot .selectable-path {
  pointer-events: visibleStroke;
}
.sr-plot .plane-dragline:hover {
  stroke-opacity: 0.3;
  stroke: steelblue;
}
.sr-plot .plane-dragline-x {
  cursor: ew-resize;
}
.sr-plot .plane-dragline-y {
  cursor: ns-resize;
}

/* for Split.js */
.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.gutter {
  background-color: #eee;;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('../img/grips-vertical.png');
}
.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('../img/grips-horizontal.png');
}
.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

/* katex */
.katex {
  font-size: 1em;
  white-space: nowrap;
}
label .katex {
  font-weight: 700;
}
.tooltip .katex {
  font-size: 16px;
  font-weight: normal;
}
.latex-title .katex {
    font-size: 18px;
}
