
    /* bootstrap overrides */
    .modal-header {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    .popover {
      max-width: none;
      width: 100%;
    }
    @media (min-width: 768px) {
      .modal-lg {
        width: 100%;
      }
    }
    @media (min-width: 992px) {
      .modal-lg {
        width: 900px;
      }
    }

    body {
      min-height: 1000px;
    }

    /* allow modals to cover active popovers */
    body.modal-open div.popover {
      z-index: 1000;
    }

    /* app styles */
    .srw-toolbar-button {
        background-color: #fff;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 12px;
        margin: 2px;
    }
    .srw-toolbar-button.dragging {
      opacity: 0.7;
    }
    .srw-beamline {
      border-radius: 6px;
      padding: 10px;
      background-color: #eee;
      min-height: 220px;
      margin-bottom: 20px;
    }
    .srw-beamline-container {
      padding-top: 25px;
      overflow: auto;
      white-space: nowrap;
    }
    .srw-beamline-element {
      display: inline-block;
      background-color: #fff;
      position: relative;
      padding: 5px;
      padding-top: 10px;
      border: 1px solid #fff;
      margin-bottom: 5px;
      vertical-align: top;
    }
    .srw-beamline-element.dragging {
      opacity: 0.7;
    }
    .srw-beamline-image {
      min-width: 80px;
      cursor: move;
    }
    .srw-beamline-element-label {
      padding-top: 5px;
      cursor: pointer;
    }
    .srw-beamline-badge {
      position: absolute;
      top: -24px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .srw-beamline-close-icon {
      font-size: 20px;
      position: absolute;
      top: 1px;
      right: 1px;
      cursor: default;
      color: #aaa;
    }
    .srw-beamline-close-icon {
      visibility: hidden;
    }
    .srw-hover:hover {
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    .srw-hover:hover .srw-beamline-close-icon {
      visibility: visible;
    }
    .srw-hover .srw-beamline-close-icon:hover {
      color: black;
    }
    .srw-drop-between-zone {
      display: inline-block;
      padding: 5px;
      width: 20px;
      height: 107px;
      margin:0;
      background-color: #fff;
      vertical-align: top;
    }
    .srw-drop-between-zone.drag-enter {
      opacity: 1;
      background: blue;
      width: 40px;
      transition: all 0.5s ease 0s;
    }

    .srw-panel-options > a, .srw-panel-options > div {
      margin-left: 1em;
    }
    .cssFade {
        transition: 0.5s linear all;
        opacity: 1;
    }
    .cssFade.ng-hide {
        opacity: 0;
    }

    .srw-panel-error {
      background-color: #777;
    }
    .srw-panel-error .srw-panel-wait {
      position: absolute;
      color: #fad8de;
      display: block;
    }
    .srw-panel-loading {
      background-color: #777;
    }
    .srw-panel-wait {
      display: none;
    }
    .srw-panel-loading .srw-panel-wait {
      position: absolute;
      color: white;
      font-weight: bold;
      display: block;
      z-index: 1000;
    }
    .srw-hide-report {
      opacity: 0;
    }

    div.srw-slider-values {
      margin-left: 30px;
    }
    .srw-panel-loading div.srw-slider-values {
      display: none;
    }
    div.slider-horizontal {
      margin: 0 1em;
      min-width: 160px;
    }

    /* plot styles */
    .srw-plot .axis text {
      font-size: 10px;
    }
    .srw-plot .axis path,
    .srw-plot .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .srw-plot .axis.grid {
      fill: none;
      stroke: #000;
      stroke-opacity: .1;
    }
    .srw-plot .axis.grid text {
      display: none;
    }
    .srw-plot text.z-axis-label,
    .srw-plot text.y-axis-label,
    .srw-plot text.x-axis-label {
      font-size: 14px;
      font-weight: bold;
      text-anchor: middle;
    }
    .srw-plot .main-title {
      font-size: 18px;
      font-weight: bold;
      text-anchor: middle;
    }
    .srw-plot .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
    .srw-plot .overlay {
      fill: none;
      pointer-events: all;
    }
    .srw-plot .focus circle {
      fill: none;
      stroke: steelblue;
      stroke-width: 2px;
    }
    .srw-plot .focus-text {
      font-size: 14px;
    }
    .srw-plot rect.mouse-zoom {
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
    }
    .srw-plot rect.mouse-move {
      cursor: -webkit-move;
      cursor: move;
    }
    .srw-plot .z-axis-label {
      line-height: 160%;
    }
    .srw-plot-loading {
      opacity: 0.2;
    }

    @media (max-width: 767px) {
      div.srw-plot .z-axis-label,
      div.srw-plot .y-axis-label,
      div.srw-plot .x-axis-label {
        font-size: 12px;
        font-weight: bold;
        text-anchor: middle;
      }
      div.srw-plot .main-title {
        font-size: 12px;
      }
      div.srw-plot .focus-text {
        font-size: 12px;
      }
    }


table td.srw-center {
  text-align: center;
}
input.srw-small-float {
  text-align: right;
  width: 100%;
}
th.srw-tiny-heading {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}
.srw-info-pointer {
  cursor: pointer;
}

input.ng-invalid.ng-dirty {
  background-color: #fad8de;
}

/* toolbar icons */
rect.srw-obstacle {
  stroke: #000;
  fill: #699;
}
rect.srw-mirror, path.srw-mirror, polygon.srw-mirror {
  stroke: #000;
  fill: #bdd7ee;
}
path.srw-lens {
  stroke: #000;
  fill: #ddee00;
}
rect.srw-crl {
  fill: #333;
}
path.srw-watch {
  stroke: #000;
  fill: #fff;
}
circle.srw-watch {
  stroke: #a52a2a;
  fill: #a52a2a;
}
circle.srw-pupil {
  stroke: #000;
  fill: #000;
}
svg.srw-beamline-item-icon {
  width: 50px;
  height: 60px;
}
.srw-toolbar-button svg.srw-beamline-item-icon {
  width: 30px;
  height: 35px;
}
