.warpvnd-inset-tile {
  stroke: rgb(0, 0, 0);
  stroke-width: 1px;
  stroke-dasharray: 2;
  fill: white;
}
.warpvnd-inset-tile-warning {
  stroke: red;
}
.warpvnd-plate {
  stroke: rgb(228, 176, 95);
  fill: rgba(255, 146, 105, 0.3);
  cursor: pointer;
}
.warpvnd-plate-voltage {
  fill: rgba(105, 146, 255, 0.3);
  stroke: rgb(95, 176, 228);
}
.warpvnd-shape {
  stroke: rgb(228, 176, 95);
  fill: rgba(255, 146, 105, 0.3);
  cursor: move;
  stroke-width: 2;
}
.warpvnd-shape-voltage {
  stroke: rgb(95, 176, 228);
  fill: rgba(105, 146, 255, 0.3);
 }
.warpvnd-shape-noncrossing {
  stroke: rgb(255, 0, 0);
  stroke-dasharray: 1,2;
  fill: rgba(255, 0, 0, 0.0);
 }
.warpvnd-shape:hover {
  fill: lightgreen;
  filter: drop-shadow(2px 2px 2px #999);
}
.warpvnd-shape-noncrossing:hover {
  stroke: rgb(255, 0, 0);
  fill: rgba(255, 0, 0, 0.0);
}
.warpvnd-shape-inactive {
  opacity: 0.5;
}
.warpvnd-drag-shadow {
  fill: black;
  stroke-width: 0;
  filter: drop-shadow(2px 2px 2px #999);
}
.warpvnd-drag-shadow:hover {
  fill: black;
}
.table-hover > tbody > tr.warpvnd-conductor-th {
  background-color: inherit;
}
.warpvnd-scatter-point {
  stroke: rgba(99, 99, 99, 0.7);
  stroke-width: 1;
  fill: rgb(0, 230, 0);
  cursor: pointer;
}
.warpvnd-opt-point {
  stroke: rgba(99, 99, 99, 0.7);
  stroke-width: 2;
  fill: white;
}
.warpvnd-well {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 9px;
  white-space: pre;
  background-color: white;
}
