Dear {{ display_name }},

You recently tried to login to {{ product_name }}. We need some more information in order to process your login request.

Would you please let us know how you heard about {{ product_name }}?

How do you intend to use {{ product_name }}?

We need this information to prevent abuse of our servers.

Thank you for your understanding.

Sincerely,

Sirepo Support
