from pmd_beamphysics import pmd_init
from pykern import pkio
from rslume import Elegant, OPAL, Genesis2
import h5py
import numpy
import os

# patch numpy
numpy.float = float


def run_and_save_particles(sim):
    pkio.mkdir_parent(sim.workdir)
    sim.run()
    p = sim.final_particles()
    if p:
        with h5py.File(os.path.join(sim.workdir, "{{ particleOutfile }}"), "w") as f:
            pmd_init(f, basePath="/", particlesPath="/" )
            p.write(f)
    return sim


{% for sim in simCall %}
{{ sim.name }} = run_and_save_particles(
    {{ sim.code }}(
        input_file="{{ sim.name }}/{{ sim.input_file }}",
        use_temp_dir=False,
        workdir="{{ sim.name}}/{{ sim.out }}",
        initial_particles={{ sim.initial_particles }},
        {% if sim.update_filenames %}
        update_filenames=True,
        {% endif %}
    ),
)

{% endfor %}
