from pmd_beamphysics import pmd_init
from pykern import pkio
from rslume import Elegant, OPAL, Genesis2
import h5py
import os

# patch numpy
import numpy
numpy.float = float


def code_kwargs(src_dir, input_file):
    workdir = f"{src_dir}/out"
    pkio.mkdir_parent(workdir)
    return dict(
        input_file=f"{src_dir}/{input_file}",
        workdir=workdir,
        verbose=True,
        use_temp_dir=False,
    )


def run_and_save_particles(sim):
    sim.run()
    p = sim.final_particles()
    if p:
        with h5py.File(os.path.join(sim.workdir, "{{ particleOutfile }}"), "w") as f:
            pmd_init(f, basePath='/', particlesPath='/' )
            p.write(f)


{% for sim in simCall %}
{{ sim }}

{% endfor %}
