from pykern.pkcollections import PKDict
from rslaser.utils import srwl_uti_data
from sirepo.template import template_common
import h5py
import numpy

def _build_pulse():
    from rslaser.pulse import pulse
    return pulse.LaserPulse(
        params=PKDict(
            {% for f in (
                'chirp',
                'mx',
                'my',
                'nslice',
                'num_sig_long',
                'num_sig_trans',
                'nx_slice',
                'ny_slice',
                'pad_factor',
                'photon_e_ev',
                'poltype',
                'pulseE',
                'sigx_waist',
                'sigy_waist',
                'tau_fwhm'
            ) %}
            {{ f }}={{ laserPulse[f] }},
            {% endfor %}
        ),
        {% if laserPulse.distribution == "file" %}
        files=PKDict(
            ccd="{{ ccdFile }}",
            meta="{{ metaFile }}",
            wfs="{{ wfsFile }}",
        ),
        {% endif %}
    )


pulse = _build_pulse()
