{% extends "templates/page.html" %}
{% block nav_bar_right_items %}
<li>
    <a id="sirepo-slack-link" href="https://slack.sirepo.com">
         <span>
             <img style="filter: invert(0.5);" width="70" src="/static/svg/slack.svg" title="Join us on Slack"/>
        </span>
    </a>
</li>
<script>
const SIREPO = {};
</script>
<script src="/auth-state">
</script>
<script>
    const slackUri = SIREPO.authState.slackUri;
    console.log('Link: ', slackUri);
    document.getElementById('sirepo-slack-link').href = slackUri;
</script>
{{ super() }}
{% endblock %}
