title, "{{ simulation_name }}";

{{ variables }}
{{ lattice }}

{% if useBeamline %}
beam, particle={{ beamParticle }}, pc={{ beamPC }};
use, sequence={{ useBeamline }};
twiss, file="twiss.tfs";
{% endif %}
