.popover-buttons {
    bottom: 0;
    position: absolute; 
    right: 5px;
    white-space: nowrap;
    display: inline;
    float: inline-end;
    border: none !important;
}

.popover-buttons-outer {
    position: relative;
    width: 0;
}

.popover-button {
    margin-left: 10px;
    color: white !important;
}

