# -*- python -*-
import os
import papermill
from pykern import pkio
from pykern.pkdebug import pkdlog, pkdexc

def _main():
    try:
        # Creating the directory acts as a lock. If we are able to
        # create the dir then we get the "lock". If the dir already
        # exists then another agent has it locked or the analysis is
        # completed.
        os.makedirs('{{ scan_dir }}')
    except FileExistsError:
        return
    # TODO(e-carlin): this save_chdir will have a path that doesn't
    # make sense on user's machine when user downloads parameters.py
    # (could expose our paths too)
    with pkio.save_chdir('{{ scan_dir }}'):
        try:
            papermill.execute_notebook(
                input_path='{{ input_name }}',
                kernel_name='py3',
                log_output=True,
                output_path='{{ output_name }}',
                parameters=dict(uid='{{ scan_uid }}'),
            )
        except Exception:
            pkdlog('Error running uid={} error={}', '{{ scan_uid }}', pkdexc())
            raise

_main()
