
from rswarp.diagnostics import ImpactDensity
try:
    plot_density = ImpactDensity.PlotDensity(None, None, scraper, wp.top, wp.w3d)
    plot_density.gate_scraped_particles()
    plot_density.map_density()
    for gid in plot_density.gated_ids:
        for side in plot_density.gated_ids[gid]:
            del plot_density.gated_ids[gid][side]['interpolation']
    density_results = {
        'gated_ids': plot_density.gated_ids,
        'dx': plot_density.dx,
        'dz': plot_density.dz,
        'min': plot_density.cmap_normalization.vmin,
        'max': plot_density.cmap_normalization.vmax,
    }
except AssertionError as e:
    density_results = {
        'error': e.message,
    }
np.save('{{ densityFile }}', density_results)
