.sr-sim-icon-view-base {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.sr-sim-icon-view-icon {
    width: 40px;
    height: 40px;
    
}

.sr-sim-icon-view-icon-outer {
    margin: auto;
}

.sr-sim-icon-view-name {
    width: 100%;
    text-align: center;
    font-size: small;
}

.sr-sim-icon-view {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.sr-sim-tree-view-item {
    font-size: small;
    margin-bottom: 10px;
}

.sr-sim-route-header {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px;
}

.sr-sim-route-header-text {
    margin-left: 8px;
    font-size: 20px;
}

.sr-sim-browser-header {
}