# {{simulation_name}}

ini_file = """
[NUMERIC]
Number of Mesh Points = {{simulationSettings_meshPoints}}
Spline Interpolation = {{simulationSettings_splineInterpolation}}
Smoothing = {{simulationSettings_smoothing}}
"""

input_file = """
{{ optionsCommand }}
{{ solenoidCommand }}
{{ chargeCommand }}
{{ beamCommand }}
{{ currentCommand }}
{{ latticeCommands }}
END
"""
