
$primary: darken(#428bca, 6.5%);
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

$font-size-base: 0.9rem;
$form-label-font-weight: 700;
$form-feedback-icon-invalid: none;

$tooltip-max-width: 350px;
$tooltip-color: black;
$tooltip-opacity: 1;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px,
  xxl: 3000px
);

@import "~bootstrap/scss/bootstrap";

a {
  cursor: pointer;
}

.form-control.is-invalid {
  background-color: #fad8de;
  padding-right: 0.5rem;
}
.form-select.is-invalid {
  background-color: #fad8de;
}

/* couldn't get a border via sass on standard bootstrap tooltip */
.tooltip-inner {
  background-color: #f9f9f9;
  color: black;
  border: 1px solid black;
}

.app-body {
    margin-top: 25px;
}

.btn-light {
  --bs-btn-border-color: #ccc;
}

.form-label {
  padding-top: 2px;
}
