import mpi4py
import sirepo.template.radia
from sirepo.template import radia_util
from sirepo.template import radia
from pykern.pkcollections import PKDict
from pykern.pkdebug import pkdp
from pykern import pkjson


def field_data():
    from pykern import pkjson
    from pykern import pkio

    return radia.generate_field_data('{{ sim_id }}', radia.get_g_id(), '{{ name }}','{{ f_type }}', [PKDict({{ f_path }})]).data[0].vectors

with radia_util.MPI() as m:
    print(f'RANK {mpi4py.MPI.COMM_WORLD.Get_rank()}')
    pkjson.dump_pretty(field_data(), "field_data.json")
