from __future__ import absolute_import, division, print_function

import h5py
import sirepo.mpi
from pykern.pkcollections import PKDict
from sirepo.template import radia_util
from sirepo.template import template_common

def _write_dict_to_h5(data, h5_path):
    sirepo.mpi.restrict_op_to_first_rank(
        lambda: template_common.write_dict_to_h5(data, '{{ dataFile }}', h5_path=h5_path)
    )

g_id = -1
with open('{{ dmpOutputFile }}', 'rb') as f:
    g_id = radia_util.load_bin(f.read())

with radia_util.MPI() as m:
    km = radia_util.kick_map(
        g_id, [{{ kickMap.begin }}], [{{ kickMap.direction }}], {{ kickMap.numPeriods }}, {{ kickMap.periodLength }},
        [{{ kickMap.transverseDirection }}], {{ kickMap.transverseRange1 }}, {{ kickMap.numTransPoints1 }},
        {{ kickMap.transverseRange2 }}, {{ kickMap.numTransPoints2 }}
    )
    m.barrier()
    km_dict = PKDict(
        h=km[0],
        v=km[1],
        lmsqr=km[2],
        x=km[3],
        y=km[4],
        txt=km[5]
    )
    _write_dict_to_h5(km_dict, '{{ h5KickMapPath }}')
