#!/bin/bash
set -euo pipefail
run_rsopt=( rsopt optimize configuration '{{ ymlFileName }}' )
"${run_rsopt[@]}" > '{{ outFileName }}' 2>&1
if [ $? -ne 0 ]
then
    echo "ERROR: rsopt failed with return code $?, see {{ outFileName }}"
    exit 99
fi
