n_particle: {{ beam_Np }}
random_type: hammersley
species: {{ distgen_species }}

start:
  type: cathode
  MTE: {{ distgen_cathode_mte }} eV

total_charge: {{ distgen_total_charge }} C

xy_dist:
  file: {{ distgenXYFile }}
  type: file2d

t_dist:
  type: gaussian
  avg_t: 0 s
  sigma_t: {{ distgen_sigma_t }} s
  n_sigma_cutoff: 3

transforms:
  r:
    type:
      set_avg x
    avg_x: 0 m
